@import "../mixin/position.styl"

$dice-space = 0.4rem

.dice-face
  position relative
  display block
  padding 0.3rem
  width 2rem
  height 2rem
  border 1px solid #000000
  border-radius 0.5rem
  background-color #ffffff

  &__point
    position absolute
    display block
    width 0.5rem
    height 0.5rem
    border-radius 50%
    background-color #000000

    &:nth-of-type(1)
      letfTopPosition($dice-space)

    &:nth-of-type(2)
      rightBottomPosition($dice-space)

    &:nth-of-type(3)
      letfBottomPosition($dice-space)

    &:nth-of-type(4)
      rightTopPosition($dice-space)

    &:nth-of-type(5)
      rightCenterPosition($dice-space)

    &:nth-of-type(6)
      leftCenterPosition($dice-space)

  &--1
    .dice-face__point
      &:nth-of-type(1)
        centerPosition()
        width 0.8rem
        height 0.8rem
        background-color red

  &--2
    .dice-face__point
      &:nth-of-type(2)
        rightBottomPosition($dice-space)

  &--3
    .dice-face__point
      &:nth-of-type(2)
        centerPosition()

      &:nth-of-type(3)
        rightBottomPosition($dice-space)

  &--5
    .dice-face__point
      &:nth-of-type(2)
        rightTopPosition($dice-space)

      &:nth-of-type(3)
        centerPosition()

      &:nth-of-type(4)
        letfBottomPosition($dice-space)

      &:nth-of-type(5)
        rightBottomPosition($dice-space)
