$porker-suits-image = "img/card_100100.png"

.poker-card
  width 28px
  border 1px solid #cccccc
  background-color #ffffff
  box-shadow 1px 1px 2px #797979

  &__board
    margin auto
    width 25px
    height 25px
    background-size 50px 50px

    &--S
      background-image url($porker-suits-image)
      background-position 2px 0px
      background-size 55px 50px

    &--H
      background-image url($porker-suits-image)
      background-position -25px 0px

    &--D
      background-image url($porker-suits-image)
      background-position 1px 25px
      background-size 60px 50px

    &--C
      background-image url($porker-suits-image)
      background-position -25px 25px

  &__value
    display flex
    justify-content center
    align-items center
    height 24px
    text-align center
    font-weight bold

    &--S
      color #000000

    &--H
      color #d40000

    &--D
      color #d40000

    &--C
      color #000000
