input()
  box-sizing border-box
  padding 0 0.4rem
  height 2rem
  border 1px solid #424242

  &:focus
    outline none
    border-color #4195fc
    box-shadow 0 0 0.3rem #4195fc
    transition box-shadow linear 0.5s
