<template lang="pug">
.basic-account-info__content
  .basic-account-info__list(v-for="x in topAgentData")
    .basic-account-info__list-item
      .basic-account-info__list-label {{ x.label }}
      .basic-account-info__list-content(:id="x.QA_ID") {{ x.value }}
</template>

<script>
import { mapState } from "vuex"

export default {
  props: { infoData: { type: Object } },
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main }),
    topAgentData() {
      if (Object.keys(this.infoData).length > 0) {
        return [
          { QA_ID: "labAccountInBasicInfo", label: `${this.i18n.label.ACCOUNT} ： `, value: this.infoData.account },
          { QA_ID: "labNickNameInBasicInfo", label: `${this.i18n.label.NICKNAME} ： `, value: this.infoData.nickname },
          {
            QA_ID: "labAgentCodeInBasicInfo",
            label: `${this.i18n.label.IDENTIFICATION_CODE} ： `,
            value: this.infoData.code
          },
          {
            QA_ID: "labPhoneInBasicInfo",
            label: `${this.i18n.label.PHONE_NUMBER} ： `,
            value: this.infoData.mobile
          },
          { QA_ID: "labEmailInBasicInfo", label: `${this.i18n.label.EMAIL} ： `, value: this.infoData.email },
          {
            QA_ID: "labCurrencyTypeInBasicInfo",
            label: `${this.i18n.label.CURRENCY} ： `,
            value: this.infoData.currencyName + "(" + this.infoData.currencyCode + ")"
          }
        ]
      } else {
        return []
      }
    }
  }
}
</script>
