<template lang="pug">
header.header
  .header__logo
    router-link(:to="{name:'index'}")
      img(src="/img/home.png")
      span(v-if="isOverlord === true") {{ i18n.title.OVERLORD_LOGO }}
      span(v-else) {{ i18n.title.LOGO }}

  .header__list
    .header__item(id="labUserInfo") {{userAccount}} {{ i18n.label.HELLO }}

    .header__item.is-clickable(
      id="btnEditPwd"
      @click="showModifyPasswordDialog"
    ) {{ i18n.label.CHANGE_PASSWORD }}

    .header__item.is-clickable(
      id="btnLogout"
      @click="logout"
    ) {{ i18n.label.LOGOUT }}

    .header__item
      LanguageSelect(domId="~xxx~")

    .header__item(v-if="isOverlord === true")
      TimezoneSelect

  el-dialog(
    :visible.sync="dialogVisible"
    v-if="dialogVisible"
    width="500px"
    custom-class="general-modal"
    :before-close="hidePasswordDialog"
    :show-close="false"
    :append-to-body="true"
    center
  )
    #divModifyPwdInModifyPwd
      .modal__title {{ i18n.label.CHANGE_PASSWORD}}

      .modal__row.header__row
        .modal__label {{ `${i18n.label.OLD_PASSWORD}* :` }}
        UserPasswordInput(
          domId="iptOldPwdInEditPwd"
          :isRequired="true"
          @input="setOldPassword"
          ref="userPasswordInput"
        )

      .modal__row.header__row
        .modal__label {{ `${i18n.label.NEW_PASSWORD}* :` }}
        UserPasswordInput(
          domId="iptNewPwdInEditPwd"
          :isRequired="true"
          :placeholder="i18n.label.PASSWORD_LIMIT"
          @input="setNewPassword"
          ref="userNewPasswordInput"
        )

      .modal__row.header__row
        .modal__label {{ `${i18n.label.COMFIRM_PASSWORD}* :` }}
        UserPasswordInput(
          domId="iptConfirmPwdInEditPwd"
          :isRequired="true"
          :placeholder="i18n.label.INPUT_PASSWORD_AGAIN"
          :recheckPassword="newPassword"
          ref="userNewPasswordConfirmInput"
        )

      .modal__action-bar.header__action-bar
        .secondary-button.modal__item(
          id="btnCancelInEditPwd"
          @click="hidePasswordDialog"
        ) {{ i18n.label.CANCEL }}

        .primary-button.modal__item(
          id="btnOKInEditPwd"
          @click="changeUserPassword"
        ) {{ i18n.label.COMFIRM }}
</template>

<script>
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { userLogout, changePassword } from "@/api/User.js"
import { mapState, mapGetters } from "vuex"
import UserPasswordInput from "@/components/inputs/UserPassword.vue"
import LanguageSelect from "@/components/selects/Language.vue"
import TimezoneSelect from "@/components/selects/Timezone.vue"

export default {
  components: {
    UserPasswordInput,
    LanguageSelect,
    TimezoneSelect
  },
  mixins: [ErrorMessageMixin],
  data: () => ({ dialogVisible: false, oldPassword: "", newPassword: "" }),
  computed: {
    ...mapGetters("member", ["isOverlord"]),
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("member", { userAccount: state => state.id }),
    ...mapState("member", ["loginToken"])
  },
  methods: {
    setOldPassword(data) {
      this.oldPassword = data
    },
    setNewPassword(data) {
      this.newPassword = data
    },
    async logout() {
      try {
        const res = await userLogout(this.loginToken)
        if (res.exitCode !== true) {
          throw new Error(this.parseErrorMessage(res))
        } else {
          this.$store.dispatch("member/removeUserLoginData")
          this.$destroy()
          window.location.replace("/login.html")
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    showModifyPasswordDialog() {
      this.$validator.resume()
      this.dialogVisible = true
    },
    hidePasswordDialog() {
      this.dialogVisible = false
      this.cleanUpInputs()
      this.$validator.pause()
    },
    cleanUpInputs() {
      this.oldPassword = ""
      this.newPassword = ""
      this.retypedPassword = ""
    },
    async validInputs() {
      const result = await Promise.all([
        this.$refs["userPasswordInput"].validate(),
        this.$refs["userNewPasswordInput"].validate(),
        this.$refs["userNewPasswordConfirmInput"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async changeUserPassword() {
      const validResult = await this.validInputs()
      if (validResult !== true) return

      try {
        const payload = { oldPassword: this.oldPassword, newPassword: this.newPassword, loginToken: this.loginToken }
        const res = await changePassword(payload)

        if (res.exitCode === true) {
          this.$alert(`修改密碼成功`, {
            showClose: false,
            customClass: "_c_MsgBox",
            callback: () => {
              this.dialogVisible = false
            },
            showCancelButton: false,
            confirmButtonText: "確定",
            closeOnPressEscape: false
          })
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    }
  }
}
</script>

<style scoped lang="stylus">
$header-height = 3rem
$header-logo-width = 10%

.header
  display flex
  align-items center
  width 100%
  height $header-height
  background-color #515151

  &__row
    grid-template-columns 50% 50%

  &__action-bar
    margin-top 2rem

  &__logo
    display flex
    justify-content center
    align-items center
    min-width 12rem
    width $header-logo-width
    color #ffffff
    font-weight bold
    font-style normal
    font-size 1.4rem
    font-family "微軟正黑體 Bold", "微軟正黑體"

  &__list
    display flex
    justify-content flex-start
    width 90%

  &__item
    display flex
    justify-content center
    align-items center
    padding 0 1rem
    min-width 6.5rem
    height $header-height
    color #ffffff
    text-align center
    font-weight bold
    font-size 0.75rem
</style>
