<template lang="pug">
.pagination-bar
  .pagination-bar__container
    .pagination-bar__first.pagination-bar__indicate(
      :id="domIdList.firstPage"
      @click="visitFirstPage()"
      :class="[ indexOnFirst ? 'pagination-bar--is-frozen' : '' ]"
    )
      .el-icon-caret-left
      .el-icon-caret-left

    .pagination-bar__previous.pagination-bar__indicate(
      :id="domIdList.previousPage"
      @click="visitPreviousPage()"
      :class="[ indexOnFirst ? 'pagination-bar--is-frozen' : '' ]"
    )
      .el-icon-caret-left


    ValidationProvider(
      :rules="{ required: true, integer: true, min_value: 1, max_value: totalPagings }"
      v-slot="{ errors, classes, validate }"
      ref="vee"
    )
      input.pagination-bar__input-page(
        :id="domIdList.inputPage"
        type="text"
        :class="classes"
        @blur="validate"
        v-model="inputPage"
      )

    .pagination-bar__saparate {{ " / " }}

    .pagination-bar__total-pagings {{ totalPagings }}

    .button.pagination-bar__submit(
      :id="domIdList.actionButton"
      @click="visitPageByIndex()"
      :class="[ isOnTheSamePage ? 'pagination-bar--is-frozen' : '' ]"
    ) Go

    .pagination-bar__next.pagination-bar__indicate(
      :id="domIdList.nextPage"
      @click="visitNextPage()"
      :class="[ indexOnLast ? 'pagination-bar--is-frozen' : '' ]"
    )
      .el-icon-caret-right

    .pagination-bar__last.pagination-bar__indicate(
      :id="domIdList.lastPage"
      @click="visitLastPage()"
      :class="[ indexOnLast ? 'pagination-bar--is-frozen' : '' ]"
    )
      .el-icon-caret-right
      .el-icon-caret-right
</template>

<script>
import { ValidationProvider } from "vee-validate"

export default {
  components: {
    ValidationProvider
  },
  created() {
    this.inputPage = this.currentPage
  },
  props: {
    domIdList: { type: Object, required: true },
    totalPagings: {
      type: Number,
      required: true,
      validator(value) {
        return Number.isInteger(value)
      }
    },
    pagingIndex: {
      type: Number,
      required: true,
      validator(value) {
        return Number.isInteger(value)
      }
    }
  },
  data: () => ({
    inputPage: ""
  }),
  computed: {
    currentPage() {
      return this.pagingIndex + 1
    },
    indexOnFirst() {
      return this.pagingIndex === 0
    },
    indexOnLast() {
      return this.pagingIndex === this.totalPagings - 1
    },
    isOnTheSamePage() {
      return this.currentPage === parseInt(this.inputPage)
    }
  },
  watch: {
    currentPage: function(value) {
      this.inputPage = value
    }
  },
  methods: {
    visitFirstPage() {
      if (this.pagingIndex > 0) {
        this.onChange(0)
      }
    },
    visitLastPage() {
      if (this.pagingIndex < this.totalPagings - 1) {
        this.onChange(this.totalPagings - 1)
      }
    },
    visitNextPage() {
      if (this.pagingIndex < this.totalPagings - 1) {
        this.onChange(this.pagingIndex + 1)
      }
    },
    visitPreviousPage() {
      if (this.pagingIndex > 0) {
        this.onChange(this.pagingIndex - 1)
      }
    },
    async visitPageByIndex() {
      // validate input
      const result = await this.$refs.vee.validate()
      if (result.valid === true && this.isOnTheSamePage === false) {
        this.onChange(this.inputPage - 1)
      }
    },
    onChange(index) {
      this.$emit("change", index)
    }
  }
}
</script>

<style lang="stylus">
.pagination-bar
  display flex
  justify-content space-around
  align-items center
  width 100%

  &__indicate
    margin-right 0.5rem
    color #606060
    font-size 18px
    cursor pointer

  &__container
    display flex
    align-items center
    height 2rem

  &__input-page
    box-sizing border-box
    margin-right 0.5rem
    width 3rem
    height 1.5rem
    text-align center

  &__saparate
    box-sizing border-box
    margin-right 0.5rem

  &__total-pagings
    box-sizing border-box
    margin-right 0.5rem

  &__submit
    margin-right 0.5rem
    width 2.5rem
    height 1.5rem
    border 1px solid #000000
    border-radius 0.2rem
    background #666666
    color #ffffff

  &__first
    position relative

    .el-icon-caret-left:last-child
      position relative
      left -10px

  &__last
    position relative

    .el-icon-caret-right:last-child
      position relative
      left -10px

  &--is-frozen
    color #cccccc
    cursor text
</style>

