<template lang="pug">
select.search-bar__select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
  option(
    v-for="{ currencyCode, agentGroupUid } in list"
    :key="currencyCode"
    :value="agentGroupUid"
  ) {{ currencyCode }}
</template>

<script>
import { mapState } from "vuex"

export default {
  props: {
    domId: { type: String, required: true }
  },
  mounted() {
    this.selected = this.list[0].agentGroupUid
    this.onSelect()
  },
  data: () => ({
    selected: ""
  }),
  computed: {
    ...mapState("member", ["agentGroup", "currencyList"]),
    list() {
      if (this.agentGroup.length > 0 && this.currencyList.length > 0) {
        return this.agentGroup.map(x => {
          const [target] = this.currencyList.filter(g => g.id === x.currencyId)
          return Object.assign({ currencyCode: target.code }, x)
        })
      } else {
        return []
      }
    }
  },
  methods: {
    onSelect() {
      this.$emit("select", this.selected)
    }
  }
}
</script>
