<template lang="pug">
.date-picker
  ValidationProvider(
    :rules="{ required: true }"
    v-slot="{ classes }"
    ref="vee"
  )
    flatPickr.date-picker__input(
      v-model="selected"
      :config="config"
      :class="[ dateInputCssClass, ...classes]"
      @on-change="onSelect"
      @on-open="onCalendarOpen"
      @on-close="enableAltInput"
      ref="datePicker"
    )
</template>

<script>
import { ValidationProvider } from "vee-validate"
import { getDateWithEndTime, getPreviousDateByDays, getDateByTimezone } from "@/libs/time.js"
import flatPickr from "vue-flatpickr-component"

export default {
  components: { ValidationProvider, flatPickr },
  props: {
    domId: {
      type: String,
      required: true
    },
    defaultDate: {
      default: () => {
        return getDateByTimezone(new Date())
      }
    },
    isDisplayTime: {
      type: Boolean,
      default: true
    },
    isLockSelectMinutes: {
      type: Boolean,
      default: false
    },
    isLockSelectSeconds: {
      type: Boolean,
      default: false
    },
    isOnlyHoursOfTime: {
      type: Boolean,
      default: false
    },
    enabledRange: {
      type: Array,
      default: () => {
        const today = getDateWithEndTime()
        const defaultMaxDate = getPreviousDateByDays(90)

        return [{ from: defaultMaxDate, to: today }]
      }
    }
  },
  data: () => ({
    selected: "",
    calendarClass: "date-picker__calendar"
  }),
  mounted() {
    this.setDate(this.defaultDate)
  },
  computed: {
    enabledDates() {
      if (this.enabledRange.length > 0) {
        return this.enabledRange
      } else {
        return []
      }
    },
    config() {
      if (this.isDisplayTime === true) {
        const displayFormat = this.isOnlyHoursOfTime === true ? "Y/m/d H" : "Y/m/d H:i:S"

        return {
          altInput: true,
          altFormat: displayFormat,
          defaultDate: this.defaultDate,
          enableTime: true,
          enableSeconds: !this.isOnlyHoursOfTime,
          time_24hr: true,
          enable: this.enabledDates,
          minuteIncrement: 1
        }
      } else {
        return {
          altInput: true,
          altFormat: "Y/m/d",
          defaultDate: this.defaultDate,
          enableTime: false,
          enable: this.enabledDates
        }
      }
    },
    dateInputCssClass() {
      if (this.isDisplayTime === true) {
        if (this.isOnlyHoursOfTime === true) {
          return "date-picker__hour-time-only"
        } else {
          return "date-picker__with-time"
        }
      } else {
        return "date-picker__date-only"
      }
    }
  },
  methods: {
    onCalendarOpen(selectedDates, dateStr, instance) {
      this.attachCalendarCssClass(selectedDates, dateStr, instance)
      this.disableAltInput(selectedDates, dateStr, instance)
      this.attachAltInput(selectedDates, dateStr, instance)

      if (this.isLockSelectMinutes === true) {
        this.disableSelectMinues(instance)
      }

      if (this.isLockSelectSeconds === true) {
        this.disableSelectSeconds(instance)
      }
    },
    disableSelectMinues(instance) {
      const targetNodes = instance.calendarContainer.querySelectorAll(".flatpickr-time .numInputWrapper")[1].children

      if (targetNodes) {
        const [minutesInput, arrowUp, arrowDown] = targetNodes
        minutesInput.disabled = true
        arrowUp.style.display = "none"
        arrowDown.style.display = "none"
      }
    },
    disableSelectSeconds(instance) {
      const targetNodes = instance.calendarContainer.querySelectorAll(".flatpickr-time .numInputWrapper")[2].children

      if (targetNodes) {
        const [secondsInput, arrowUp, arrowDown] = targetNodes
        secondsInput.disabled = true
        arrowUp.style.display = "none"
        arrowDown.style.display = "none"
      }
    },
    attachCalendarCssClass(selectedDates, dateStr, instance) {
      if (this.isOnlyHoursOfTime === true) {
        instance.calendarContainer.classList.add(this.calendarClass)
      }
    },
    attachAltInput(selectedDates, dateStr, instance) {
      instance.altInput.id = this.domId
    },
    disableAltInput(selectedDates, dateStr, instance) {
      instance.altInput.disabled = true
    },
    enableAltInput(selectedDates, dateStr, instance) {
      instance.altInput.disabled = false
    },
    async validate() {
      return await this.$refs["vee"].validate()
    },
    removeMinutesAndSeconds(date) {
      const sourceDate = new Date(date)
      sourceDate.setMinutes(0)
      sourceDate.setSeconds(0)
      return sourceDate
    },
    setDate(date) {
      const target = new Date(date)

      if (this.isOnlyHoursOfTime === true) {
        this.selected = this.removeMinutesAndSeconds(target)
      } else {
        this.selected = target
      }

      this.onSelect([this.selected])
    },
    onSelect(selectedDates) {
      if (selectedDates.length < 0) return

      if (this.isOnlyHoursOfTime === true) {
        this.$emit("select", this.removeMinutesAndSeconds(selectedDates[0]))
      } else {
        this.$emit("select", selectedDates[0])
      }
    }
  }
}
</script>

<style lang="stylus">
.date-picker
  &__input
    box-sizing border-box
    padding-left 1rem
    min-width 7rem
    height 2rem
    border 1px solid #C0C4CC
    border-radius 0.25rem

  &__with-time
    max-width 11rem

  &__hour-time-only
    max-width 8.5rem

  &__date-only
    max-width 7.5rem

  &__calendar
    .time24hr
      .numInputWrapper
        width 100%

      .numInputWrapper:last-child
        display none

      .flatpickr-time-separator
        display none
</style>>
