<template lang="pug">
select.search-bar__select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
	option(
    v-if="isEnabledSelectAll === true"
    value=""
  ) {{ i18n.label.ALL }}

	option(
    v-for="{ label ,uid } in list"
    :key="uid"
    :value="uid"
  ) {{ label }}
</template>

<script>
import { mapState } from "vuex"
import { getGameHallList } from "@/api/Game.js"
import { methods as I18nMethodsMixin } from "@/mixins/I18n.js"

export default {
  props: {
    domId: { type: String, required: true },
    isEnabledSelectAll: { type: Boolean, default: true },
    isSelectDefault: { type: Boolean, default: true }
  },
  data: () => ({
    selected: "",
    list: []
  }),
  mixins: [I18nMethodsMixin],
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main, i18nSite: state => state.data.Site }),
    ...mapState("member", ["loginToken"])
  },
  async mounted() {
    await this.getGameHalls()

    if (this.isEnabledSelectAll === false && this.isSelectDefault === true) {
      // Select first option
      if (!this.selected) {
        this.selected = this.list[0].uid
      }
    }

    this.onSelect()
  },
  methods: {
    async getGameHalls() {
      try {
        const result = await getGameHallList(this.loginToken)

        if (result.data.themes.length > 0) {
          const mapping = result.data.themes.flatMap(x => {
            const label = this.gameHallNameMapping(x.title)
            return { uid: x.uid, label: label }
          })

          this.list = mapping
        } else {
          this.list = []
        }

        this.$emit("getGameHallList", this.list)
      } catch (err) {
        console.log(err)
      }
    },
    onSelect() {
      this.$emit("select", this.selected)
    },
    setValue(value) {
      this.selected = value
      this.onSelect()
    }
  }
}
</script>
