<template lang="pug">
select.search-bar__select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
  option(
    v-if="isEnabledSelectAll === true"
    value=""
  ) {{ i18n.label.ALL }}

  option(
    v-for="({ title ,uid }, index ) in list"
    :key="uid"
    :value="uid"
  ) {{ title }}
</template>

<script>
import { mapState } from "vuex"
import { getGameTypeList } from "@/api/Game.js"
import { methods as I18nMethodsMixin } from "@/mixins/I18n.js"

export default {
  props: {
    domId: { type: String, required: true },
    isEnabledSelectAll: { type: Boolean, default: true },
    isSelectDefault: { type: Boolean, default: true }
  },
  mixins: [I18nMethodsMixin],
  data: () => ({
    selected: "",
    list: []
  }),
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main, i18nSite: state => state.data.Site }),
    ...mapState("member", ["loginToken"])
  },
  async mounted() {
    await this.getGameTypes()

    if (this.isEnabledSelectAll === false && this.isSelectDefault === true) {
      // Select first option
      if (!this.selected) {
        this.selected = this.list[0].uid
      }
    }

    this.onSelect()
  },
  methods: {
    async getGameTypes() {
      try {
        const result = await getGameTypeList(this.loginToken)

        const formatGameTypes = result.data.gameSets.map(x => {
          const label = this.gameTypeNameMapping(x.alias)
          return { title: label ? label : x.title, uid: x.uid }
        })

        this.list = formatGameTypes
      } catch (err) {
        console.log(err)
      }
    },
    onSelect() {
      this.$emit("select", this.selected)
    },
    setValue(value) {
      this.selected = value
      this.onSelect()
    }
  }
}
</script>
