<template lang="pug">
select.search-bar__select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
  option(:value="[]") {{ `(${i18n.label.ALL})` }}
  option(
    v-for="{ title ,alias } in list"
    :key="alias"
    :value="[alias]"
  ) {{ orderStatusNameMapping(parseInt(alias)) }}
</template>

<script>
import { mapState } from "vuex"
import { getGameStateList } from "@/api/Game.js"
import { methods as I18nMethodsMixin } from "@/mixins/I18n.js"

export default {
  props: {
    domId: { type: String, required: true },
    disableOptions: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  mixins: [I18nMethodsMixin],
  data: () => ({
    selected: [],
    list: []
  }),
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main, i18nSite: state => state.data.Site }),
    ...mapState("member", ["loginToken"])
  },
  async mounted() {
    await this.getGameOrderStates()
    this.onSelect()
  },
  methods: {
    processDisableOptions(options) {
      return options.filter(x => {
        return this.disableOptions.includes(x.alias) === false
      })
    },
    async getGameOrderStates() {
      try {
        const result = await getGameStateList(this.loginToken)

        const processed = this.processDisableOptions(result.data.gameResultState)

        this.list = processed
      } catch (err) {
        console.log(err)
      }
    },
    onSelect() {
      this.$emit("select", this.selected)
    },
    setValue(value) {
      this.selected = value
      this.onSelect()
    }
  }
}
</script>
