<template lang="pug">
select.search-bar__select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
  option(
    v-for="{ label, code } in list"
    :key="code"
    :value="code"
  ) {{ label }}
</template>

<script>
import { mapState,mapGetters } from "vuex"

export default {
  props: {
    domId: { type: String, required: true }
  },
  data: () => ({
    selected: "",
    list: []
  }),
  computed: {
    ...mapState("i18n", ["aliavableLanguages", "currentLanguage"]),
    ...mapGetters("i18n",["languageLabelMap"])
  },
  async mounted() {
    this.list = this.aliavableLanguages.map(x => {
      const label = this.languageLabelMap.get(x)
      return { label, code: x }
    })

    this.selected = this.currentLanguage
    this.$emit("select", this.selected)
  },
  methods: {
    onSelect() {
      const code = this.selected
      this.$store.dispatch("i18n/loadLanguageFile", { languageCode: code })
      this.$emit("select", code)
    },
    setValue(value) {
      this.selected = value
      this.onSelect()
    }
  }
}
</script>
