<template lang="pug">
select.search-bar__select(
  v-model="selected"
  @change="onSelect"
)
  option(
    v-for="{ label, value } in list"
    :key="`${value}-timezone`"
    :value="value"
  ) {{ label }}
</template>

<script>
import { mapState } from "vuex"

export default {
  data: () => ({
    selected: "",
    list: []
  }),
  computed: {
    ...mapState("timezone", ["timezoneList", "currentTimezoneCode"])
  },
  async mounted() {
    this.list = this.timezoneList.map(x => {
      return {
        label: `GMT ${x}`,
        value: x
      }
    })

    const defaultSelected = this.currentTimezoneCode

    this.setValue(defaultSelected, false)
  },
  methods: {
    onSelect(e, isReloadPage = true) {
      const value = this.selected
      this.$emit("select", value)
      this.$store.dispatch("timezone/switchTimezone", { timezoneCode: value })

      if (isReloadPage === true) {
        location.reload()
      }
    },
    setValue(value, isReloadPage) {
      this.selected = value
      this.onSelect("", isReloadPage)
    }
  }
}
</script>
