<template lang="pug">
select.search-bar__select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
  option(
    v-if="isEnabledSelectAll === true"
    value=""
  ) {{ i18n.label.ALL }}

  option(
    v-for="{ groupUid, account } in list"
    :key="account"
    :value="groupUid"
  ) {{ account }}
</template>

<script>
import { mapState } from "vuex"
import { getTopAgentList } from "@/api/Agent.js"

export default {
  props: {
    domId: { type: String, required: true },
    isEnabledSelectAll: { type: Boolean, default: true },
    isSelectDefault: { type: Boolean, default: true }
  },
  data: () => ({
    selected: "",
    list: []
  }),
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("member", ["loginToken"])
  },
  async mounted() {
    await this.getTopAgents()

    if (this.isEnabledSelectAll === false && this.isSelectDefault === true) {
      // Select first option
      if (!this.selected) {
        this.selected = this.list[0].groupUid
      }
    }

    this.onSelect()
  },
  methods: {
    async getTopAgents() {
      try {
        const result = await getTopAgentList(this.loginToken)
        this.list = result.data
      } catch (err) {
        console.log(err)
      }
    },
    onSelect() {
      this.$emit("select", this.selected)
    },
    setValue(value) {
      this.selected = value
      this.onSelect()
    }
  }
}
</script>
