<template lang="pug">
select.search-bar__select(
  v-model="selected"
  :id="domId"
  @change="onSelect"
)
  option(
    v-if="isEnabledSelectAll === true"
    value=""
  ) {{ `(${i18n.label.ALL})` }}

  option(
    v-for="{ alias, title } in list"
    :key="title"
    :value="alias"
  ) {{ title }}
</template>

<script>
import { mapState } from "vuex"
import { getGameTransactionTypeList } from "@/api/Game.js"
import { methods as I18nMethodsMixin } from "@/mixins/I18n.js"

export default {
  props: {
    domId: { type: String, required: true },
    isEnabledSelectAll: { type: Boolean, default: true },
    isSelectDefault: { type: Boolean, default: true }
  },
  data: () => ({
    selected: "",
    list: []
  }),
  mixins: [I18nMethodsMixin],
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("member", ["loginToken"])
  },
  async mounted() {
    await this.getTransactionTypes()

    if (this.isEnabledSelectAll === false && this.isSelectDefault === true) {
      // Select first option
      if (!this.selected) {
        this.selected = this.list[0].alias
      }
    }

    this.onSelect()
  },
  methods: {
    async getTransactionTypes() {
      try {
        const result = await getGameTransactionTypeList(this.loginToken)

        this.list = Object.entries(result.data).map(x => {
          const [, target] = x
          const typeId = parseInt(target.alias)
          return { title: this.transferTypeNameMapping(typeId), alias: typeId }
        })
      } catch (err) {
        console.log(err)
      }
    },
    onSelect() {
      this.$emit("select", this.selected)
    },
    setValue(value) {
      this.selected = value
      this.onSelect()
    }
  }
}
</script>
