<template lang="pug">
ValidationProvider(
  :rules="{ required: isRequired , regex: regex }"
  v-slot="{ errors, classes, validate }"
  ref="vee"
)
  input.advanced-input(
    :id="domId"
    :type="inputType"
    :required="isRequired"
    :readonly="isReadonly"
    :disabled="isDisabled"
    :maxlength="maxlength"
    :minlength="minlength"
    :placeholder="placeholder"
    :class="[...parentClasses,...classes]"
    v-model="inputText"
    @input="onInput"
  )
</template>

<script>
import { ValidationProvider } from "vee-validate"

export default {
  components: {
    ValidationProvider
  },
  props: {
    domId: { type: String, required: true },
    inputType: { type: String, default: "text" },
    isReadonly: { type: Boolean, default: false },
    isDisabled: { type: Boolean, default: false },
    isRequired: { type: Boolean, default: true },
    regex: { type: RegExp, default: () => /./ },
    placeholder: { type: String, default: "" },
    minlength: { type: Number, default: 0 },
    maxlength: { type: Number, default: 666 },
    parentClasses: { type: Array, default: () => [] }
  },
  data: () => ({
    inputText: ""
  }),
  mounted() {
    this.onInput()
  },
  methods: {
    async validate() {
      return await this.$refs["vee"].validate()
    },
    onInput(event) {
      let isValid = false

      if (event) {
        const validStatus = event.target.validity.valid === true
        isValid = this.isRequired === true ? this.inputText !== "" && validStatus : validStatus
      }

      this.$emit("input", this.inputText, isValid)
    },
    setValue(value) {
      this.inputText = value
      this.onInput()
    }
  }
}
</script>

<style lang="stylus">
.advanced-input
  box-sizing border-box
  padding 0 0.4rem
  height 2rem
</style>
