<template lang="pug">
.basic-recaptcha
  ValidationProvider.basic-recaptcha__input-container(
    :rules="{ required: true }"
    v-slot="{ errors, classes, validate }"
    ref="vee"
  )
    input.input.basic-recaptcha__input(
      id="iptVCode"
      type="text"
      :placeholder="placeholder"
      v-model="inputText"
      :class="classes"
      @blur="validate"
      @input="onInput"
    )

  img.basic-recaptcha__image(
    id="imgVCodeInLogin"
    :src="imageString"
    @click="debounceRequestRecaptcha"
    :class="{ 'basic-recaptcha--loading': (loading === true) }"
    :token="token"
  )
</template>

<script>
import { getRecaptcha } from "@/api/Recaptcha.js"
import { ValidationProvider } from "vee-validate"

export default {
  props: {
    placeholder: { type: String, default: "" }
  },
  components: {
    ValidationProvider
  },
  data: () => ({
    token: "",
    imageString: "",
    inputText: "",
    loading: true,
    delay: 1000
  }),
  async created() {
    this.requestRecaptcha()
  },
  methods: {
    async requestRecaptcha() {
      try {
        this.loading = true

        const {
          exitCode,
          data: { imgbase64, token }
        } = await getRecaptcha()

        if (exitCode === true) {
          this.token = token
          this.imageString = imgbase64

          this.$emit("changeRecaptcha", token)
          this.loading = false
        } else {
          throw new Error("Recaptcha fetch error!")
        }
      } catch (err) {
        this.loading = false
        console.log(err)
      }
    },
    async debounceRequestRecaptcha() {
      this.loading = true
      // Debounce this function to prevent
      if (this.timeout) clearTimeout(this.timeout)
      this.timeout = setTimeout(async () => {
        // your action
        this.requestRecaptcha()
      }, this.delay)
    },
    async validate() {
      return await this.$refs["vee"].validate()
    },
    onInput() {
      this.$emit("input", this.inputText)
    }
  }
}
</script>

<style lang="stylus">
.basic-recaptcha
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items center
  margin 0 auto
  margin-top 1rem
  width 70%

  &__input-container
    margin-right 1rem

  &__input
    margin 0

  &__image
    cursor pointer

  &--loading
    cursor wait
</style>
