<template lang="pug">
ValidationProvider(
  :rules="{ email: true, required: isRequired, min: 3, max: 50 }"
  v-slot="{ errors, classes, validate }"
  ref="vee"
)
  input.search-bar__input(
    type="text"
    maxlength="50"
    minlength="3"
    v-model="inputText"
    :class="classes"
    :id="domId"
    @blur="validate"
    @input="onInput"
  )
</template>

<script>
import { ValidationProvider } from "vee-validate"

export default {
  components: {
    ValidationProvider
  },
  props: {
    domId: { type: String, required: true },
    isRequired: { type: Boolean, default: false }
  },
  data: () => ({
    inputText: ""
  }),
  mounted() {
    this.onInput()
  },
  methods: {
    async validate() {
      return await this.$refs["vee"].validate()
    },
    onInput() {
      this.$emit("input", this.inputText)
    },
    setValue(value) {
      this.inputText = value
      this.onInput()
    }
  }
}
</script>
