<template lang="pug">
ValidationProvider(
  :rules="{ required: true, integer: true, min_value:1, min:1, max:5 }"
  v-slot="{ errors, classes, validate }"
  ref="vee"
)
  input.search-bar__input(
    type="text"
    maxlength="5"
    v-model="inputText"
    :class="classes"
    :id="domId"
    @blur="validate"
    @input="onInput"
  )
</template>

<script>
import { ValidationProvider } from "vee-validate"

export default {
  components: {
    ValidationProvider
  },
  props: {
    domId: { type: String, required: true }
  },
  data: () => ({
    inputText: ""
  }),
  mounted() {
    this.onInput()
  },
  methods: {
    async validate() {
      return await this.$refs["vee"].validate()
    },
    onInput() {
      this.$emit("input", this.inputText)
    },
    setValue(value) {
      this.inputText = value
      this.onInput()
    }
  }
}
</script>
