<template>
  <div>
    <c_nav :prop_nav="d_nav"></c_nav>
    <div>
      <div class="subTitle">
        <h1 id="labTitleInGameRecord">遊戲紀錄</h1>
      </div>
      <div class="filterbar _c_filterbar">
        <div class="_item filterType">
          <div
            id="btnTimeGameInGameRecord"
            :class="{'_bItem':true,'active':fType.G1}"
            v-on:click="fType.G1=true;fType.G2=false;"
          >時間 / 遊戲</div>
          <div
            id="btnGameNoInGameRecord"
            :class="{'_bItem':true,'active':fType.G2}"
            v-on:click="fType.G2=true;fType.G1=false;"
          >遊戲局號</div>
        </div>
        <div class="_item dateRange" v-if="fType.G1">
          <div
            id="btnTodayInGameRecord"
            :class="{_bItem:true,active:activeItem=='today'}"
            @click="setDate('today')"
          >今天</div>
          <div
            id="btnThisWeekInGameRecord"
            :class="{_bItem:true,active:activeItem=='week'}"
            @click="setDate('week')"
          >本周</div>
          <div
            id="btnThisMonInGameRecord"
            :class="{_bItem:true,active:activeItem=='month'}"
            @click="setDate('month')"
          >本月</div>
          <div
            id="btnLastMonInGameRecord"
            :class="{_bItem:true,active:activeItem=='LastMonth'}"
            @click="setDate('LastMonth')"
          >上月</div>
        </div>

        <div class="_item" v-if="fType.G1">
          <div class="_t">開始日期</div>
          <el-date-picker
            id="btnStartTimeInGameRecord"
            v-model="d_search.startTime"
            align="right"
            type="datetime"
            placeholder="選擇日期"
            :picker-options="pickerOptionsStart"
            popper-class="_c_picker"
            size="small"
            :class="{'game-record__date-picker':true,'_input':true,'v_error':V_err.has('n_startTime')}"
            default-time="00:00:00"
            format="yyyy/MM/dd HH:mm:ss"
            value-format="yyyy-MM-dd HH:mm:ss"
            v-validate="{required:true}"
            name="n_startTime"
            @change="changeEnd"
          ></el-date-picker>
        </div>
        <div class="_item" v-if="fType.G1">
          <div class="_t">結束日期</div>
          <el-date-picker
            id="btnEndTimeInGameRecord"
            v-model="d_search.endTime"
            align="right"
            type="datetime"
            placeholder="選擇日期"
            :picker-options="pickerOptionsEnd"
            popper-class="_c_picker"
            size="small"
            :class="{'game-record__date-picker':true,'_input':true,'v_error':V_err.has('n_endTime')}"
            format="yyyy/MM/dd HH:mm:ss"
            value-format="yyyy-MM-dd HH:mm:ss"
            default-time="23:59:59"
            v-validate="{required:true}"
            name="n_endTime"
            @change="changeStart"
          ></el-date-picker>
        </div>

        <c_theme
          prop_DomId="selRoomInGameRecord"
          :prop_themeId="d_search.themeId"
          :prop_loginToken="loginToken"
          :enabledSelectAll="false"
          class="_item"
          v-if="fType.G1"
          @onChange="setThemeId"
        ></c_theme>

        <c_theme
          prop_DomId="selRoomInGameNoInGameRecord"
          :prop_themeId="d_search.themeId"
          :prop_loginToken="loginToken"
          :enabledSelectAll="false"
          class="_item"
          v-if="fType.G2"
          @onChange="setThemeId"
        ></c_theme>

        <GameTypeWithTableType
          v-if="fType.G1"
          :prop_DomId="{GameTypeId:'selGameTypeInGameRecord',TableTypeId:'selTableTypeInGameRecord'}"
          @ChangeGameTypeId="setGameTypeId"
          @ChangeTableTypeId="setTableTypeId"
          :enabledSelectAll="false"
        ></GameTypeWithTableType>

        <div class="_item" v-if="fType.G2">
          <div class="_t">桌號*</div>
          <input
            id="iptTableNoInGameRecord"
            type="text"
            v-model="d_search.tableFrontId"
            v-bind:class="{'_input':true,'v_error':V_err.has('n_tableFrontId')}"
            v-validate="{required:true,alpha_num:true,max:3}"
            name="n_tableFrontId"
            maxlength="3"
          />
        </div>

        <div class="_item" v-if="fType.G2">
          <div class="_t">靴號*</div>
          <input
            id="iptBootNoInGameRecord"
            type="text"
            v-model="d_search.shoeNo"
            v-bind:class="{'_input':true,'v_error':V_err.has('n_shoeNo')}"
            v-validate="{integer:true,required:true,min_value:1,min:1,max:20}"
            name="n_shoeNo"
            maxlength="20"
          />
        </div>

        <div class="_item" v-if="fType.G2">
          <div class="_t">局號*</div>
          <input
            id="iptGameNoInGameRecord"
            type="text"
            v-model="d_search.roundNo"
            v-bind:class="{'_input':true,'v_error':V_err.has('n_roundNo')}"
            v-validate="{integer:true,required:true,min_value:1,min:1,max:5}"
            name="n_roundNo"
            maxlength="5"
          />
        </div>

        <div id="btnSearchInGameRecord" class="_btn_c" @click="TodoSearch()" v-if="fType.G1">搜尋</div>
        <div
          id="btnSearchInGameNoInGameRecord"
          class="_btn_c" 
          @click="TodoSearch()"
          v-if="fType.G2"
        >搜尋</div>
      </div>

      <div id="tabGameRecord" v-if="d_list.length > 0">
        <div class="t_f" v-if="d_list.length > 0">
          <div class="_col _Room">廳館</div>
          <div class="_col _gameType">遊戲類型</div>
          <div class="_col _tableType">桌種</div>
          <div class="_col _tableId">桌號</div>
          <div class="_col _shoeNo">靴號</div>
          <div class="_col _roundNo">局號</div>
          <div class="_col _gameRoundStartTime">開局時間</div>
          <div class="_col _gameResult">結果</div>
          <div class="_col _video">視頻</div>
          <div class="_col _status">狀態</div>
        </div>
        <div class="t_d" v-for="(item, index2) in d_list" v-if="d_list.length > 0">
          <div class="_col _Room">{{item.themeTitle['ZH-TW']}}</div>
          <div class="_col _gameType">{{item.gameSetTitle}}</div>
          <div class="_col _tableType">{{item.tableSpeciesTitle}}</div>
          <div class="_col _tableId">{{item.tableFrontId}}</div>
          <div class="_col _shoeNo">{{item.shoeNo}}</div>
          <div class="_col _roundNo">{{item.roundNo}}</div>
          <div class="_col _gameRoundStartTime">{{item.gameRoundStartTime}}</div>

          <div
            class="_col _gameResult _isLink"
            @click="openCard(item);"
            v-if="item.state !=2"
          >{{ item.result | gameResulTtext(item.gameSetAlias,D_gameTypeAlias)}}</div>

          <div class="_col _gameResult" v-if="item.state ==2">-</div>

          <div class="_col _video _isLink" @click="play(item.streamUrl)">視頻</div>
          <!--<div class="_col _video" v-if="item.state ==2"> - </div>-->
          <div class="_col _status">{{item.stateTitle}}</div>
        </div>
      </div>
      <div id="divNoResult" v-if="d_list.length==0 && isSearched" class="NoResult">查無資料</div>
      <div v-if="!isSearched" class="NoResult">請輸入搜尋條件</div>

      <div v-if="pageNum > 1" class="pagination">
        <pagination
          :domIdList="paginations.domId"
          :pageNum="pageNum"
          :currentPage="currentPage"
          @update-currentPage="SetCurrentPage"
        ></pagination>
      </div>
    </div>

    <el-dialog
      :visible.sync="showCard"
      v-if="showCard"
      width="400px"
      custom-class="_c_dialog _noHeader"
      :show-close="true"
      center
    >
      <div class="c_close" id="btnCloseTabInGameRecord " @click="showCard = false">X</div>
      <component 
        :is="currentComponent"
        v-bind="currentProperties" 
        :domIdList="gameFancyResult.domId"
      ></component>
    </el-dialog>

    <el-dialog
      :visible.sync="videoPlay"
      v-if="videoPlay"
      :width="videoWpx"
      custom-class="_c_dialog _video_dialog"
      :show-close="true"
      :before-close="handleCloseVideo"
      center
    >
      <object
        type="application/x-shockwave-flash"
        class="playRecordVideo"
        data="/media/video.swf"
        width="600px"
        height="520px"
      >
        <param name="menu" value="false" />
        <param name="scale" value="showAll" />
        <param name="allowFullscreen" value="true" />
        <param name="allowScriptAccess" value="always" />
        <param name="bgcolor" value />
        <param name="wmode" value="direct" />
        <param name="flashvars" :value="videoSource" />
      </object>

      <!--<video id="playRecordVideo"  class="video-js" :style="{width:inVideoWpx}"></video>-->
    </el-dialog>
  </div>
</template>

<script>
import ReportManager from "@/services/ReportManager"
import pagination from "@/components/basic/pagination.vue"
import common from "@/libs/common"
import c_nav from "@/components/basic/nav.vue"
import c_theme from "@/components/filter/theme.vue"

import GameTypeWithTableType from "@/components/filter/GameTypeWithTableType.vue"

import BACCARAT from "@/components/gameType/BACCARAT.vue"
import SICBO from "@/components/gameType/SICBO.vue"
import DRAGONTIGER from "@/components/gameType/DRAGONTIGER.vue"
import FANTAN from "@/components/gameType/FANTAN.vue"
import ROULETTE from "@/components/gameType/ROULETTE.vue"

import { mapState } from "vuex"

export default {
  metaInfo() {
    return {
      titleTemplate: "遊戲記錄 %s"
    }
  },
  components: {
    pagination: pagination,
    c_nav,
    c_theme: c_theme,

    GameTypeWithTableType: GameTypeWithTableType,
    BACCARAT: BACCARAT,
    SICBO: SICBO,
    DRAGONTIGER: DRAGONTIGER,
    FANTAN: FANTAN,
    ROULETTE: ROULETTE
  },
  data() {
    return {
      d_nav: [
        { title: "報表功能", islink: false, path: "" },
        { title: "遊戲紀錄", islink: true, path: this.$route.path }
      ],
      activeItem: "today",
      fType: {
        G1: true,
        G2: false
      },
      mode: {
        view: true,
        edit: false
      },
      d_list: [],
      currentPage: 1,
      pageNum: 0,
      pageSize: 20,
      domId: {
        mainPanel: {
          items: {
            labTitle: "",
            btnTimeGame: "",
            btnGameNo: "",
            btnToday: "",
            btnThisWeek: "",
            btnThisMon: "",
            btnLastMon: "",
            btnStartTime: "",
            btnEndTime: "",
            selRoom: "",
            selTableType: "",
            selGameType: "",
            selRoomInGameNo: "",
            iptTableNo: "",
            iptBootNo: "",
            iptGameNo: "",
            btnSearch: "",
            btnSearchInGameNo: ""
          },
          name: "InGameRecord"
        },
        pagination: {
          OtherItems: {},
          name: "InGameRecord"
        },
        theme: {
          OtherItems: {},
          name: "InGameRecord"
        }
      },
      d_search: {
        startTime: "",
        endTime: "",
        themeId: "",
        tableTypeId: "",
        tableFrontId: "",
        gameTypeId: "",
        shoeNo: "",
        roundNo: ""
      },
      pickerOptionsStart: {},
      pickerOptionsEnd: {},
      cards: {
        player: [],
        banker: []
      },
      showCard: false,
      //videoPlayObject : {},
      videoPlay: false,
      videoWpx: "700px",
      //inVideoWpx : '650px',
      videoSource: "",
      D_gameTypeAlias: __BuildVar__.gameTypeAlias,
      D_DETAIL: {},
      isSearched: false
    }
  },
  computed: {
    ...mapState("member", ["loginToken"]),
    gameFancyResult() {
      return {
        domId: {
          wrapper: "divGameResultInGameRecord",
          gameTitle: "labGameTypeInGameResultInGameRecord",
          gameHallTitle: "labRoomInGameResultInGameRecord",
          gameTableTitle: "labTableInGameResultInGameRecord",
          gameShoeTitle: "labShoeInGameResultInGameRecord",
          gameRoundTitle: "labRoundInGameResultInGameRecord"
        }
      }
    },
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInGameRecord",
          previousPage: "btnPrevPageInGameRecord",
          inputPage: "iptPageInGameRecord",
          actionButton: "btnSearchPageInGameRecord",
          nextPage: "btnNextPageInGameRecord",
          lastPage: "btnLastPageInGameRecord"
        }
      }
    },
    _dom() {
      var re = {},
        _name = this.domId.mainPanel.name
      _.forEach(this.domId.mainPanel.items, function(v, k) {
        re[k] = k + _name
      })
      return re
    },
    currentComponent() {
      //console.log("gameSetAlias : ",this.$data.D_DETAIL.gameSetAlias);
      return this.$data.D_DETAIL.gameSetAlias
    },
    currentProperties() {
      var re = {
        prop_data: _.cloneDeep(this.$data.D_DETAIL)
      }
      return re
    }
  },
  methods: {
    handleCloseVideo() {
      this.$data.videoPlay = false
      //this.$data.videoPlayObject.dispose();
    },
    play(_src) {
      var a = _.trim(_src)
      this.$data.videoSource = "source=" + a
      //this.$data.videoSource = "source="+_src;
      this.$data.videoPlay = true
    },
    openCard(item) {
      item.finalResult = item.result
      this.$data.D_DETAIL = _.cloneDeep(item)
      this.$data.showCard = true
    },
    setThemeId(val) {
      this.$data.d_search.themeId = val
    },
    setTableTypeId(val) {
      this.$data.d_search.tableTypeId = val
    },
    setGameTypeId(val) {
      this.$data.d_search.gameTypeId = val
    },
    changeStart() {
      var endTime = new Date(this.d_search.endTime).getTime()
      var LimitDate = common.diffDay(new Date(), -2)
      var LimitTime = new Date(LimitDate + " 00:00:00").getTime()
      this.pickerOptionsStart = Object.assign({}, this.pickerOptionsStart, {
        disabledDate: time => {
          var a = time.getTime()
          var re = a > endTime || a < LimitTime
          return re
        }
      })
    },
    changeEnd() {
      var startTime = new Date(this.d_search.startTime).getTime()
      var today = new Date()
      var TodayTime = new Date(today.getFullYear(), today.getMonth(), today.getDate(), "23", "59", "59")
      this.pickerOptionsEnd = Object.assign({}, this.pickerOptionsEnd, {
        disabledDate: time => {
          var a = time.getTime()
          var re = a < startTime || a > TodayTime
          return re
        }
      })
    },
    init() {
      this.search()
    },
    SetCurrentPage(val) {
      this.$data.currentPage = val
      this.search()
    },
    setDate(item) {
      this.$data.activeItem = item
      var day = common.setDayV2(item)
      this.$data.d_search.startTime = day.start
      this.$data.d_search.endTime = day.end

      this.changeStart()
      this.changeEnd()
    },
    TodoSearch() {
      this.$data.currentPage = 1
      var _this = this
      this.$validator.validate().then(result => {
        if (!result) {
          return
        }

        //console.log("result!!",result);
        _this.search()
      })
    },
    search() {
      var _this = this
      var t = this.$data
      var _s = _.cloneDeep(this.$data.d_search)
      var postData = {}
      var requestMethod = "",
        searchBy = ""

      switch (true) {
        case t.fType.G1:
          postData = {
            start: common.timeZoneApply(_s.startTime, true),
            end : common.timeZoneApply(_s.endTime,true),
            // end: common.timeZoneApply(common.LimitNowTme(_s.endTime), true),
            themes: _s.themeId == "" ? [] : [_s.themeId],
            tableTypes: _s.tableTypeId == "" ? [] : [_s.tableTypeId],
            gameTypes: _s.gameTypeId == "" ? [] : [_s.gameTypeId]
          }
          requestMethod = "getGmRecordsByTime"
          searchBy = "ByTime"
          break

        case t.fType.G2:
          postData = {
            tableFrontId: _s.tableFrontId,
            shoeNo: _s.shoeNo,
            roundNo: _s.roundNo,
            themes: _s.themeId == "" ? [] : [_s.themeId]
          }

          requestMethod = "getGmRecordsByRoundNo"
          searchBy = "ByRoundNo"

          break
      }

      postData = Object.assign(postData, {
        pageSize: t.pageSize,
        pageIndex: t.currentPage - 1
      })

      var _Loading = this.$Loading.service({ customClass: "_loading" })

      ReportManager.getGameResult(this.loginToken, postData, searchBy)
        .then(function(res) {
          var rows = _.cloneDeep(res.rows)

          _.forEach(rows, function(v, k) {
            rows[k].gameRoundStartTime = common.timeZoneApply(rows[k].gameRoundStartTime, false)

            rows[k].themeTitle = JSON.parse(rows[k].themeTitle)
            try {
              rows[k].result = JSON.parse(rows[k].result)
            } catch (e) {
              rows[k].result = []
              rows[k].state = "2"
              rows[k].stateTitle = "後端接收資料異常"
            }
          })

          _this.$data.d_list = _.cloneDeep(rows)

          //console.log("d_list : ",_.cloneDeep(_this.$data.d_list));

          _this.$data.currentPage = res.pagination.pageIndex + 1
          _this.$data.pageNum = res.pagination.pageCount

          //已觸發搜尋
          _this.$data.isSearched = true
          setTimeout(function() {
            _Loading.close()
          }, 500)
        })
        .catch(function(msg) {
          _Loading.close()
          console.log("msg : ", msg)
        })
    }
  },
  created() {
    this.setDate("today")
  },
  watch: {
    "fType.G1": function(val) {
      // ByRound
      if (val) {
        this.domId.active = { ...this.domId.G1 }
        this.d_search.tableFrontId = ""
        this.d_search.shoeNo = ""
        this.d_search.roundNo = ""
      }
    },
    "fType.G2": function(val) {
      // ByDateTime
      if (val) {
        this.$data.domId.active = { ...this.domId.G2 }
      }
    }
  }
}
</script>

<style>
._video_dialog {
  background-color: #ffffff;
  border: 5px solid #cccccc;
}
</style>

<style lang="less" scoped>
@import "~@/styles/less/report.less";

@w: 1300px;

.game-record {
  &__date-picker {
    width: 185px;
  }
}

.NoResult {
  width: @w;
}

.pagination {
  width: @w;
  margin-top: 20px;
  text-align: right;
}

.t_f {
  width: @w;
}

.t_d {
  width: @w;
}

._btn_c {
  width: 50px;

  &.c_detail {
    color: #000000;
    background-color: #ffffff;
  }
}

._col {
  max-width: 200px;
  flex: 1;
  &._roundNo {
    flex: 0.5;
  }
  &._stateTitle {
    flex: 0.5;
  }

  &._gameRoundStartTime {
    flex: 1.5;
  }
}

.filterbar {
  ._item {
    min-width: 140px;
  }
}

.filterType,
.dateRange {
  display: inline-flex;
}

.filterType {
  ._bItem {
    width: 100px;
  }
}

.dateRange {
  ._bItem {
    width: 50px;
  }
}

.aaa {
  margin: auto 5px;
}

._isLink {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.block {
  display: inline-flex;
  flex-wrap: wrap;
  width: 47%;
  justify-content: center;
}

.n_title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

._player,
._banker {
  display: flex;
  box-sizing: border-box;
  padding-left: 25px;
  border: 1px solid rgba(121, 121, 121, 1);
  background-color: rgba(228, 228, 228, 1);
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

._card {
  margin: auto 2px;
}

input {
  padding-left: 5px;
}

.c_close {
  width: 15px;
  font-size: 16px;
  text-align: right;
  margin: 0 0 10px 335px;
  cursor: pointer;
}
</style>
