<template lang="pug">
MemberBetRecordsReport(
  :reportTableHeaders="reportTableHeaders"
  :isActiveVideoColumn="true"
)
</template>

<script>
import MemberBetRecordsReport from "@/components/common/MemberBetRecords/AgentReport.vue"
import { mapState } from "vuex"

export default {
  components: {
    MemberBetRecordsReport
  },
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main }),
    reportTableHeaders() {
      return [
        { label: this.i18n.label.MEMBER_ACCOUNT, name: "playerAccount", QA_CSS: "_account" },
        { label: this.i18n.label.ORDER_NUMBER, name: "transactionNumber", QA_CSS: "_betNo" },
        { label: this.i18n.label.HALL, name: "gameHall", QA_CSS: "_Room" },
        { label: this.i18n.label.GAME_TYPES, name: "gameType", QA_CSS: "_gameType" },
        { label: this.i18n.label.TABLE_NUMBER, name: "gameTableCode", QA_CSS: "_tableId" },
        { label: this.i18n.label.BOOT_NUMBER, name: "gameShoeNumber", QA_CSS: "_shoeNo" },
        { label: this.i18n.label.ROUND_NUMBER, name: "gameRoundNumber", QA_CSS: "_roundNo" },
        { label: this.i18n.label.RESULT, name: "gameResult", QA_CSS: "_gameResult" },
        { label: this.i18n.label.BET_AREA, name: "betArea", QA_CSS: "_playTypeTitle" },
        { label: this.i18n.label.TOTAL_BETS, name: "totalBets", QA_CSS: "_betAmount" },
        { label: this.i18n.label.VALID_BETS, name: "validBets", QA_CSS: "_validBetAmount" },
        { label: this.i18n.label.PAYOUT, name: "payout", QA_CSS: "_winLossAmount" },
        { label: this.i18n.label.GAME_BET_TIME, name: "gameBetTime", QA_CSS: "_betTime" },
        { label: this.i18n.label.STATUS, name: "gameStateText", QA_CSS: "_status" },
        { label: this.i18n.label.VIDEO, name: "streamUrl", QA_CSS: "" },
        { label: this.i18n.label.TRANSACTION_NUMBER, name: "transaction", QA_CSS: "_transactionNumber" }
      ]
    }
  }
}
</script>

<style lang="stylus">
.member-bet-records
  &__row
    grid-template-columns repeat(2, 110px) minmax(70px, 1fr) repeat(4, 75px) minmax(70px, 1fr) 70px repeat(3, 100px) minmax(80px, 1fr) repeat(2, 70px) minmax(80px, 1fr)
</style>
