<template lang="pug">
.fancy-roulette-result.layout-two-column-game-result.fancy-game-result__modal(:id="domIdList.wrapper")

  .game-info
    .game-info__game-title(:id="domIdList.gameTitle") {{ displayData.gameType }}

    .game-info__horizon-line

    .game-info__details
      .game-info__hall-title(:id="domIdList.gameHallTitle") {{ displayData.gameHall }}
      .game-info__details-group
        .game-info__front-desk(:id="domIdList.gameTableTitle") {{ `${displayData.gameTableCode} ${i18n.label.TABLE_NUMBER}` }}
        .game-info__shoe-number(:id="domIdList.gameShoeTitle") {{ `${displayData.gameShoeNumber} ${i18n.label.BOOT_NUMBER}` }}
        .game-info__round-number(:id="domIdList.gameRoundTitle") {{ `${displayData.gameRoundNumber} ${i18n.label.ROUND_NUMBER}` }}

  .game-result
    .game-result__board
      .game-result__content
        .fancy-roulette-result__section-icon(:class="`fancy-roulette-result--${rouletteSelectionView.color}`")
          | {{ rouletteSelectionView.value }}
</template>

<script>
import { mapState } from "vuex"
import Roulette from "@/libs/roulette.js"

export default {
  props: { gameData: {}, domIdList: {} },
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main }),
    displayData() {
      const data = this.gameData
      if (Object.keys(data).length > 0) {
        return {
          gameType: data.gameType,
          gameHall: data.gameHall,
          gameTableCode: data.gameTableCode,
          gameShoeNumber: data.gameShoeNumber,
          gameRoundNumber: data.gameRoundNumber,
          gameResult: data.gameResult
        }
      } else {
        return {}
      }
    },
    rouletteSelectionView() {
      const [value] = this.displayData.gameResult.value
      const color = Roulette.getSectionColor(value)
      return { color, value }
    }
  }
}
</script>

<style lang="stylus">
.fancy-roulette-result
  &__section-icon
    display inline-flex
    justify-content center
    align-items center
    width 3.5rem
    height 3.5rem
    border 1px solid transparent
    border-radius 50%
    color #ffffff
    font-weight bold
    font-size 1.5rem

  &--red
    background-color red

  &--black
    background-color black

  &--green
    background-color green
</style>

