<template lang="pug">
el-dialog(
  :visible="isDisplay"
  width="500px"
  custom-class="card-result-modal"
  :close-on-click-modal="true"
  :show-close="true"
  center
)
  // Load fancy game result component
  component(
    :is="gameType"
    :gameData="gameData"
    :domIdList="domIdList"
  )
</template>

<script>
import BACCARAT from "@/components/common/FancyGameResult/BACCARAT.vue"
import DRAGONTIGER from "@/components/common/FancyGameResult/DRAGONTIGER.vue"
import FANTAN from "@/components/common/FancyGameResult/FANTAN.vue"
import ROULETTE from "@/components/common/FancyGameResult/ROULETTE.vue"
import SICBO from "@/components/common/FancyGameResult/SICBO.vue"

export default {
  props: {
    gameType: { type: String, required: true },
    gameData: { type: Object, required: true },
    domIdList: { type: Object, required: true },
    isDisplay: { type: Boolean, default: false }
  },
  components: {
    BACCARAT,
    DRAGONTIGER,
    FANTAN,
    ROULETTE,
    SICBO
  }
}
</script>
