<template lang="pug">
el-dialog(
  :visible="isDisplay"
  width="800px"
  custom-class="general-modal"
  :close-on-click-modal="true"
  :show-close="false"
  :before-close="onClose"
  :destroy-on-close="true"
  center
)
  .sub-account-manage__add-sub-account(id="divAddSubAccount")
    .modal__title {{ i18n.label.ADD_ACCOUNT }}

    .modal__row.sub-account-manage__modal-row
      .modal__label {{ `${i18n.label.ACCOUNT}* : ` }}
      UserAccountInput(
        domId="iptAcctInAddSubAccount"
        :isRequired="true"
        @input="setUserAccount"
        ref="userAccountInput"
      )
      .sub-account-manage__notice {{ `*${i18n.label.ACCOUNT_LIMIT}` }}

    .modal__row.sub-account-manage__modal-row
      .modal__label {{ `${i18n.label.NICKNAME}* : ` }}
      UserNicknameInput(
        domId="iptNickNameInAddSubAccount"
        :isRequired="true"
        @input="setUserNickname"
        ref="userNicknameInput"
      )
      .sub-account-manage__notice {{ `*${i18n.label.NICKNAME_LIMIT}` }}

    .modal__row.sub-account-manage__modal-row
      .modal__label {{ `${i18n.label.PASSWORD}* : ` }}
      UserPasswordInput(
        domId="iptPwdInAddSubAccount"
        :isReadonly="true"
        :isRequired="true"
        inputType="text"
        @input="setPassword"
        ref="newRandomPasswordInput"
      )

      .primary-button.modal__item(
        id="btnGenertaePwdInAddSubAccount"
        @click="getNewRandomPassword"
      ) {{ i18n.label.GENERATE_PASSWORD }}

      .primary-button.modal__item(
        id="btnCopyPwdInAddSubAccount"
        @click="copyNewRandomPassword"
      ) {{ i18n.label.COPY_PASSWORD }}

    .modal__row.sub-account-manage__modal-row
      .modal__label {{ `${i18n.label.ROLE}* : ` }}
      PermissionRoleList.sub-account-manage__permission-role(
        domId="divCharInAddSubAccount"
        :isRequired="true"
        :class="[isPermissionRoleListValid?'':'is-invalid']"
        :targetData="current"
        @change="setPermissionRoleList"
        ref="permissionRoleList"
      )

    .modal__row.sub-account-manage__modal-row
      .modal__label {{ `${i18n.label.EMAIL}* : ` }}
      EmailInput(
        domId="iptEmailInAddSubAccount"
        :isRequired="true"
        @input="setEmail"
        ref="emailInput"
      )

    .modal__action-bar
      .secondary-button.modal__item(
        id="btnCancelInAddSubAccount"
        @click="onClose"
      ) {{ i18n.label.CANCEL }}

      .primary-button.modal__item(
        id="btnOKInAddSubAccount"
        @click="submitRequest"
      ) {{ i18n.label.COMFIRM }}

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { randomPassword } from "@/libs/random.js"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import LoadingLock from "../../basic/LoadingLock.vue"
import { ValidationProvider } from "vee-validate"

import EmailInput from "@/components/inputs/Email.vue"
import UserNicknameInput from "@/components/inputs/UserNickname.vue"
import UserAccountInput from "@/components/inputs/UserAccount.vue"
import UserPasswordInput from "@/components/inputs/UserPassword.vue"
import PermissionRoleList from "@/components/common/PermissionRoleList.vue"
import { addSubAccount } from "@/api/Agent.js"
import { mapState } from "vuex"

export default {
  props: { isDisplay: { type: Boolean, default: false } },
  components: {
    LoadingLock,
    ValidationProvider,
    EmailInput,
    UserNicknameInput,
    UserAccountInput,
    UserPasswordInput,
    PermissionRoleList
  },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: { newRandomPassword: "", userAccount: "", email: "", userNickname: "", permissionRoleUidList: [] },
    isPermissionRoleListValid: true,
    isLoading: false
  }),
  computed: {
    ...mapState("member", ["loginToken", "topAgentUid"]),
    ...mapState("i18n", { i18n: state => state.data.Main })
  },
  methods: {
    setPermissionRoleList(payload) {
      this.current.permissionRoleUidList = payload
      this.isPermissionRoleListValid = true
    },
    setUserAccount(data) {
      this.current.userAccount = data
    },
    setUserNickname(data) {
      this.current.userNickname = data
    },
    setEmail(data) {
      this.current.email = data
    },
    setPassword(data) {
      this.current.newRandomPassword = data
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    resetToDefault() {
      this.current.newRandomPassword = ""
      this.current.userAccount = ""
      this.current.email = ""
      this.current.userNickname = ""
    },
    validatePermissionRoleList() {
      if (this.current.permissionRoleUidList.length > 0) {
        this.isPermissionRoleListValid = true
        return true
      } else {
        this.isPermissionRoleListValid = false
        return false
      }
    },
    async validInputs() {
      const result = await Promise.all([
        this.$refs["userAccountInput"].validate(),
        this.$refs["userNicknameInput"].validate(),
        this.$refs["newRandomPasswordInput"].validate(),
        this.$refs["emailInput"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      const isValid = this.validatePermissionRoleList()
      return isValid && isAllValid
    },
    async submitRequest() {
      const isValid = await this.validInputs()

      if (isValid !== true) return

      try {
        this.isLoading = true

        const payload = {
          subAccountName: this.current.userAccount,
          nickname: this.current.userNickname,
          password: this.current.newRandomPassword,
          email: this.current.email,
          topAgentUid: this.topAgentUid,
          permissionRoleUidList: this.current.permissionRoleUidList
        }

        const res = await addSubAccount(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.isLoading = false
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
        this.onClose()
      }
    },
    getNewRandomPassword() {
      const password = randomPassword()
      this.$refs["newRandomPasswordInput"].setValue(password)
    },
    copyNewRandomPassword() {
      this.$refs["newRandomPasswordInput"].copyValue()
    }
  }
}
</script>
