<template lang="pug">
el-dialog(
  :visible="isDisplay"
  width="550px"
  custom-class="general-modal"
  :close-on-click-modal="true"
  :show-close="false"
  :before-close="onClose"
  :destroy-on-close="true"
  @opened="assignDefaultValues"
  center
)
  .sub-account-manage__edit-sub-account(id="divEditSubAccount")
    .modal__title {{ i18n.label.EDIT_ACCOUNT }}

    .modal__row.sub-account-manage__modal-row
      .modal__label {{ `${i18n.label.ACCOUNT}* : ` }}
      .modal__text(id="labAcctInEditSubAccount") {{ this.targetData.subAccount }}

    .modal__row.sub-account-manage__modal-row
      .modal__label {{ `${i18n.label.NICKNAME}* : ` }}
      UserNicknameInput(
        domId="iptNickNameInEditSubAccount"
        :isRequired="true"
        @input="setUserNickname"
        ref="userNicknameInput"
      )
      .sub-account-manage__notice {{ `*${i18n.label.NICKNAME_LIMIT}` }}

    .modal__row.sub-account-manage__modal-row
      .modal__label {{ `${i18n.label.EMAIL}* : ` }}
      EmailInput(
        domId="iptEmailInEditSubAccount"
        :isRequired="true"
        @input="setEmail"
        ref="emailInput"
      )

    .modal__row.sub-account-manage__modal-row
      .modal__label {{ `${i18n.label.ROLE}* : ` }}
      PermissionRoleList.sub-account-manage__permission-role(
        domId="divCharInEditSubAccount"
        :class="[isPermissionRoleListValid?'':'is-invalid']"
        @change="setPermissionRoleList"
        ref="permissionRoleList"
      )

    .modal__action-bar
      .secondary-button.modal__item(
        id="btnCancelInEditSubAccount"
        @click="onClose"
      ) {{ i18n.label.CANCEL }}

      .primary-button.modal__item(
        id="btnOKInEditSubAccount"
        @click="submitRequest"
      ) {{ i18n.label.COMFIRM }}

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import LoadingLock from "../../basic/LoadingLock.vue"
import EmailInput from "@/components/inputs/Email.vue"
import UserNicknameInput from "@/components/inputs/UserNickname.vue"
import PermissionRoleList from "@/components/common/PermissionRoleList.vue"
import { updateSubAccount } from "@/api/Agent.js"
import { mapState } from "vuex"

export default {
  props: {
    isDisplay: { type: Boolean, default: false },
    targetData: { type: Object, required: true }
  },
  data: () => ({
    current: {
      nickname: "",
      email: "",
      permissionRoleUidList: []
    },
    isPermissionRoleListValid: true,
    isLoading: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    ...mapState("i18n", { i18n: state => state.data.Main })
  },
  components: { LoadingLock, EmailInput, UserNicknameInput, PermissionRoleList },
  mixins: [ErrorMessageMixin],
  methods: {
    setPermissionRoleList(payload) {
      this.current.permissionRoleUidList = payload
      this.isPermissionRoleListValid = true
    },
    assignDefaultValues() {
      this.$refs["userNicknameInput"].setValue(this.targetData.nickname)
      this.$refs["emailInput"].setValue(this.targetData.email)
      this.$refs["permissionRoleList"].setPermissionRoles(this.targetData.permissionRoles)
    },
    setUserNickname(data) {
      this.current.nickname = data
    },
    setEmail(data) {
      this.current.email = data
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    resetToDefault() {
      this.current.subAccount = ""
      this.current.email = ""
      this.current.nickname = ""
      this.current.permissionRoleUidList = []
    },
    validatePermissionRoleList() {
      if (this.current.permissionRoleUidList.length > 0) {
        this.isPermissionRoleListValid = true
        return true
      } else {
        this.isPermissionRoleListValid = false
        return false
      }
    },
    async validInputs() {
      const result = await Promise.all([
        this.$refs["userNicknameInput"].validate(),
        this.$refs["emailInput"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      const isValid = this.validatePermissionRoleList()
      return isAllValid && isValid
    },
    async submitRequest() {
      const isValid = await this.validInputs()
      if (isValid !== true) return

      try {
        this.isLoading = true
        const payload = {
          nickname: this.current.nickname,
          email: this.current.email,
          subAccountUid: this.targetData.subAccountUid,
          topAgentUid: this.targetData.topAgentUid,
          permissionRoleUidList: this.current.permissionRoleUidList
        }

        const res = await updateSubAccount(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.isLoading = false
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
        this.onClose()
      }
    }
  }
}
</script>
