.frame
  box-sizing border-box
  padding 1rem
  width 650px
  border 1px solid #000000

  &--general
    background #f2f2f2

  &__title
    padding 0.5rem 0
    border-bottom 1px solid #333333
    color #000000
    font-weight bold
    font-size 1.2rem

  &__label
    display flex
    align-items center
    margin-right 1rem
    font-weight bold

  &__row
    display grid
    margin-top 1rem
    padding 0 2rem
    grid-template-columns repeat(4, 25%)

  &__action-bar
    display flex
    justify-content center
    align-content center
    grid-column span 4
