.header
  display flex
  align-items center

  &__title
    display block
    margin 1.15rem 0
    font-weight bold
    font-size 1.75rem

  &__sub-title
    margin-left 0.6rem

  &__title-notice
    margin-bottom 1rem
    color #303f9f
    font-size 1rem
