@import "../mixin/state.styl"

#app
  height 100vh

.is-required
  font-weight bold

.is-danger
  isDanger()

.is-ok
  isOk()

.is-clickable
  cursor pointer

.is-disabled
  opacity 0.7
  cursor not-allowed
