.permission-list-table
  display grid
  margin-bottom 1rem

  &__header-cell, &__cell
    display flex
    align-items center
    box-sizing border-box
    border-right 1px solid #000000
    text-align center
    word-break break-word

    &:last-child
      border-right none

  &__header-cell
    justify-content center
    padding 0.5rem
    background #666666
    color #ffffff

  &__cell
    background #ffffff

  &__row
    display inline-grid
    box-sizing border-box
    border 1px solid #000000
    border-bottom none
    grid-template-columns 50% 50%

    &:last-child
      border-bottom 1px solid #000000

  &__label
    display flex
    justify-content center
    align-items center
    width 100%

  &__option
    display flex
    padding 0.5rem
    border-bottom 1px solid #000000

    &:last-child
      border-bottom none

  &__option-list
    display block
    box-sizing border-box
    width 100%

  &__checkbox
    margin-right 0.5rem

  &__action-bar
    display flex
    margin-bottom 1rem
