.report-table
  display grid
  margin-bottom 1rem
  width fit-content
  width intrinsic
  width -moz-max-content

  &__row
    display inline-grid
    box-sizing border-box
    border 1px solid #000000
    border-bottom none
    grid-template-columns repeat(17, 1fr)

    &:last-child
      border-bottom 1px solid #000000

  &__header-cell, &__cell
    display flex
    justify-content center
    align-items center
    box-sizing border-box
    padding 0.5rem
    border-right 1px solid #000000
    text-align center
    word-break break-word

    &:last-child
      border-right none

  &__header-cell
    background #666666
    color #ffffff

  &__cell
    min-height 2rem
