<template lang="pug">
.game-records
  Navbar(:prop_nav="navbarItems")
  .main
    .header
      h1.header__title(id="labTitleInGameRecord") {{ i18n.title.GAME_RECORDS }}

    HeaderDateSearchNotice(
      :maxRange="maxSearchDayRange"
      :dateRange="searchRangeDays"
    )

    .search-bar
      .filter-types
        .filter-types__button(
          :id="domId"
          v-for="{ code, label, domId } in filterTypeList"
          :key="code"
          :class="[current.filterTypeCode === code ? 'filter-types__button--active' : '']"
          @click="switchFilterTypes(code)"
        ) {{ label }}

      .filter-contents
        .filter-controllers(v-if="current.filterTypeCode === 'TIME_RANGE' ")
          .filter-controllers__group
            DateRangeSwitch(
              :domIdMap="dateRangeSwitchDomIdList"
              :timeMenu="dateRangeSwitchMenu"
              @changeDateRangeOfStartDay="changeDateRangeOfStartDay"
              @changeDateRangeOfEndDay="changeDateRangeOfEndDay"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.START_TIME }}
            DatePicker2(
              domId="btnStartTimeInGameRecord"
              :isOnlyHoursOfTime="false"
              :defaultDate="startTimeOfToday"
              :enabledRange="startDateEnabledRange"
              @select="setStartDate"
              ref="startDate"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.END_TIME }}
            DatePicker2(
              domId="btnEndTimeInGameRecord"
              :class="[isSearchTimeDatesError === true ? 'is-invalid' : '']"
              :isOnlyHoursOfTime="false"
              :defaultDate="endTimeOfTodayOnlySelectHours"
              @select="setEndDate"
              ref="endDate"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.HALL }}
            GameHallSelect(
              domId="selRoomInGameRecord"
              :isEnabledSelectAll="false"
              @select="setGameHall"
            )

          GameTypeWithGameTableSelect(
            gameTypeDomId="selGameTypeInGameRecord"
            gameTableDomId="selTableTypeInGameRecord"
            :isEnabledSelectAll="false"
            @selectGameType="setGameType"
            @selectGameTable="setGameTable"
          )

        .filter-controllers(v-if="current.filterTypeCode === 'GAME_ROUND' ")

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.HALL }}
            GameHallSelect(
              domId="selRoomInGameNoInGameRecord"
              :isEnabledSelectAll="false"
              @select="setGameHall"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ `${i18n.label.TABLE_NUMBER}*` }}
            GameDeskCodeInput(
              domId="iptTableNoInGameRecord"
              @input="setGameDeskCode"
              ref="gameDeskCode"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ `${i18n.label.BOOT_NUMBER}*` }}
            GameShoesNumberInput(
              domId="iptBootNoInGameRecord"
              @input="setGameShoesNumber"
              ref="gameShoesNumber"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ `${i18n.label.ROUND_NUMBER}*` }}
            GameRoundNumberInput(
              domId="iptGameNoInGameRecord"
              @input="setGameRoundNumber"
              ref="gameRoundNumber"
            )

        .search-bar__button(
          :id="current.filterTypeCode === 'GAME_ROUND' ? 'btnSearchInGameNoInGameRecord':'btnSearchInGameRecord' "
          @click="submitSearch"
        ) {{ i18n.label.SEARCH }}

    .search-bar-notice(v-if="isSearchTimeDatesError === true") {{ i18n.label.TIME_RANGE_SELECT_ERROR }}

    .search-result
      template(v-if="reportTableRows.length === 0")
        .search-result__default-content(
          id="divNoResult"
          v-if="isSearchResultEmpty === true"
        ) {{ i18n.label.DATA_EMPTY }}

        .search-result__default-content(v-else) {{ i18n.label.SEARCH_CONDTIONS_REQUIRED }}

      template(v-else)
        .report-table(id="tabGameRecord")

          .report-table__row.game-records__row
            .report-table__header-cell(
              v-for="h in reportTableHeaders"
              :class="h.QA_CSS"
            ) {{ h.label }}

          .report-table__row.game-records__row(v-for="row, index in reportTableRows")
            template(v-for="(value, key) in row")
              .report-table__cell(
                v-if="key === 'gameResult'"
                :class="getCSSForQA(key, reportTableHeaders)"
              )
                span.no-game-result(v-if="value.state === 2") -

                span.game-records__column-result.is-clickable(
                  v-else
                  @click="showFancyResult(index)"
                ) {{ value.label }}

                  FancyGameResultTableColumn(
                    :gameType="value.type"
                    :gameData="value.componentProps"
                    :domIdList="gameFancyResult.domId"
                    :isDisplay="fancyResultIndex === index"
                  )

              .report-table__cell.game-records__column-video-link(
                v-else-if="key === 'streamUrl'"
                :class="getCSSForQA(key, reportTableHeaders)"
              )
                span(@click="openStreamUrl(index)") {{ value.label }}
                  el-dialog(
                    :visible="streamUrlIndex === index"
                    width="850px"
                    custom-class="game-records__video-modal"
                    :close-on-click-modal="true"
                    :show-close="true"
                    center
                  )
                    // Load stream url and auto play
                    video(
                      controls
                      width="750"
                      :autoplay="true"
                    )
                      source(
                        src="/media/dummy.mp4"
                        type="video/mp4"
                      )

              .report-table__cell(
                v-else
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ value }}

        Pagination(
          v-if="current.totalPagings > 1"
          :domIdList="paginations.domId"
          :totalPagings="current.totalPagings"
          :pagingIndex="current.pagingIndex"
          @change="searchWithPagingIndex"
        )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState, mapGetters } from "vuex"
import Navbar from "@/components/basic/nav.vue"
import Pagination from "@/components/basic/Paginations.vue"
import DateRangeSwitch from "@/components/switches/DateRange.vue"
import GameHallSelect from "@/components/selects/GameHall.vue"
import DatePicker2 from "@/components/selects/DatePicker2.vue"
import GameShoesNumberInput from "@/components/inputs/GameShoesNumber.vue"
import GameRoundNumberInput from "@/components/inputs/GameRoundNumber.vue"
import GameDeskCodeInput from "@/components/inputs/GameDeskCode.vue"
import GameTypeWithGameTableSelect from "@/components/selects/GameTypeWithGameTable.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import FancyGameResultTableColumn from "@/components/common/FancyGameResult/TableColumn.vue"
import { getLocalTimeString, formatToUTCTimeString } from "@/libs/time.js"
import { getGameRecordsByTimeRange, getGameRecordsByGameRound } from "@/api/Report.js"
import { methods as I18nMethodsMixin } from "@/mixins/I18n.js"
import GameResultMixin from "@/mixins/GameResult.js"
import { computed as ReportPageMixinComputed, methods as ReportPageMixinMethods } from "@/mixins/ReportPage.js"
import { parseAPIString } from "@/libs/string.js"
import HeaderDateSearchNotice from "@/components/common/HeaderDateSearchNotice.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.GAME_RECORDS}${this.getWebTitleWithSuffix}`
    }
  },
  props: {
    reportTableHeaders: { type: Array, required: true },
    isActiveVideoColumn: { type: Boolean, default: false }
  },
  mixins: [GameResultMixin, ReportPageMixinComputed, ReportPageMixinMethods, I18nMethodsMixin],
  components: {
    Navbar,
    Pagination,
    GameHallSelect,
    GameTypeWithGameTableSelect,
    DatePicker2,
    DateRangeSwitch,
    GameShoesNumberInput,
    GameRoundNumberInput,
    GameDeskCodeInput,
    FancyGameResultTableColumn,
    LoadingLock,
    HeaderDateSearchNotice
  },
  beforeDestroy() {
    this.clearCacheSearchConditions()
  },
  created() {
    this.current.filterTypeCode = this.filterTypeList[0].code
  },
  watch: {
    dateRangeDays: function() {
      this.validSearchTimeSelects()
    }
  },
  data: () => ({
    current: {
      filterTypeCode: "",
      gameHall: "",
      gameType: "",
      gameTable: "",
      startDate: undefined,
      endDate: undefined,
      gameShoesNumber: "",
      gameRoundNumber: "",
      gameDeskCode: "",
      itemsPerPage: 20,
      pagingIndex: 0,
      totalPagings: -1
    },
    fancyResultIndex: -1,
    streamUrlIndex: -1,
    transactionDetails: [],
    isLoading: false,
    isSearchResultEmpty: false,
    resultRows: [],
    searchRangeDays: 1,
    maxSearchDayRange: 90,
    isSearchTimeDatesError: false
  }),
  computed: {
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("i18n", { i18n: state => state.data.Main, i18nSite: state => state.data.Site }),
    ...mapState("member", ["loginToken"]),
    ...mapState("cache", {
      gameRecordsListSearchConditions: state => {
        return state.searchConditions.gameRecords.list
      }
    }),
    isCacheSearchConditionsExist() {
      if (Object.keys(this.gameRecordsListSearchConditions).length > 0) {
        return true
      } else {
        return false
      }
    },
    gameFancyResult() {
      return {
        domId: {
          wrapper: "divGameResultInGameRecord",
          gameTitle: "labGameTypeInGameResultInGameRecord",
          gameHallTitle: "labRoomInGameResultInGameRecord",
          gameTableTitle: "labTableInGameResultInGameRecord",
          gameShoeTitle: "labShoeInGameResultInGameRecord",
          gameRoundTitle: "labRoundInGameResultInGameRecord"
        }
      }
    },
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInGameRecord",
          previousPage: "btnPrevPageInGameRecord",
          inputPage: "iptPageInGameRecord",
          actionButton: "btnSearchPageInGameRecord",
          nextPage: "btnNextPageInGameRecord",
          lastPage: "btnLastPageInGameRecord"
        }
      }
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          let videoData = {}

          if (this.isActiveVideoColumn === true) {
            videoData = { streamUrl: { url: x.streamUrl, label: this.i18n.label.VIDEO } }
          }

          const gameResult = parseAPIString(x.result)
          const gameHall = this.gameHallNameMapping(parseAPIString(x.themeTitle)["ZH-CN"])
          const gameType = this.gameTypeNameMapping(x.gameSetAlias)
          const orderStatusId = parseInt(x.state)
          const orderStatus = this.orderStatusNameMapping(orderStatusId)
          const gameTableType = this.gameTableTypeNameMapping(x.tableSpeciesAlias)

          const result = {
            gameHall: gameHall,
            gameType: gameType ? gameType : x.gameSetTitle,
            gameTable: gameTableType ? gameTableType : x.tableSpeciesTitle,
            gameTableCode: x.tableFrontId,
            gameShoeNumber: x.shoeNo,
            gameRoundNumber: x.roundNo,
            gameRoundStartTime: getLocalTimeString(formatToUTCTimeString(x.gameRoundStartTime)),
            gameResult: {
              type: x.gameSetAlias,
              label: this.parseGameResult(gameResult, x.gameSetAlias),
              state: orderStatusId,
              componentProps: {
                gameType: gameType ? gameType : x.gameSetTitle,
                gameHall: gameHall,
                gameTableCode: x.tableFrontId,
                gameShoeNumber: x.shoeNo,
                gameRoundNumber: x.roundNo,
                gameResult: { value: gameResult }
              }
            },
            ...videoData,
            gameStateText: orderStatus
          }

          return result
        })
      } else {
        return []
      }
    },
    navbarItems() {
      return [
        { title: this.i18nSite.label.GAME_MANAGEMENT, islink: false, path: "" },
        { title: this.i18n.title.GAME_RECORDS, islink: true, path: this.$route.path }
      ]
    },
    dateRangeSwitchMenu() {
      return [
        { code: "TODAY", label: this.i18n.label.TODAY },
        { code: "YESTERDAY", label: this.i18n.label.YESTERDAY }
      ]
    },
    dateRangeSwitchDomIdList() {
      return {
        TODAY: "btnTodayInGameRecord",
        YESTERDAY: "btnYesterdayInGameRecord"
      }
    },
    filterTypeList() {
      return [
        { code: "TIME_RANGE", label: this.i18n.label.TIME_WITH_GAME, domId: "btnTimeGameInGameRecord" },
        { code: "GAME_ROUND", label: this.i18n.label.GAME_ROUND_NUMBER, domId: "btnGameNoInGameRecord" }
      ]
    }
  },
  methods: {
    openStreamUrl(index) {
      if (this.streamUrlIndex === index) {
        this.streamUrlIndex = -1
      } else {
        this.streamUrlIndex = index
      }
    },
    showFancyResult(index) {
      if (this.fancyResultIndex === index) {
        this.fancyResultIndex = -1
      } else {
        this.fancyResultIndex = index
      }
    },
    async searchWithPagingIndex(index) {
      const pagingIndex = parseInt(index)
      this.current.pagingIndex = pagingIndex

      if (this.isCacheSearchConditionsExist === true) {
        const cacheData = this.gameRecordsListSearchConditions

        const payload = Object.assign({}, { ...cacheData }, { pagingIndex: pagingIndex })

        this.saveCacheSearchConditions(payload)
      }

      await this.fetchSearchResult({ isSearchWithCacheConditions: true })
    },
    changeDateRangeOfStartDay(date) {
      this.$refs["startDate"].setDate(date)
    },
    changeDateRangeOfEndDay(date) {
      this.$refs["endDate"].setDate(date)
    },
    setGameRoundNumber(payload) {
      this.current.gameRoundNumber = payload
    },
    setGameDeskCode(payload) {
      this.current.gameDeskCode = payload
    },
    setGameShoesNumber(payload) {
      this.current.gameShoesNumber = payload
    },
    setGameType(payload) {
      this.current.gameType = payload
    },
    setGameTable(payload) {
      this.current.gameTable = payload
    },
    setGameHall(payload) {
      this.current.gameHall = payload
    },
    setPaginations(payload) {
      this.current.totalPagings = payload.pageCount
      this.current.pagingIndex = payload.pageIndex
    },
    resetPaginations() {
      const defaultValue = 0
      this.current.totalPagings = defaultValue
      this.current.pagingIndex = defaultValue
    },
    saveCacheSearchConditions(payload) {
      this.$store.dispatch("cache/setGameRecordsListSearchConditions", payload)
    },
    clearCacheSearchConditions() {
      this.$store.dispatch("cache/removeGameRecordsListSearchConditions")
    },
    switchFilterTypes(filterTypeCode) {
      const list = this.filterTypeList.map(x => x.code)

      if (list.includes(filterTypeCode)) {
        this.current.filterTypeCode = filterTypeCode
        this.isSearchResultEmpty = false
      }
    },
    async validFilterGameRound() {
      const result = await Promise.all([
        this.$refs["gameRoundNumber"].validate(),
        this.$refs["gameShoesNumber"].validate(),
        this.$refs["gameDeskCode"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async validFilterTimeRange() {
      const result = await Promise.all([this.$refs["startDate"].validate(), this.$refs["endDate"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid && this.isSearchTimeDatesError === false
    },
    async checkPayloadValidByFilterTypes(code) {
      switch (code) {
        case "TIME_RANGE":
          return await this.validFilterTimeRange()
        case "GAME_ROUND":
          return await this.validFilterGameRound()
      }
    },
    resetSearchResult() {
      //reset to default view
      this.resultRows = []
      this.resetPaginations()
    },
    async requestByFilterTypes(code, payload) {
      const loginToken = this.loginToken

      switch (code) {
        case "TIME_RANGE":
          return await getGameRecordsByTimeRange(loginToken, payload)
        case "GAME_ROUND":
          return await getGameRecordsByGameRound(loginToken, payload)
      }
    },
    async submitSearch() {
      const code = this.current.filterTypeCode
      // validate all require inputs by filter-types
      const validResult = await this.checkPayloadValidByFilterTypes(code)

      if (validResult === true) {
        await this.fetchSearchResult()
      }
    },
    getFetchListPayload({ isFromCacheConditions = false } = {}) {
      if (isFromCacheConditions === true && this.isCacheSearchConditionsExist === true) {
        return {
          ...this.gameRecordsListSearchConditions
        }
      } else {
        return {
          ...this.current
        }
      }
    },
    async fetchSearchResult({ isSearchWithCacheConditions = false } = {}) {
      this.isLoading = true

      try {
        this.resetSearchResult()

        const payloadConfig = { isFromCacheConditions: isSearchWithCacheConditions }
        const payload = this.getFetchListPayload(payloadConfig)

        const { exitCode, data } = await this.requestByFilterTypes(payload.filterTypeCode, payload)

        if (exitCode === true && data.rows.length > 0) {
          this.isSearchResultEmpty = false

          this.resultRows = data.rows
          this.setPaginations(data.pagination)

          if (isSearchWithCacheConditions === false) {
            this.saveCacheSearchConditions(payload)
          }
        } else {
          throw new Error("No return data")
        }
      } catch (err) {
        this.resetSearchResult()
        this.clearCacheSearchConditions()
        this.isSearchResultEmpty = true
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.game-records
  &__column-result, &__column-video-link
    color #303f9f
    text-decoration underline
    font-weight bold
    cursor pointer

  &__video-modal
    display flex
    justify-content center
    align-items center
    background #cccccc
</style>
