<template lang="pug">
.abnormal-records
  Navbar(:prop_nav="navbarItems")
  .main
    .header
      h1.header__title(id="labTitleInBillAbnormal") {{ i18n.title.ABNORMAL_GAME_RECORDS }}

    HeaderDateSearchNotice(
      :maxRange="maxSearchDayRange"
      :dateRange="searchRangeDays"
    )

    .search-bar
      .filter-types
        .filter-types__button(
          v-for="{ code, label, domId } in filterTypeList"
          :key="code"
          :class="[current.filterTypeCode === code ? 'filter-types__button--active' : '']"
          @click="switchFilterTypes(code)"
          :id="domId"
        ) {{ label }}

      .filter-contents
        .filter-controllers(v-if="current.filterTypeCode === 'TIME_RANGE' ")
          .filter-controllers__group
            DateRangeSwitch(
              :domIdMap="dateRangeSwitchDomIdList"
              :timeMenu="dateRangeSwitchMenu"
              @changeDateRangeOfStartDay="changeDateRangeOfStartDay"
              @changeDateRangeOfEndDay="changeDateRangeOfEndDay"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.START_TIME }}
            DatePicker2(
              domId="btnStartTimeInBillAbnormal"
              :isOnlyHoursOfTime="false"
              :defaultDate="startTimeOfToday"
              :enabledRange="startDateEnabledRange"
              @select="setStartDate"
              ref="startDate"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.END_TIME }}
            DatePicker2(
              domId="btnEndTimeInBillAbnormal"
              :class="[isSearchTimeDatesError === true ? 'is-invalid' : '']"
              :isOnlyHoursOfTime="false"
              :defaultDate="endTimeOfTodayOnlySelectHours"
              @select="setEndDate"
              ref="endDate"
            )

          template(v-if="isOverlord === true")
            .filter-controllers__group
              label.filter-controllers__label--top {{ i18n.label.CURRENCY }}
              AgentCurrencySelect(
                domId="AgentCurrencySelect"
                @select="setCurrencyAgentGroupId"
              )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.HALL }}
            GameHallSelect(
              domId="selRoomInBillAbnormal"
              @select="setGameHall"
              @getGameHallList="setGameHallList"
            )

          GameTypeWithGameTableSelect(
            gameTypeDomId="selGameTypeInBillAbnormal",
            gameTableDomId="selTableTypeInBillAbnormal"
            @selectGameType="setGameType"
            @selectGameTable="setGameTable"
          )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.ORDER_STATUS }}
            GameOrderStateSelect(
              domId="selBetOrderStatusInBillAbnormal"
              @select="setGameOrderState"
              ref="gameResultState"
              :disableOptions="[1]"
              :isDefaultSelectedAll="isSelectAllGameOrderStatesOnStart"
            )

        .filter-controllers(v-if="current.filterTypeCode === 'GAME_ROUND' ")

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.HALL }}
            GameHallSelect(
              domId="selRoomInGameNoInBillAbnormal"
              @select="setGameHall"
              @getGameHallList="setGameHallList"
              ref="gameHallSelect"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ i18n.label.TABLE_NUMBER }}*
            GameDeskCodeInput(
              domId="iptTableNoInBillAbnormal"
              @input="setGameDeskCode"
              ref="gameDeskCode"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ i18n.label.BOOT_NUMBER }}*
            GameShoesNumberInput(
              domId="iptBootNoInBillAbnormal"
              @input="setGameShoesNumber"
              ref="gameShoesNumber"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ i18n.label.ROUND_NUMBER }}*
            GameRoundNumberInput(
              domId="iptGameNoInBillAbnormal"
              @input="setGameRoundNumber"
              ref="gameRoundNumber"
            )

        .search-bar__button(
          id="btnSearchInBillAbnormal"
          @click="submitSearch"
        ) {{ i18n.label.SEARCH }}

    .search-bar-notice(v-if="isSearchTimeDatesError === true") {{ i18n.label.TIME_RANGE_SELECT_ERROR }}

    .search-result.abnormal-records__search-result
      template(v-if="reportTableRows.length === 0")
        .search-result__default-content(
          id="divNoResult"
          v-if="isSearchResultEmpty === true"
        ) {{ i18n.label.DATA_EMPTY }}

        .search-result__default-content(v-else) {{ i18n.label.SEARCH_CONDTIONS_REQUIRED }}

      template(v-else)
        .report-table.abnormal-records__table(id="tabGameRecordInBillAbnormal")

          .report-table__row.abnormal-records__table-header-row
            template(v-for="headerSection in reportTableHeaders")

              template(v-if="headerSection.main && headerSection.main.length > 0")
                .report-table__header-cell(
                  v-for="h in headerSection.main"
                  :class="[ h.QA_CSS, h.extraCss ]"
                ) {{ h.label }}

              template(v-else-if="headerSection.beforeModify && headerSection.beforeModify.length > 0")
                .report-table__header-cell.abnormal-records__table-header-before-modify {{ i18n.label.BEFORE_MODIFIED }}
                .report-table__header-cell.abnormal-records__table-header--red(
                  v-for="h in headerSection.beforeModify"
                  :class="[ h.QA_CSS, h.extraCss ]"
                ) {{ h.label }}

              template(v-else-if="headerSection.afterModify && headerSection.afterModify.length > 0")
                .report-table__header-cell.abnormal-records__table-header-after-modify  {{ i18n.label.AFTER_MODIFIED }}
                .report-table__header-cell.abnormal-records__table-header--blue(
                  v-for="h in headerSection.afterModify"
                  :class="[ h.QA_CSS, h.extraCss ]"
                ) {{ h.label }}

              template(v-else-if="headerSection.extra && headerSection.extra.length > 0")
                .report-table__header-cell(
                  v-for="h in headerSection.extra"
                  :class="[ h.QA_CSS, h.extraCss ]"
                ) {{ h.label }}

          .report-table__row.abnormal-records__table-body-row(
            v-if="reportTableRows.length > 0"
            v-for="row, index in reportTableRows"
          )
            template(v-for="(section, sectionKey) in row")

              template(
                v-if="sectionKey === 'main'"
                v-for="(x, key) in section"
              )
                .report-table__cell(:class="getCSSForQA(key, reportTableHeaders[0].main)") {{ x }}

              template(
                v-if="sectionKey === 'beforeModify'"
                v-for="(x, key) in section"
              )

                .report-table__cell.abnormal-records__column-result(
                  v-if="key === 'gameResult' && x.state !==2"
                  @click="showFancyResultBefore(index)"
                  :class="getCSSForQA(key, reportTableHeaders[1].beforeModify)"
                )
                  span.is-clickable {{ x.label }}
                    FancyGameResultTableColumn(
                      :gameType="x.type"
                      :gameData="x.componentProps"
                      :domIdList="gameFancyResult.domId.before"
                      :isDisplay="fancyResultBeforeIndex === index"
                    )

                .report-table__cell(
                  v-else-if="key === 'gameResult' && x.state === 2"
                  :class="getCSSForQA(key, reportTableHeaders[1].beforeModify)"
                ) -

                .report-table__cell(
                  v-else-if="noticeColorColumns.includes(key ) === true"
                  :class="getCSSForQA(key, reportTableHeaders[1].beforeModify)"
                )
                  span(:class="getPayoutColorClass(x)") {{ x }}

                .report-table__cell(
                  v-else
                  :class="getCSSForQA(key, reportTableHeaders[1].beforeModify)"
                ) {{ x }}

              template(
                v-if="sectionKey === 'afterModify'"
                v-for="(x, key) in section"
              )

                .report-table__cell.abnormal-records__column-result(
                  v-if="key === 'gameResult' && x.state !==2"
                  @click="showFancyResultAfter(index)"
                  :class="getCSSForQA(key, reportTableHeaders[2].afterModify)"
                )
                  span.is-clickable {{ x.label }}
                    FancyGameResultTableColumn(
                      :gameType="x.type"
                      :gameData="x.componentProps"
                      :domIdList="gameFancyResult.domId.after"
                      :isDisplay="fancyResultAfterIndex === index"
                    )

                .report-table__cell(
                  v-else-if="key === 'gameResult' && x.state === 2"
                  :class="getCSSForQA(key, reportTableHeaders[2].afterModify)"
                ) -

                .report-table__cell(
                  v-else-if="noticeColorColumns.includes(key ) === true"
                  :class="getCSSForQA(key, reportTableHeaders[2].afterModify)"
                )
                  span(:class="getPayoutColorClass(x)") {{ x }}

                .report-table__cell(
                  v-else
                  :class="getCSSForQA(key, reportTableHeaders[2].afterModify)"
                ) {{ x }}

              template(
                v-if="sectionKey === 'extra'"
                v-for="(x, key) in section"
              )
                .report-table__cell.no-right-border(
                  v-if="key === 'troggleExtraRecords'"
                  :class="getCSSForQA(key, reportTableHeaders[3].extra)"
                )

                  template(v-if="extraTableIndex === index")
                    .button.abnormal-records__action-button(
                      @click="showExtraTable(index)"
                    ) {{ x.labelForClose }}

                  template(
                    v-else
                    :class="getCSSForQA(key, reportTableHeaders[3].extra)"
                  )
                    .button.abnormal-records__action-button(
                      @click="showExtraTable(index); fetchAbnormalModifiedRecords(x.gameRoundNo)"
                    ) {{ x.labelForOpen }}

            .abnormal-records__extra-table-area(v-if="extraTableIndex === index && extraTableRows.length > 0")

              .abnormal-records__extra-happy-land
                .abnormal-records__extra-table-title(id="labModifyOrderInBillAbnormal") {{ i18n.label.MODIFY_ORDER }}

                .report-table.abnormal-records__table(id="tabMemberOrderInBillAbnormal")

                  .report-table__row.abnormal-records__extra-table-header-row
                    template(v-for="headerSection in extraTableHeaders")

                      template(v-if="headerSection.main && headerSection.main.length > 0")
                        .report-table__header-cell(
                          v-for="h in headerSection.main"
                          :class="[ h.QA_CSS, h.extraCss ]"
                        ) {{ h.label }}

                      template(v-else-if="headerSection.beforeModify && headerSection.beforeModify.length > 0")
                        .report-table__header-cell.abnormal-records__extra-table-header-before-modify {{ i18n.label.BEFORE_MODIFIED }}
                        .report-table__header-cell.abnormal-records__table-header--red(
                          v-for="h in headerSection.beforeModify"
                          :class="[ h.QA_CSS, h.extraCss ]"
                        ) {{ h.label }}

                      template(v-else-if="headerSection.afterModify && headerSection.afterModify.length > 0")
                        .report-table__header-cell.abnormal-records__extra-table-header-after-modify {{ i18n.label.AFTER_MODIFIED }}
                        .report-table__header-cell.abnormal-records__table-header--blue(
                          v-for="h in headerSection.afterModify"
                          :class="[ h.QA_CSS, h.extraCss ]"
                        ) {{ h.label }}

                  .abnormal-records__extra-table-wrapper
                    .report-table__row.abnormal-records__extra-table-body-row(
                      v-for="row, index in extraTableRows"
                    )
                      template(v-for="(section, sectionKey) in row")

                        template(
                          v-if="sectionKey === 'main'"
                          v-for="(x, key) in section"
                        )
                          .report-table__cell(:class="getCSSForQA(key, extraTableHeaders[0].main)") {{ x }}

                        template(
                          v-if="sectionKey === 'beforeModify'"
                          v-for="(x, key) in section"
                        )

                          .report-table__cell(
                            v-if="noticeColorColumns.includes(key ) === true"
                            :class="getCSSForQA(key, extraTableHeaders[1].beforeModify)"
                          )
                            span(:class="getPayoutColorClass(x)") {{ x }}

                          .report-table__cell(
                            v-else
                            :class="getCSSForQA(key, extraTableHeaders[1].beforeModify)"
                          ) {{ x }}

                        template(
                          v-if="sectionKey === 'afterModify'"
                          v-for="(x, key) in section"
                        )

                          .report-table__cell(
                            v-if="noticeColorColumns.includes(key ) === true"
                            :class="getCSSForQA(key, extraTableHeaders[2].afterModify)"
                          )
                            span(:class="getPayoutColorClass(x)") {{ x }}

                          .report-table__cell(
                            v-else
                            :class="getCSSForQA(key, extraTableHeaders[2].afterModify)"
                          ) {{ x }}

            .abnormal-records__extra-table-area(v-else-if="extraTableIndex === index && extraResultRows.length === 0")
              .abnormal-records__extra-table-no-result {{ i18n.label.DATA_EMPTY }}

        Pagination(
          v-if="current.totalPagings > 1"
          :domIdList="paginations.domId"
          :totalPagings="current.totalPagings"
          :pagingIndex="current.pagingIndex"
          @change="searchWithPagingIndex"
        )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import Navbar from "@/components/basic/nav.vue"
import Pagination from "@/components/basic/Paginations.vue"
import DateRangeSwitch from "@/components/switches/DateRange.vue"
import GameTypeSelect from "@/components/selects/GameType.vue"
import GameTypeWithGameTableSelect from "@/components/selects/GameTypeWithGameTable.vue"
import GameHallSelect from "@/components/selects/GameHall.vue"
import GameOrderStateSelect from "@/components/selects/GameOrderState.vue"
import GameShoesNumberInput from "@/components/inputs/GameShoesNumber.vue"
import GameRoundNumberInput from "@/components/inputs/GameRoundNumber.vue"
import GameDeskCodeInput from "@/components/inputs/GameDeskCode.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import FancyGameResultTableColumn from "@/components/common/FancyGameResult/TableColumn.vue"
import { getLocalTimeString, formatToUTCTimeString } from "@/libs/time.js"
import { getAbnormalByTimeRange, getAbnormalByGameRound, getAbnormalModifiedRecords } from "@/api/Report.js"
import GameResultMixin from "@/mixins/GameResult.js"
import DatePicker2 from "@/components/selects/DatePicker2.vue"
import { computed as ReportPageMixinComputed, methods as ReportPageMixinMethods } from "@/mixins/ReportPage.js"
import { methods as I18nMethodsMixin } from "@/mixins/I18n.js"
import { mapState, mapGetters } from "vuex"
import { parseAPIString } from "@/libs/string.js"
import AgentCurrencySelect from "@/components/selects/AgentCurrency.vue"
import { getGameHallList } from "@/api/Game.js"
import HeaderDateSearchNotice from "@/components/common/HeaderDateSearchNotice.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.ABNORMAL_GAME_RECORDS}${this.getWebTitleWithSuffix}`
    }
  },
  mixins: [GameResultMixin, ReportPageMixinComputed, ReportPageMixinMethods, I18nMethodsMixin],
  components: {
    Navbar,
    Pagination,
    DateRangeSwitch,
    GameTypeSelect,
    GameTypeWithGameTableSelect,
    GameHallSelect,
    DatePicker2,
    GameShoesNumberInput,
    GameRoundNumberInput,
    GameDeskCodeInput,
    GameOrderStateSelect,
    LoadingLock,
    FancyGameResultTableColumn,
    AgentCurrencySelect,
    HeaderDateSearchNotice
  },
  watch: {
    dateRangeDays: function() {
      this.validSearchTimeSelects()
    }
  },
  async created() {
    // Hotfixes
    const result = await getGameHallList(this.loginToken)

    if (result.data.themes.length > 0) {
      const mapping = result.data.themes.flatMap(x => {
        const label = this.gameHallNameMapping(x.title)
        return { uid: x.uid, label: label }
      })

      this.setGameHallList(mapping)
    } else {
      this.setGameHallList([])
    }

    this.current.filterTypeCode = this.filterTypeList[0].code
  },
  data: () => ({
    current: {
      filterTypeCode: "",
      gameHall: "",
      gameType: "",
      gameTable: "",
      startDate: undefined,
      endDate: undefined,
      gameShoesNumber: "",
      gameRoundNumber: "",
      gameDeskCode: "",
      gameOrderStates: "",
      agentGroupUid: undefined,
      itemsPerPage: 20,
      pagingIndex: 0,
      totalPagings: -1
    },
    gameHallList: [],
    fancyResultBeforeIndex: -1,
    fancyResultAfterIndex: -1,
    extraTableIndex: -1,
    tempConditions: {},
    transactionDetails: [],
    isLoading: false,
    isSearchResultEmpty: false,
    isSelectAllGameOrderStatesOnStart: true,
    resultRows: [],
    extraResultRows: [],
    searchRangeDays: 7,
    maxSearchDayRange: 90,
    isSearchTimeDatesError: false,
    noticeColorColumns: ["winLossAmount", "payout"]
  }),
  computed: {
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("i18n", { i18n: state => state.data.Main, i18nSite: state => state.data.Site }),
    ...mapState("member", ["loginToken", "agentGroupUid"]),
    ...mapGetters("member", ["isOverlord"]),
    ...mapState("cache", {
      abnormalRecordsListSearchConditions: state => {
        return state.searchConditions.abnormalRecords.list
      }
    }),
    isCacheSearchConditionsExist() {
      if (Object.keys(this.abnormalRecordsListSearchConditions).length > 0) {
        return true
      } else {
        return false
      }
    },
    reportTableHeaders() {
      return [
        {
          main: [
            {
              label: this.i18n.label.HALL,
              name: "gameHall",
              QA_CSS: "_Room",
              extraCss: "abnormal-records__m-1-th-1"
            },
            {
              label: this.i18n.label.GAME_TYPES,
              name: "gameType",
              QA_CSS: "_gameType",
              extraCss: "abnormal-records__m-1-th-2"
            },
            {
              label: this.i18n.label.GAME_TABLE_TYPES,
              name: "gameTable",
              QA_CSS: "_tableType",
              extraCss: "abnormal-records__m-1-th-3"
            },
            {
              label: this.i18n.label.TABLE_NUMBER,
              name: "gameTableCode",
              QA_CSS: "_tableId",
              extraCss: "abnormal-records__m-1-th-4"
            },
            {
              label: this.i18n.label.BOOT_NUMBER,
              name: "gameShoeNumber",
              QA_CSS: "_shoeNo",
              extraCss: "abnormal-records__m-1-th-5"
            },
            {
              label: this.i18n.label.ROUND_NUMBER,
              name: "gameRoundNumber",
              QA_CSS: "_roundNo",
              extraCss: "abnormal-records__m-1-th-6"
            },
            {
              label: this.i18n.label.STATUS,
              name: "gameStateText",
              QA_CSS: "_status",
              extraCss: "abnormal-records__m-1-th-7"
            }
          ]
        },
        {
          beforeModify: [
            {
              label: this.i18n.label.GAME_BET_TIME,
              name: "betTime",
              QA_CSS: "_gameStartTimeInBefore",
              extraCss: "abnormal-records__m-2-th-1"
            },
            {
              label: this.i18n.label.OPEN_CARD,
              name: "gameResult",
              QA_CSS: "_gameResultInBefore",
              extraCss: "abnormal-records__m-2-th-2"
            },
            {
              label: this.i18n.label.TOTAL_BETS,
              name: "totalBets",
              QA_CSS: "_betAmountInBefore",
              extraCss: "abnormal-records__m-2-th-3"
            },
            {
              label: this.i18n.label.VALID_BETS,
              name: "validBets",
              QA_CSS: "_validBetAmountInBefore",
              extraCss: "abnormal-records__m-2-th-4"
            },
            {
              label: this.i18n.label.PAYOUT,
              name: "payout",
              QA_CSS: "_winLossAmountInBefore",
              extraCss: "abnormal-records__m-2-th-5"
            },
            {
              label: this.i18n.label.WIN_LOSS,
              name: "winLossAmount",
              QA_CSS: "_winLossAmountInBefore",
              extraCss: "abnormal-records__m-2-th-6"
            }
          ]
        },
        {
          afterModify: [
            {
              label: this.i18n.label.MODIFIED_TIME,
              name: "gameModifyTime",
              QA_CSS: "_modifyTimeInAfter",
              extraCss: "abnormal-records__m-3-th-1"
            },
            {
              label: this.i18n.label.OPEN_CARD,
              name: "gameResult",
              QA_CSS: "_gameResultInAfter",
              extraCss: "abnormal-records__m-3-th-2"
            },
            {
              label: this.i18n.label.TOTAL_BETS,
              name: "totalBets",
              QA_CSS: "_betAmountInAfter",
              extraCss: "abnormal-records__m-3-th-3"
            },
            {
              label: this.i18n.label.VALID_BETS,
              name: "validBets",
              QA_CSS: "_validBetAmountInAfter",
              extraCss: "abnormal-records__m-3-th-4"
            },
            {
              label: this.i18n.label.PAYOUT,
              name: "payout",
              QA_CSS: "_winLossAmountInAfter",
              extraCss: "abnormal-records__m-3-th-5"
            },
            {
              label: this.i18n.label.WIN_LOSS,
              name: "winLossAmount",
              QA_CSS: "_winLossAmountInAfter",
              extraCss: "abnormal-records__m-3-th-6"
            }
          ]
        },
        {
          extra: [
            {
              label: this.i18n.label.ACTIONS,
              name: "troggleExtraRecords",
              QA_CSS: "_operate",
              extraCss: "abnormal-records__m-4-th-1"
            }
          ]
        }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const beforeGameResult = parseAPIString(x.before.result)
          const afterGameResult = parseAPIString(x.after.result)
          const [{ label: gameHall }] = this.gameHallList.filter(g => g.uid === x.themeUid)
          const gameType = this.gameTypeNameMapping(x.gameSetAlias)
          const gameTableType = this.gameTableTypeNameMapping(x.tableSpeciesAlias)
          const orderStatusId = parseInt(x.state)
          const orderStatus = this.orderStatusNameMapping(orderStatusId)

          const result = {
            main: {
              gameHall: gameHall,
              gameType: gameType ? gameType : x.gameSetTitle,
              gameTable: gameTableType ? gameTableType : x.tableSpeciesTitle,
              gameTableCode: x.tableFrontId,
              gameShoeNumber: x.shoeNo,
              gameRoundNumber: x.roundNo,
              gameStateText: orderStatus
            },
            beforeModify: {
              betTime: getLocalTimeString(formatToUTCTimeString(x.betTime)),
              gameResult: {
                type: x.gameSetAlias,
                label: this.parseGameResult(beforeGameResult, x.gameSetAlias),
                state: parseInt(x.state),
                componentProps: {
                  gameType: gameType ? gameType : x.gameSetTitle,
                  gameHall: gameHall,
                  gameTableCode: x.tableFrontId,
                  gameShoeNumber: x.shoeNo,
                  gameRoundNumber: x.roundNo,
                  gameResult: { value: beforeGameResult }
                }
              },
              totalBets: this.getLocaleNumberFormat(x.before.betAmount),
              validBets: this.getLocaleNumberFormat(x.before.validBetAmount),
              payout: this.getPayoutFormatString(x.before.winAmount),
              winLossAmount: this.getPayoutFormatString(x.before.winLossAmount)
            },
            afterModify: {
              gameModifyTime: getLocalTimeString(formatToUTCTimeString(x.updateTime)),
              gameResult: {
                type: x.gameSetAlias,
                label: this.parseGameResult(afterGameResult, x.gameSetAlias),
                state: parseInt(x.state),
                componentProps: {
                  gameType: gameType ? gameType : x.gameSetTitle,
                  gameHall: gameHall,
                  gameTableCode: x.tableFrontId,
                  gameShoeNumber: x.shoeNo,
                  gameRoundNumber: x.roundNo,
                  gameResult: { value: afterGameResult }
                }
              },
              totalBets: this.getLocaleNumberFormat(x.after.betAmount),
              validBets: this.getLocaleNumberFormat(x.after.validBetAmount),
              payout: this.getPayoutFormatString(x.after.winAmount),
              winLossAmount: this.getPayoutFormatString(x.after.winLossAmount)
            },
            extra: {
              troggleExtraRecords: {
                labelForOpen: this.i18n.label.EXPAND,
                labelForClose: this.i18n.label.COLLAPSE,
                gameRoundNo: x.gameRoundNo,
                betTime: x.betTime
              }
            }
          }

          return result
        })
      } else {
        return []
      }
    },
    extraTableHeaders() {
      return [
        {
          main: [
            {
              label: this.i18n.label.MEMBER_ACCOUNT,
              name: "playerAccount",
              QA_CSS: "_account",
              extraCss: "abnormal-records__g-1-th-1"
            },
            {
              label: this.i18n.label.ORDER_NUMBER,
              name: "gameOrderNumber",
              QA_CSS: "_betNo",
              extraCss: "abnormal-records__g-1-th-2"
            }
          ]
        },
        {
          beforeModify: [
            {
              label: this.i18n.label.TOTAL_BETS,
              name: "totalBets",
              QA_CSS: "_betAmountInOrderInBefore",
              extraCss: "abnormal-records__g-2-th-1"
            },
            {
              label: this.i18n.label.VALID_BETS,
              name: "validBets",
              QA_CSS: "_validBetAmountInOrderInBefore",
              extraCss: "abnormal-records__g-2-th-2"
            },
            {
              label: this.i18n.label.PAYOUT,
              name: "payout",
              QA_CSS: "_winLossAmountInOrderInBefore",
              extraCss: "abnormal-records__g-2-th-3"
            },
            {
              label: this.i18n.label.WIN_LOSS,
              name: "winLossAmount",
              QA_CSS: "_winLossAmountInOrderInBefore",
              extraCss: "abnormal-records__g-2-th-4"
            }
          ]
        },
        {
          afterModify: [
            {
              label: this.i18n.label.TOTAL_BETS,
              name: "totalBets",
              QA_CSS: "_betAmountInOrderInAfter",
              extraCss: "abnormal-records__g-3-th-1"
            },
            {
              label: this.i18n.label.VALID_BETS,
              name: "validBets",
              QA_CSS: "_validBetAmountInOrderInAfter",
              extraCss: "abnormal-records__g-3-th-2"
            },
            {
              label: this.i18n.label.PAYOUT,
              name: "payout",
              QA_CSS: "_winLossAmountInOrderInAfter",
              extraCss: "abnormal-records__g-3-th-3"
            },
            {
              label: this.i18n.label.WIN_LOSS,
              name: "winLossAmount",
              QA_CSS: "_winLossAmountInOrderInAfter",
              extraCss: "abnormal-records__g-3-th-4"
            }
          ]
        }
      ]
    },
    extraTableRows() {
      if (this.extraResultRows.length > 0) {
        return this.extraResultRows.map(x => {
          const result = {
            main: {
              playerAccount: x.playerAccount,
              gameOrderNumber: x.betNo
            },
            beforeModify: {
              totalBets: this.getLocaleNumberFormat(x.before.betAmount),
              validBets: this.getLocaleNumberFormat(x.before.validBetAmount),
              payout: this.getPayoutFormatString(x.before.winAmount),
              winLossAmount: this.getPayoutFormatString(x.before.winLossAmount)
            },
            afterModify: {
              totalBets: this.getLocaleNumberFormat(x.after.betAmount),
              validBets: this.getLocaleNumberFormat(x.after.validBetAmount),
              payout: this.getPayoutFormatString(x.after.winAmount),
              winLossAmount: this.getPayoutFormatString(x.after.winLossAmount)
            }
          }

          return result
        })
      } else {
        return []
      }
    },
    navbarItems() {
      return [
        { title: this.i18nSite.label.REPORT_PAGES, islink: false, path: "" },
        { title: this.i18n.title.ABNORMAL_GAME_RECORDS, islink: true, path: this.$route.path }
      ]
    },
    dateRangeSwitchMenu() {
      return [
        { code: "TODAY", label: this.i18n.label.TODAY },
        { code: "YESTERDAY", label: this.i18n.label.YESTERDAY },
        { code: "THIS_WEEK", label: this.i18n.label.THIS_WEEK },
        { code: "LAST_WEEK", label: this.i18n.label.LAST_WEEK }
      ]
    },
    dateRangeSwitchDomIdList() {
      return {
        TODAY: "btnTodayInBillAbnormal",
        YESTERDAY: "btnYesterdayInBillAbnormal",
        THIS_WEEK: "btnThisWeekInBillAbnormal",
        LAST_WEEK: "btnLastWeekInBillAbnormal"
      }
    },
    filterTypeList() {
      return [
        { code: "TIME_RANGE", label: this.i18n.label.TIME_WITH_GAME, domId: "btnTimeGameInBillAbnormal" },
        { code: "GAME_ROUND", label: this.i18n.label.GAME_ROUND_NUMBER, domId: "btnGameNoInBillAbnormal" }
      ]
    },
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInBillAbnormal",
          previousPage: "btnPrevPageInBillAbnormal",
          inputPage: "iptPageInBillAbnormal",
          actionButton: "btnSearchPageInBillAbnormal",
          nextPage: "btnNextPageInBillAbnormal",
          lastPage: "btnLastPageInBillAbnormal"
        }
      }
    },
    gameFancyResult() {
      return {
        domId: {
          before: {
            wrapper: "divGameResultInBefore",
            gameTitle: "labGameTypeInGameResultInInBefore",
            gameHallTitle: "labRoomInGameResultInInBefore",
            gameTableTitle: "labTableInGameResultInBefore",
            gameShoeTitle: "labShoeInGameResultInBefore",
            gameRoundTitle: "labRoundInGameResultInBefore"
          },
          after: {
            wrapper: "divGameResultInAfter",
            gameTitle: "labGameTypeInGameResultInInAfter",
            gameHallTitle: "labRoomInGameResultInInAfter",
            gameTableTitle: "labTableInGameResultInAfter",
            gameShoeTitle: "labShoeInGameResultInAfter",
            gameRoundTitle: "labRoundInGameResultInAfter"
          }
        }
      }
    }
  },
  methods: {
    setGameHallList(data) {
      this.gameHallList = [...data]
    },
    setCurrencyAgentGroupId(data) {
      this.current.agentGroupUid = data
    },
    async fetchAbnormalModifiedRecords(gameRoundNumber) {
      this.isLoading = true

      try {
        const payload = { gameRoundNumber, agentGroupUid: this.current.agentGroupUid }

        const result = await getAbnormalModifiedRecords(this.loginToken, payload)

        if (result.exitCode === false) {
          throw new Error("backend api error")
        } else {
          this.extraResultRows = result.data || []
        }
      } catch (err) {
        this.extraResultRows = []
      } finally {
        this.isLoading = false
      }
    },
    showExtraTable(index) {
      if (this.extraTableIndex === index) {
        this.extraTableIndex = -1
      } else {
        this.extraTableIndex = index
      }
    },
    showFancyResultBefore(index) {
      if (this.fancyResultBeforeIndex === index) {
        this.fancyResultBeforeIndex = -1
      } else {
        this.fancyResultBeforeIndex = index
      }
    },
    showFancyResultAfter(index) {
      if (this.fancyResultAfterIndex === index) {
        this.fancyResultAfterIndex = -1
      } else {
        this.fancyResultAfterIndex = index
      }
    },
    async searchWithPagingIndex(index) {
      const pagingIndex = parseInt(index)
      this.current.pagingIndex = pagingIndex

      if (this.isCacheSearchConditionsExist === true) {
        const cacheData = this.abnormalRecordsListSearchConditions

        const payload = Object.assign({}, { ...cacheData }, { pagingIndex: pagingIndex })

        this.saveCacheSearchConditions(payload)
      }

      await this.fetchSearchResult({ isSearchWithCacheConditions: true })
    },
    changeDateRangeOfStartDay(date) {
      this.$refs.startDate.setDate(date)
    },
    changeDateRangeOfEndDay(date) {
      this.$refs.endDate.setDate(date)
    },
    setGameOrderState(payload) {
      this.current.gameOrderStates = payload
    },
    setGameRoundNumber(payload) {
      this.current.gameRoundNumber = payload
    },
    setGameDeskCode(payload) {
      this.current.gameDeskCode = payload
    },
    setGameShoesNumber(payload) {
      this.current.gameShoesNumber = payload
    },
    setGameType(payload) {
      this.current.gameType = payload
    },
    setGameTable(payload) {
      this.current.gameTable = payload
    },
    setGameHall(payload) {
      this.current.gameHall = payload
    },
    setPaginations(payload) {
      this.current.totalPagings = payload.pageCount
      this.current.pagingIndex = payload.pageIndex
    },
    resetPaginations() {
      const defaultValue = 0
      this.current.totalPagings = defaultValue
      this.current.pagingIndex = defaultValue
    },
    resetExtraResult() {
      this.extraResultRows = []
      this.extraTableIndex = -1
    },
    saveCacheSearchConditions(payload) {
      this.$store.dispatch("cache/setAbnormalRecordsListSearchConditions", payload)
    },
    clearCacheSearchConditions() {
      this.$store.dispatch("cache/removeAbnormalRecordsListSearchConditions")
    },
    switchFilterTypes(filterTypeCode) {
      const list = this.filterTypeList.map(x => x.code)

      if (list.includes(filterTypeCode)) {
        this.current.filterTypeCode = filterTypeCode
        this.isSearchResultEmpty = false
      }
    },
    async validFilterGameRound() {
      const result = await Promise.all([
        this.$refs["gameRoundNumber"].validate(),
        this.$refs["gameShoesNumber"].validate(),
        this.$refs["gameDeskCode"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async validFilterTimeRange() {
      const result = await Promise.all([this.$refs["startDate"].validate(), this.$refs["endDate"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid && this.isSearchTimeDatesError === false
    },
    async checkPayloadValidByFilterTypes(code) {
      switch (code) {
        case "TIME_RANGE":
          return await this.validFilterTimeRange()
        case "GAME_ROUND":
          return await this.validFilterGameRound()
      }
    },
    resetSearchResult() {
      //reset to default view
      this.resultRows = []
      this.resetExtraResult()
      this.resetPaginations()
    },
    async requestByFilterTypes(code, payload) {
      const loginToken = this.loginToken
      switch (code) {
        case "TIME_RANGE":
          return await getAbnormalByTimeRange(loginToken, payload)
        case "GAME_ROUND":
          return await getAbnormalByGameRound(loginToken, payload)
      }
    },
    async submitSearch() {
      const code = this.current.filterTypeCode
      // validate all require inputs by filter-types
      const validResult = await this.checkPayloadValidByFilterTypes(code)

      if (validResult === true) {
        if (this.isOverlord === false) {
          this.current.agentGroupUid = this.agentGroupUid
        }
        await this.fetchSearchResult()
      }
    },
    getFetchListPayload({ isFromCacheConditions = false } = {}) {
      if (isFromCacheConditions === true && this.isCacheSearchConditionsExist === true) {
        return {
          ...this.abnormalRecordsListSearchConditions
        }
      } else {
        return {
          ...this.current
        }
      }
    },
    async fetchSearchResult({ isSearchWithCacheConditions = false } = {}) {
      this.isLoading = true

      try {
        this.resetSearchResult()

        const payloadConfig = { isFromCacheConditions: isSearchWithCacheConditions }
        const payload = this.getFetchListPayload(payloadConfig)

        const { exitCode, data } = await this.requestByFilterTypes(payload.filterTypeCode, payload)

        if (exitCode === true && data.rows.length > 0) {
          this.isSearchResultEmpty = false

          this.resultRows = data.rows
          this.setPaginations(data.pagination)

          if (isSearchWithCacheConditions === false) {
            this.saveCacheSearchConditions(payload)
          }
        } else {
          throw new Error("No return data")
        }
      } catch (err) {
        this.resetSearchResult()
        this.clearCacheSearchConditions()
        this.isSearchResultEmpty = true
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
$main-table-columns = repeat(19, 90px) 100px
$extra-table-columns = repeat(2, 180px) repeat(8, 100px)

.no-right-border
  border-right none

.abnormal-records
  &__search-result
    min-width 1900px

  &__action-button
    border 1px solid #000000

  &__table, &__extra-table
    width fit-content
    width intrinsic
    width -moz-max-content

  &__table-header
    &--red
      background #990000
      color #ffffff

    &--blue
      background #006699
      color #ffffff

  &__table-header-before-modify
    background #800000
    grid-area a

  &__table-header-after-modify
    background #005680
    grid-area b

  &__extra-table-header-before-modify
    background #800000
    grid-area c

  &__extra-table-header-after-modify
    background #005680
    grid-area d

  &__table-header-before-modify, &__table-header-after-modify, &__extra-table-header-before-modify, &__extra-table-header-after-modify
    border-bottom 1px solid #000000

  &__table-header-row
    grid-template-areas "m1th1 m1th2 m1th3 m1th4 m1th5 m1th6 m1th7 a a a a a a b b b b b b m4th1" "m1th1 m1th2 m1th3 m1th4 m1th5 m1th6 m1th7 m2th1 m2th2 m2th3 m2th4 m2th5 m2th6 m3th1 m3th2 m3th3 m3th4 m3th5 m3th6 m4th1"
    grid-template-columns $main-table-columns

  &__table-body-row
    grid-template-columns $main-table-columns

  &__column-result
    color #303f9f
    text-decoration underline
    font-weight bold
    cursor pointer

  &__extra-table-wrapper
    overflow-x hidden
    overflow-y auto
    margin-top 66px
    padding-right 1.1rem
    max-height 500px
    width -webkit-min-content
    width -moz-min-content
    width min-content

  &__extra-table-area
    border-top 1px solid #000000
    background #f2f2f2
    grid-column 1 / 21

  &__extra-table-title
    margin 1rem 0
    font-weight bold
    font-size 1.2rem

  &__extra-happy-land
    padding 2rem

  &__extra-table-no-result
    display flex
    justify-content center
    align-items center
    min-height 8rem
    background #f2f2f2
    font-weight bold
    font-size 1rem

  &__extra-table-header-row
    position absolute
    grid-template-areas "g1th1 g1th2 c c c c d d d d" "g1th1 g1th2 g2th1 g2th2 g2th3 g2th4 g3th1 g3th2 g3th3 g3th4"
    grid-template-columns $extra-table-columns

  &__extra-table-body-row
    grid-template-columns $extra-table-columns

gridNaming(maxIndex, sectionNumber, indentify, name)
  for x in (1 .. maxIndex)
    .abnormal-records
      &__{indentify}-{sectionNumber}-{name}-{x}
        $area = indentify + sectionNumber + name + x
        grid-area s($area)

gridNaming(7, 1, "m", "th")
gridNaming(6, 2, "m", "th")
gridNaming(6, 3, "m", "th")
gridNaming(1, 4, "m", "th")
gridNaming(2, 1, "g", "th")
gridNaming(4, 2, "g", "th")
gridNaming(4, 3, "g", "th")
</style>
