<template lang="pug">
.basic-account-info
  Navbar(:prop_nav="navbarItems")
  .main
    .header
      .header__title(id="labTitleInBasicInfo") {{ i18n.title.BASIC_INFO }}

    TopAgentInfo(
      v-if="userRoleId === 1"
      :infoData="infoData"
    )

    SubAccountInfo(
      v-else-if="userRoleId === 2"
      :infoData="infoData"
    )
</template>

<script>
import Navbar from "@/components/basic/nav.vue"
import SubAccountInfo from "@/components/common/BasicAccountInfo/SubAccount.vue"
import TopAgentInfo from "@/components/common/BasicAccountInfo/TopAgent.vue"
import { mapState, mapGetters } from "vuex"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { getAccountMetaInfo } from "@/api/User.js"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.BASIC_INFO}${this.getWebTitleWithSuffix}`
    }
  },
  mixins: [ErrorMessageMixin],
  async mounted() {
    this.userRoleId = this.accountClassId
    try {
      const payload = { userAccount: this.userAccount, accountClassId: this.accountClassId }
      const res = await getAccountMetaInfo(this.loginToken, payload)

      if (res.exitCode === true) {
        this.infoData = res.data
      } else {
        throw new Error(this.parseErrorMessage(res))
      }
    } catch (err) {
      this.showErrorMessage(err)
    }
  },
  components: { Navbar, SubAccountInfo, TopAgentInfo },
  data: () => ({
    userRoleId: -1,
    infoData: {}
  }),
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main, i18nSite: state => state.data.Site }),
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("member", { userAccount: state => state.id }),
    ...mapState("member", ["loginToken", "userNickname", "accountClassId", "topAgentUid"]),
    navbarItems() {
      return [
        { title: this.i18nSite.label.ACCOUNT_MANAGEMENT, islink: false, path: "" },
        { title: this.i18n.title.BASIC_INFO, islink: true, path: this.$route.path }
      ]
    }
  }
}
</script>

<style lang="stylus">
.basic-account-info
  &__list
    display flex
    justify-content space-between
    align-items center
    width 50%

  &__list-item
    display grid
    justify-content space-between
    align-items center
    margin 1rem
    width inherit
    grid-template-columns repeat(2, minmax(200px, 1fr))

  &__list-label
    font-weight bold

    &:before
      margin-right 0.5rem
      content "\2022"

  &__list-content
    margin-left 1rem
</style>
