<template lang="pug">
.credit-changes
  Navbar(:prop_nav="navbarItems")
  .main
    .header
      h1.header__title(id="labTitleInAccountChange") {{ i18n.title.CREDIT_CHANGE_REPORTS }}

    HeaderDateSearchNotice(
      :maxRange="maxSearchDayRange"
      :dateRange="searchRangeDays"
    )

    .search-bar
      .filter-contents
        .filter-controllers

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.START_TIME }}
            DatePicker2(
              domId="btnStartTimeInAccountChange"
              :isOnlyHoursOfTime="false"
              :defaultDate="startTimeOfToday"
              :enabledRange="startDateEnabledRange"
              @select="setStartDate"
              ref="startDate"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.END_TIME }}
            DatePicker2(
              domId="btnEndTimeInAccountChange"
              :class="[isSearchTimeDatesError === true ? 'is-invalid' : '']"
              :defaultDate="endTimeOfTodayOnlySelectHours"
              :isOnlyHoursOfTime="false"
              @select="setEndDate"
              ref="endDate"
            )

          template(v-if="isOverlord === true")
            .filter-controllers__group
              label.filter-controllers__label--top {{ i18n.label.CURRENCY }}
              AgentCurrencySelect(
                domId="AgentCurrencySelect"
                @select="setCurrencyAgentGroupId"
              )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ i18n.label.MEMBER_ACCOUNT }}*
            AdvancedInput(
              domId="iptMemberAcctInAccountChange"
              :minlength="4"
              :maxlength="20"
              :regex="/^[0-9a-zA-Z_-]{4,20}$/"
              @input="setPlayerAccount"
              ref="playerAccountInput"
            )

        .search-bar__button(
          id="btnSearchInAccountChange"
          @click="submitSearch"
        ) {{ i18n.label.SEARCH }}

    .search-bar-notice(v-if="isSearchTimeDatesError === true") {{ i18n.label.TIME_RANGE_SELECT_ERROR }}

    .search-result
      template(v-if="reportTableRows.length === 0")
        .search-result__default-content(
          id="divNoResult"
          v-if="isSearchResultEmpty === true"
        ) {{ i18n.label.DATA_EMPTY }}

        .search-result__default-content(v-else) {{ i18n.label.SEARCH_CONDTIONS_REQUIRED }}

      .credit-changes__table-wrapper(v-else)
        .report-table(
          id="tabAccountChange"
        )

          .report-table__row.credit-changes__table-row.t_f
            .report-table__header-cell(
              v-for="h in reportTableHeaders"
              :class="h.QA_CSS"
            ) {{ h.label }}

          .report-table__row.credit-changes__table-row.t_d(v-for="row, index in reportTableRows")
            template(v-for="(value, key) in row")

              .report-table__cell(
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ value }}

        Pagination(
          v-if="current.totalPagings > 1"
          :domIdList="paginations.domId"
          :totalPagings="current.totalPagings"
          :pagingIndex="current.pagingIndex"
          @change="searchWithPagingIndex"
        )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState, mapGetters } from "vuex"
import Navbar from "@/components/basic/nav.vue"
import Pagination from "@/components/basic/Paginations.vue"
import GameHallSelect from "@/components/selects/GameHall.vue"
import GameTypeSelect from "@/components/selects/GameType.vue"
import DatePicker2 from "@/components/selects/DatePicker2.vue"
import AdvancedInput from "@/components/inputs/Advanced.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import { getCreditChangesOverview } from "@/api/Report.js"
import { computed as ReportPageMixinComputed, methods as ReportPageMixinMethods } from "@/mixins/ReportPage.js"
import { methods as I18nMethodsMixin } from "@/mixins/I18n.js"
import { getLocalTimeString, formatToUTCTimeString } from "@/libs/time.js"
import AgentCurrencySelect from "@/components/selects/AgentCurrency.vue"
import HeaderDateSearchNotice from "@/components/common/HeaderDateSearchNotice.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.CREDIT_CHANGE_REPORTS}${this.getWebTitleWithSuffix}`
    }
  },
  mixins: [ReportPageMixinComputed, ReportPageMixinMethods, I18nMethodsMixin],
  components: {
    Navbar,
    Pagination,
    GameHallSelect,
    GameTypeSelect,
    DatePicker2,
    AdvancedInput,
    LoadingLock,
    AgentCurrencySelect,
    HeaderDateSearchNotice
  },
  watch: {
    dateRangeDays: function() {
      this.validSearchTimeSelects()
    }
  },
  data: () => ({
    current: {
      playerAccount: "",
      startDate: undefined,
      endDate: undefined,
      itemsPerPage: 20,
      pagingIndex: 0,
      totalPagings: -1,
      agentGroupUid: undefined
    },
    isLoading: false,
    isSearchResultEmpty: false,
    resultRows: [],
    searchRangeDays: 7,
    maxSearchDayRange: 90,
    isSearchTimeDatesError: false
  }),
  computed: {
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("i18n", { i18n: state => state.data.Main, i18nSite: state => state.data.Site }),
    ...mapState("member", ["loginToken"]),
    ...mapGetters("member", ["isOverlord"]),
    ...mapState("cache", {
      creditChangesListSearchConditions: state => {
        return state.searchConditions.creditChanges.list
      }
    }),
    isCacheSearchConditionsExist() {
      if (Object.keys(this.creditChangesListSearchConditions).length > 0) {
        return true
      } else {
        return false
      }
    },
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInAccountChange",
          previousPage: "btnPrevPageInAccountChange",
          inputPage: "iptPageInAccountChange",
          actionButton: "btnSearchPageInAccountChange",
          nextPage: "btnNextPageInAccountChange",
          lastPage: "btnLastPageInAccountChange"
        }
      }
    },
    reportTableHeaders() {
      return [
        { label: this.i18n.label.TIME, name: "createDate", QA_CSS: "_changeTime" },
        { label: this.i18n.label.TYPES, name: "transferType", QA_CSS: "_changeType" },
        { label: this.i18n.label.BEFORE_CHANGE_CREDITS, name: "beforeChangeCredit", QA_CSS: "_amountInBefore" },
        { label: this.i18n.label.AFTER_CHANGE_CREDITS, name: "afterChangeCredit", QA_CSS: "_amountInAfter" }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const transferType = this.transferTypeNameMapping(parseInt(x.transferAlias))

          return {
            createDate: getLocalTimeString(formatToUTCTimeString(x.createDate)),
            transferType: transferType,
            beforeChangeCredit: this.processCreditNumberDisplay(x.beforeRealCredit),
            afterChangeCredit: parseFloat(x.afterRealCredit).toFixed(2)
          }
        })
      } else {
        return []
      }
    },
    navbarItems() {
      return [
        { title: this.i18nSite.label.REPORT_PAGES, islink: false, path: "" },
        { title: this.i18n.title.CREDIT_CHANGE_REPORTS, islink: true, path: this.$route.path }
      ]
    }
  },
  methods: {
    setCurrencyAgentGroupId(data) {
      this.current.agentGroupUid = data
    },
    processCreditNumberDisplay(vaule) {
      const target = parseFloat(vaule)

      if (Number.isNaN(target) == false) {
        return target.toFixed(2)
      } else {
        return "-"
      }
    },
    async searchWithPagingIndex(index) {
      const pagingIndex = parseInt(index)
      this.current.pagingIndex = pagingIndex

      if (this.isCacheSearchConditionsExist === true) {
        const cacheData = this.creditChangesListSearchConditions

        const payload = Object.assign({}, { ...cacheData }, { pagingIndex: pagingIndex })

        this.saveCacheSearchConditions(payload)
      }

      await this.fetchSearchResult({ isSearchWithCacheConditions: true })
    },
    setPlayerAccount(payload) {
      this.current.playerAccount = payload
    },
    setPaginations(payload) {
      this.current.totalPagings = payload.pageCount
      this.current.pagingIndex = payload.pageIndex
    },
    resetPaginations() {
      const defaultValue = 0
      this.current.totalPagings = defaultValue
      this.current.pagingIndex = defaultValue
    },
    saveCacheSearchConditions(payload) {
      this.$store.dispatch("cache/setCreditChangesListSearchConditions", payload)
    },
    clearCacheSearchConditions() {
      this.$store.dispatch("cache/removeCreditChangesListSearchConditions")
    },
    async validFilter() {
      const result = await Promise.all([
        this.$refs["playerAccountInput"].validate(),
        this.$refs["startDate"].validate(),
        this.$refs["endDate"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid && this.isSearchTimeDatesError === false
    },
    resetSearchResult() {
      //reset to default view
      this.resultRows = []
      this.resetPaginations()
    },
    async submitSearch() {
      const validResult = await this.validFilter()

      if (validResult === true) {
        await this.fetchSearchResult()
      }
    },
    getFetchListPayload({ isFromCacheConditions = false } = {}) {
      if (isFromCacheConditions === true && this.isCacheSearchConditionsExist === true) {
        return {
          ...this.creditChangesListSearchConditions
        }
      } else {
        return {
          ...this.current
        }
      }
    },
    async fetchSearchResult({ isSearchWithCacheConditions = false } = {}) {
      this.isLoading = true

      try {
        this.resetSearchResult()
        const payloadConfig = { isFromCacheConditions: isSearchWithCacheConditions }
        const payload = this.getFetchListPayload(payloadConfig)

        const { exitCode, data } = await getCreditChangesOverview(this.loginToken, payload)

        if (exitCode === true && data.rows.length > 0) {
          this.isSearchResultEmpty = false

          this.resultRows = data.rows
          this.setPaginations(data.pagination)

          if (isSearchWithCacheConditions === false) {
            this.saveCacheSearchConditions(payload)
          }
        } else {
          throw new Error("No return data")
        }
      } catch (err) {
        this.resetSearchResult()
        this.clearCacheSearchConditions()
        this.isSearchResultEmpty = true
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.credit-changes
  &__table-row
    grid-template-columns 180px 100px repeat(2, 180px)

  &__table-wrapper
    width -webkit-min-content
    width -moz-min-content
    width min-content
</style>
