<template lang="pug">
LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState, mapGetters } from "vuex"
import Storage from "@/libs/storage.js"
import { getMemberBetRecordsByTimeRangeCSV, getTransferRecordsByTimeRangeCSV } from "@/api/CSV.js"
import { downloadCSV } from "@/libs/download.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"

export default {
  components: { LoadingLock },
  computed: {
    ...mapState("member", ["loginToken"]),
    ...mapGetters("member", ["isOverlord"])
  },
  data: () => ({
    isLoading: false,
    key: "",
    filename: "",
    payload: ""
  }),
  async mounted() {
    // Assign default web tab title
    document.title = "download"

    const target = Storage.getItem("download")

    if (!target || Object.keys(target).length === 0) {
      this.$router.push("/")
    } else {
      this.key = target.key
      this.filename = target.filename

      document.title += `- ${target.filename}`
      Storage.clear("download")

      await this.getDownload(target.key, target)
    }
  },
  methods: {
    async getDownload(key, payload) {
      this.isLoading = true

      let result = null

      switch (key) {
        case "getMemberBetRecordsByTimeRangeCSV":
          console.log("getMemberBetRecordsByTimeRangeCSV")
          result = await getMemberBetRecordsByTimeRangeCSV(this.loginToken, payload)
          break
        case "getTransferRecordsByTimeRangeCSV":
          console.log("getTransferRecordsByTimeRangeCSV")
          result = await getTransferRecordsByTimeRangeCSV(this.loginToken, payload)
          break
      }

      this.isLoading = false

      this.download(result)
      this.closeWindow()
    },
    download(data) {
      downloadCSV(data, { filename: this.filename })
    },
    closeWindow() {
      setTimeout(() => {
        window.close()
      }, 300)
    }
  }
}
</script>
