<template lang="pug">
.finance-statistic
  Navbar(:prop_nav="navbarItems")
  .main
    .header
      h1.header__title(id="labTitleInTotalAccounting") {{ i18n.title.FINANCE_STATISTICS }}

    HeaderDateSearchNotice(
      :maxRange="maxSearchDayRange"
      :dateRange="searchRangeDays"
    )

    .search-bar
      .filter-contents
        .filter-controllers

          .filter-controllers__group
            DateRangeSwitch(
              :domIdMap="dateRangeSwitchDomIdList"
              :timeMenu="dateRangeSwitchMenu"
              @changeDateRangeOfStartDay="changeDateRangeOfStartDay"
              @changeDateRangeOfEndDay="changeDateRangeOfEndDay"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.START_TIME }}
            DatePicker2(
              domId="btnStartTimeInTotalAccounting"
              :isLockSelectMinutes="true"
              :isLockSelectSeconds="true"
              :defaultDate="startTimeOfToday"
              :enabledRange="startDateEnabledRange"
              @select="setStartDate"
              ref="startDate"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.END_TIME }}
            DatePicker2(
              domId="btnEndTimeInTotalAccounting"
              :class="[isSearchTimeDatesError === true ? 'is-invalid' : '']"
              :isLockSelectMinutes="true"
              :isLockSelectSeconds="true"
              :defaultDate="endTimeOfTodayOnlySelectHours"
              @select="setEndDate"
              ref="endDate"
            )

          template(v-if="isOverlord === true")

            .filter-controllers__group
              label.filter-controllers__label--top {{ i18n.label.CURRENCY }}
              AgentCurrencySelect(
                domId="AgentCurrencySelect"
                @select="setCurrencyAgentGroupId"
              )

          template(v-if="isOverlord === false")

            .filter-controllers__group
              label.filter-controllers__label--top {{ i18n.label.TOP_AGENT_ACCOUNT }}
              TopAgentAccountSelect(
                domId="selTopAgentInTotalAccounting"
                @select="setCurrencyAgentGroupId"
                :isRequired="true"
                :isEnabledSelectAll="false"
                ref="topAgentAccountInput"
              )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.MEMBER_ACCOUNT }}
            AdvancedInput(
              domId="iptMemberAcctInTotalAccounting"
              :isRequired="false"
              :minlength="4"
              :maxlength="20"
              :regex="/^[0-9a-zA-Z_-]{4,20}$/"
              @input="setPlayerAccount"
              ref="playerAccountInput"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.ORDER_STATUS }}
            GameOrderStateSelect(
              domId="selBetOrderStatusInTotalAccounting"
              @select="setGameOrderState"
              ref="gameResultState"
              :isDefaultSelectedAll="isSelectAllGameOrderStatesOnStart"
            )

        .search-bar__button(
          id="btnSearchInTotalAccounting"
          @click="submitSearch"
        ) {{ i18n.label.SEARCH }}

    .search-bar-notice(v-if="isSearchTimeDatesError === true") {{ i18n.label.TIME_RANGE_SELECT_ERROR }}

    BetStatisticBar(
      :totalBets="betStatisticData.totalBets"
      :validBets="betStatisticData.validBets"
      :payout="betStatisticData.payout"
      :winLossAmount="betStatisticData.winLossAmount"
      :profit="betStatisticData.profit"
      :domIdList="betStatisticBar.domId"
    )

    .search-result
      template(v-if="reportTableRows.length === 0")
        .search-result__default-content(
          id="divNoResult"
          v-if="isSearchResultEmpty === true"
        ) {{ i18n.label.DATA_EMPTY }}

        .search-result__default-content(v-else) {{ i18n.label.SEARCH_CONDTIONS_REQUIRED }}

      template(v-else)
        .report-table(
          v-if="current.filterTypeCode === 'TOP_AGENT_OVERVIEW'"
          id="tabTotalAccountingInTotalAccounting"
        )

          .report-table__row.finance-statistic__table-row
            .report-table__header-cell(
              v-for="h in reportTableHeaders"
              :class="h.QA_CSS"
            ) {{ h.label }}

          .report-table__row.finance-statistic__table-row(v-for="row, index in reportTableRows")
            template(v-for="(value, key) in row")
              .report-table__cell(
                v-if="key === 'topAgentAccount'"
                :class="getCSSForQA(key, reportTableHeaders)"
              )
                span.finance-statistic__clickable(@click="fetchPlayerListResult") {{ value.label }}

              .report-table__cell(
                v-else-if="noticeColorColumns.includes(key) === true"
                :class="getCSSForQA(key, reportTableHeaders)"
              )
                span(:class="getPayoutColorClass(value)")
                  | {{ value }}

              .report-table__cell(
                v-else
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ value }}

        .report-table(
          v-else-if="current.filterTypeCode === 'PLAYER_LIST'"
          id="tabTotalMemberInTotalAccounting"
        )

          .report-table__row.finance-statistic__table-row
            .report-table__header-cell(
              v-for="h in extraTableHeaders"
              :class="h.QA_CSS"
            ) {{ h.label }}

          .report-table__row.finance-statistic__table-row(v-for="row, index in extraTableRows")
            template(v-for="(value, key) in row")
              .report-table__cell(
                v-if="key === 'playerAccount'"
                :class="getCSSForQA(key, extraTableHeaders)"
              )
                span {{ value.label }}

              .report-table__cell(
                v-else-if="noticeColorColumns.includes(key) === true"
                :class="getCSSForQA(key, extraTableHeaders)"
              )
                span(:class="getPayoutColorClass(value)")
                  | {{ value }}

              .report-table__cell(
                v-else
                :class="getCSSForQA(key, extraTableHeaders)"
              ) {{ value }}

        Pagination(
          v-if="current.totalPagings > 1"
          :domIdList="paginations.domId"
          :totalPagings="current.totalPagings"
          :pagingIndex="current.pagingIndex"
          @change="searchWithPagingIndex"
        )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState, mapGetters } from "vuex"
import Navbar from "@/components/basic/nav.vue"
import Pagination from "@/components/basic/Paginations.vue"
import DateRangeSwitch from "@/components/switches/DateRange.vue"
import TopAgentAccountSelect from "@/components/selects/TopAgentAccount.vue"
import GameHallSelect from "@/components/selects/GameHall.vue"
import GameTypeSelect from "@/components/selects/GameType.vue"
import GameOrderStateSelect from "@/components/selects/GameOrderState.vue"
import AdvancedInput from "@/components/inputs/Advanced.vue"
import BetStatisticBar from "@/components/common/BetStatisticBar.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import { getDateByTimezone } from "@/libs/time.js"
import { getFinanceStatisticOverview, getFinanceStatisticPerPlayer } from "@/api/Report.js"
import { computed as ReportPageMixinComputed, methods as ReportPageMixinMethods } from "@/mixins/ReportPage.js"
import DatePicker2 from "@/components/selects/DatePicker2.vue"
import AgentCurrencySelect from "@/components/selects/AgentCurrency.vue"
import HeaderDateSearchNotice from "@/components/common/HeaderDateSearchNotice.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.FINANCE_STATISTICS}${this.getWebTitleWithSuffix}`
    }
  },
  mixins: [ReportPageMixinComputed, ReportPageMixinMethods],
  components: {
    Navbar,
    Pagination,
    DateRangeSwitch,
    GameHallSelect,
    GameTypeSelect,
    GameOrderStateSelect,
    TopAgentAccountSelect,
    BetStatisticBar,
    LoadingLock,
    DatePicker2,
    AgentCurrencySelect,
    AdvancedInput,
    HeaderDateSearchNotice
  },
  data: () => ({
    current: {
      filterTypeCode: "",
      playerAccount: "",
      startDate: undefined,
      endDate: undefined,
      gameOrderStates: "",
      itemsPerPage: 20,
      pagingIndex: 0,
      totalPagings: -1,
      agentGroupUid: undefined
    },
    searchRangeDays: 31,
    maxSearchDayRange: 90,
    isSearchTimeDatesError: false,
    isDisplayTimeRangeWarning: false,
    isLoading: false,
    isSearchResultEmpty: false,
    isSelectAllGameOrderStatesOnStart: true,
    resultRows: [],
    noticeColorColumns: ["winLossAmount", "payout", "profit"],
    betStatisticData: { totalBets: 0, validBets: 0, payout: 0, profit: 0, winLossAmount: 0 }
  }),
  watch: {
    dateRangeDays: function() {
      this.validSearchTimeSelects()
    }
  },
  computed: {
    ...mapState("timezone", ["currentTimezoneCode"]),
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("i18n", { i18n: state => state.data.Main, i18nSite: state => state.data.Site }),
    ...mapState("member", ["loginToken"]),
    ...mapGetters("member", ["isOverlord"]),
    ...mapState("cache", {
      financeStatisticsListSearchConditions: state => {
        return state.searchConditions.financeStatistics.list
      }
    }),
    isCacheSearchConditionsExist() {
      if (Object.keys(this.financeStatisticsListSearchConditions).length > 0) {
        return true
      } else {
        return false
      }
    },
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInTotalAccounting",
          previousPage: "btnPrevPageInTotalAccounting",
          inputPage: "iptPageInTotalAccounting",
          actionButton: "btnSearchPageInTotalAccounting",
          nextPage: "btnNextPageInTotalAccounting",
          lastPage: "btnLastPageInTotalAccounting"
        }
      }
    },
    reportTableHeaders() {
      const defaultHeaders = [
        { label: this.i18n.label.TOP_AGENT_ACCOUNT, name: "topAgentAccount", QA_CSS: "_account" },
        { label: this.i18n.label.TOTAL_RECORDS, name: "totalRecords", QA_CSS: "_count" },
        { label: this.i18n.label.TOTAL_BETS, name: "totalBets", QA_CSS: "_betAmount" },
        { label: this.i18n.label.TOTAL_VALID_BETS, name: "validBets", QA_CSS: "_validBetAmount" },
        { label: this.i18n.label.TOTAL_PAYOUT, name: "payout", QA_CSS: "_winLossAmount" },
        { label: this.i18n.label.TOTAL_WIN_LOSS, name: "winLossAmount", QA_CSS: "_winLossAmount" },
        { label: this.i18n.label.TOTAL_PROFIT, name: "profit", QA_CSS: "profit" }
      ]

      return defaultHeaders
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const result = {
            topAgentAccount: { label: x.account, uid: x.uid },
            totalRecords: x.count,
            totalBets: this.getLocaleNumberFormat(x.betAmount),
            validBets: this.getLocaleNumberFormat(x.validBetAmount),
            payout: this.getPayoutFormatString(x.winAmount),
            winLossAmount: this.getPayoutFormatString(x.winLossAmount),
            profit: this.getPayoutFormatString(Number(x.winLossAmount) * -1)
          }

          return result
        })
      } else {
        return []
      }
    },
    extraTableHeaders() {
      const defaultHeaders = [
        { label: this.i18n.label.MEMBER_ACCOUNT, name: "playerAccount", QA_CSS: "_account" },
        { label: this.i18n.label.TOTAL_RECORDS, name: "totalRecords", QA_CSS: "_count" },
        { label: this.i18n.label.TOTAL_BETS, name: "totalBets", QA_CSS: "_betAmount" },
        { label: this.i18n.label.TOTAL_VALID_BETS, name: "validBets", QA_CSS: "_validBetAmount" },
        { label: this.i18n.label.TOTAL_PAYOUT, name: "payout", QA_CSS: "_winLossAmount" },
        { label: this.i18n.label.TOTAL_WIN_LOSS, name: "winLossAmount", QA_CSS: "_winLossAmount" },
        { label: this.i18n.label.TOTAL_PROFIT, name: "profit", QA_CSS: "profit" }
      ]

      return defaultHeaders
    },
    extraTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const result = {
            playerAccount: { label: x.account, uid: x.uid },
            totalRecords: x.count,
            totalBets: this.getLocaleNumberFormat(x.betAmount),
            validBets: this.getLocaleNumberFormat(x.validBetAmount),
            payout: this.getPayoutFormatString(x.winAmount),
            winLossAmount: this.getPayoutFormatString(x.winLossAmount),
            profit: this.getPayoutFormatString(Number(x.winLossAmount) * -1)
          }

          return result
        })
      } else {
        return []
      }
    },
    navbarItems() {
      return [
        { title: this.i18nSite.label.REPORT_PAGES, islink: false, path: "" },
        { title: this.i18n.title.FINANCE_STATISTICS, islink: true, path: this.$route.path }
      ]
    },
    dateRangeSwitchMenu() {
      return [
        { code: "TODAY", label: this.i18n.label.TODAY },
        { code: "YESTERDAY", label: this.i18n.label.YESTERDAY },
        { code: "THIS_WEEK", label: this.i18n.label.THIS_WEEK },
        { code: "LAST_WEEK", label: this.i18n.label.LAST_WEEK },
        { code: "THIS_MONTH", label: this.i18n.label.THIS_MONTH },
        { code: "LAST_MONTH", label: this.i18n.label.LAST_MONTH }
      ]
    },
    dateRangeSwitchDomIdList() {
      return {
        TODAY: "btnTodayInTotal",
        YESTERDAY: "btnYesterdayInTotal",
        THIS_WEEK: "btnThisWeekInTotal",
        LAST_WEEK: "btnLastWeekInTotal",
        THIS_MONTH: "btnThisMonInTotal",
        LAST_MONTH: "btnLastMonInTotal"
      }
    },
    betStatisticBar() {
      return {
        domId: {
          totalBets: "labBetAmountInTotalAccounting",
          validBets: "labValueBetInTotalAccounting",
          payout: "labWinLossInTotalAccounting"
        }
      }
    },
    filterTypeList() {
      return [{ code: "TOP_AGENT_OVERVIEW" }, { code: "PLAYER_LIST" }]
    }
  },
  methods: {
    checkCurrentTimeRange() {
      const current = getDateByTimezone(new Date(), { fixedTimezone: this.currentTimezoneCode })

      if (this.current.endDate >= current.getTime()) {
        this.isDisplayTimeRangeWarning = true
      } else {
        this.isDisplayTimeRangeWarning = false
      }
    },
    setCurrencyAgentGroupId(data) {
      this.current.agentGroupUid = data
    },
    changeTimeMenu(code) {
      this.current.filterTypeCode = code
    },
    searchResultOnMemberbetRecordPage(playerAccount) {
      const payload = Object.assign(
        {},
        { ...this.financeStatisticsListSearchConditions },
        { filterTypeCode: "TIME_RANGE", playerAccount: playerAccount, pagingIndex: 0 }
      )

      this.clearCacheSearchConditions()

      this.$store.dispatch("cache/setMemberBetRecordsListSearchConditions", payload)

      this.$router.replace({ name: "MemberBetRecords" })
    },
    async searchWithPagingIndex(index) {
      const pagingIndex = parseInt(index)
      this.current.pagingIndex = pagingIndex

      if (this.isCacheSearchConditionsExist === true) {
        const cacheData = this.financeStatisticsListSearchConditions

        const payload = Object.assign({}, { ...cacheData }, { pagingIndex: pagingIndex })

        this.saveCacheSearchConditions(payload)
      }

      await this.fetchSearchResult({ isSearchWithCacheConditions: true })
    },
    setBetStatisticData(payload) {
      this.betStatisticData.totalBets = payload.totalBetAmount
      this.betStatisticData.validBets = payload.totalValidBetAmount
      this.betStatisticData.payout = payload.totalWinAmount
      this.betStatisticData.winLossAmount = payload.totalWinLossAmount
      this.betStatisticData.profit = Number(payload.totalWinLossAmount * -1)
    },
    resetBetStatisticData() {
      const defaultValue = 0
      this.betStatisticData.totalBets = defaultValue
      this.betStatisticData.validBets = defaultValue
      this.betStatisticData.payout = defaultValue
      this.betStatisticData.winLossAmount = defaultValue
      this.betStatisticData.profit = defaultValue
    },
    changeDateRangeOfStartDay(date) {
      this.$refs.startDate.setDate(date)
    },
    changeDateRangeOfEndDay(date) {
      this.$refs.endDate.setDate(date)
    },
    setGameOrderState(payload) {
      this.current.gameOrderStates = payload
    },
    setPlayerAccount(payload) {
      this.current.playerAccount = payload
    },
    setPaginations(payload) {
      this.current.totalPagings = payload.pageCount
      this.current.pagingIndex = payload.pageIndex
    },
    resetPaginations() {
      const defaultValue = 0
      this.current.totalPagings = defaultValue
      this.current.pagingIndex = defaultValue
    },
    saveCacheSearchConditions(payload) {
      this.$store.dispatch("cache/setFinanceStatisticsListSearchConditions", payload)
    },
    clearCacheSearchConditions() {
      this.$store.dispatch("cache/removeFinanceStatisticsListSearchConditions")
    },
    async validFilter() {
      const result = await Promise.all([
        this.$refs["playerAccountInput"].validate(),
        this.$refs["startDate"].validate(),
        this.$refs["endDate"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid && this.isSearchTimeDatesError === false
    },
    resetSearchResult() {
      //reset to default view
      this.resultRows = []
      this.resetPaginations()
      this.resetBetStatisticData()
    },
    async submitSearch() {
      const validResult = await this.validFilter()

      if (validResult === true) {
        this.current.filterTypeCode = this.filterTypeList[0].code
        await this.fetchSearchResult()
      }
    },
    async requestByFilterTypes(code, payload) {
      const loginToken = this.loginToken

      switch (code) {
        case "TOP_AGENT_OVERVIEW":
          return await await getFinanceStatisticOverview(loginToken, payload)
        case "PLAYER_LIST":
          return await getFinanceStatisticPerPlayer(loginToken, payload)
      }
    },
    async fetchPlayerListResult() {
      this.current.filterTypeCode = this.filterTypeList[1].code
      await this.fetchSearchResult()
    },
    getFetchListPayload({ isFromCacheConditions = false } = {}) {
      let payload = {}

      if (isFromCacheConditions === true && this.isCacheSearchConditionsExist === true) {
        payload = {
          ...this.financeStatisticsListSearchConditions
        }
      } else {
        payload = {
          ...this.current
        }
      }

      if (payload.playerAccount !== "") {
        const targetFilterType = this.filterTypeList[1].code

        this.current.filterTypeCode = targetFilterType
        payload.filterTypeCode = targetFilterType
      }

      return payload
    },
    async fetchSearchResult({ isSearchWithCacheConditions = false } = {}) {
      this.isLoading = true

      try {
        this.resetSearchResult()

        const payloadConfig = { isFromCacheConditions: isSearchWithCacheConditions }
        const payload = this.getFetchListPayload(payloadConfig)

        const { exitCode, data } = await this.requestByFilterTypes(payload.filterTypeCode, payload)

        if (exitCode === true && data.rows.length > 0) {
          this.isSearchResultEmpty = false

          this.resultRows = data.rows
          this.setPaginations(data.pagination)
          this.setBetStatisticData(data.extra)

          if (isSearchWithCacheConditions === false) {
            this.saveCacheSearchConditions(payload)
          }
        } else {
          throw new Error("No return data")
        }
      } catch (err) {
        this.resetSearchResult()
        this.clearCacheSearchConditions()
        this.isSearchResultEmpty = true
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.finance-statistic
  &__table-row
    grid-template-columns repeat(7, 180px)

    &--overlord
      grid-template-columns repeat(7, 180px)

  &__clickable
    color #303f9f
    text-decoration underline
    font-weight bold
    cursor pointer
</style>
