<template lang="pug">
.forget-password
  .form
    .form__content
      .form__title {{ getWebTitle }}

      ValidationProvider(
        :rules="{ email:true, required:true, min:3, max:50 }"
        v-slot="{ errors, classes, validate }"
        ref="email"
      )
        input.input.form__input.form__item(
          id="iptEmail"
          type="text"
          v-model="inputEmail"
          :class="classes"
          :placeholder="i18n.label.ENTER_EMAIL"
        )

      .form__item.forget-password__button-bar
        router-link.form__button.forget-password__go-back(
          id="btnPrevious"
          :to="{ name: 'Login' }"
        ) {{ i18n.label.PREVIOUS_PAGE }}

        .form__button.primary-button.forget-password__send-link(
          id="btnSendVerifyLink"
          @click="sendResetPasswordLink"
        ) {{ i18n.label.SEND_VERIFY_LINK }}

    el-dialog(
      :visible.sync="showBox"
      v-if="showBox"
      width="400px"
      custom-class="notice-modal"
      :show-close="false"
      center
    )
      #divConfirmInForgot
        p {{ i18n.text.SECCESS_MESSAGE_1 }}
        p {{ i18n.text.SECCESS_MESSAGE_2 }}
        span.dialog-footer.butBar(slot="footer")
          el-button(
            id="btnConfirmInForgot"
            type="primary"
            @click="sendLinkComplete"
          ) {{ i18n.label.COMFIRM }}
</template>

<script>
import { mapState, mapGetters } from "vuex"
import { ValidationProvider } from "vee-validate"
import { sendPasswordResetLink } from "@/api/User.js"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.FORGET_PASSWORD}${this.getWebTitleWithSuffix}`
    }
  },
  components: {
    ValidationProvider
  },
  mixins: [ErrorMessageMixin],
  data: () => ({
    inputEmail: "",
    showBox: false
  }),
  computed: {
    ...mapGetters("project", ["getWebTitle", "getWebTitleWithSuffix"]),
    ...mapState("i18n", { i18n: state => state.data.Main })
  },
  methods: {
    async validateEmailString() {
      const result = await Promise.all([this.$refs["email"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async sendResetPasswordLink() {
      const validResult = await this.validateEmailString()

      if (validResult !== true) return

      try {
        const result = await sendPasswordResetLink(this.inputEmail)

        if (result.exitCode === true) {
          this.showBox = true
        } else {
          throw new Error(this.parseErrorMessage(result))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    sendLinkComplete() {
      this.showBox = false
      this.$router.push({ name: "index" })
    }
  }
}
</script>

<style lang="stylus">
.forget-password
  display flex
  justify-content center
  align-items center
  height 100vh

  &__button-bar
    display flex
    justify-content space-between
    align-self center
    align-items center
    width 50%

  &__go-back
    width 30%
    border 1px solid #000000
    background #ffffff
    color #000000

  &__send-link
    width 60%
</style>
