<template lang="pug">
#home
  Header
  #main
    Menu
    #content
      router-view
</template>

<script>
import Header from "../components/basic/Header.vue"
import Menu from "../components/basic/Menu.vue"

export default {
  components: {
    Menu,
    Header
  },
  data: () => ({ routerTo: "" }),
  beforeRouteUpdate(to, from, next) {
    this.routerTo = to.name
    next()
  }
}
</script>

<style lang="stylus">
#main
  display flex
  box-sizing border-box
  width 100%

#content
  position relative
  overflow-x auto
  margin-left 1.5rem
  width 90%
  background-color #ffffff
</style>
