<template lang="pug">
.index-page
  .index-page__container
    template(v-for="menuGroup in menu")
      .index-page__menu-group(
        v-if="menuGroup.isActive"
        :key="menuGroup.domId.index"
      )
        .index-page__menu-header(:id="menuGroup.domId.index") {{ getI18nLabel(menuGroup.key) }}

        template(v-for="menu in menuGroup.items")
          .index-page__menu-item(
            v-if="menu.isActive"
            :key="menu.domId.index"
          )
            router-link.index-page__menu-link(
              :to="{ name: menu.routeName }"
              :id="menu.domId.index"
            ) {{ getI18nLabel(menu.key) }}
</template>

<script>
import { mapState, mapGetters } from "vuex"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.label.INDEX_PAGE}${this.getWebTitleWithSuffix}`
    }
  },
  computed: {
    ...mapGetters("project", ["getWebTitle", "getWebTitleWithSuffix"]),
    ...mapState("i18n", { i18n: state => state.data.Site }),
    ...mapState("menu", ["menu"])
  },
  methods: {
    getI18nLabel(key) {
      return this.i18n.label[key]
    }
  }
}
</script>

<style lang="stylus">
.index-page
  display flex
  justify-content center
  height 100%

  &__container
    position absolute
    top 190px
    display flex
    justify-content space-around
    align-items flex-start
    width 100%

  &__menu-group
    padding 0.5rem

  &__menu-header
    display flex
    justify-content center
    align-items center
    padding 0.5rem 1.5rem
    min-width 4rem
    height 2.5rem
    border-radius 0.3rem
    background-color #666666
    color #ffffff
    text-align center
    font-size 1.4rem

  &__menu-item
    display flex
    justify-content center
    align-items center
    margin 1rem 0
    width 100%
    height 2.5rem
    text-align center
    font-size 1.1rem

  &__menu-link
    color #000000

    &:hover
      color rgb(255, 130, 0)
</style>
