<template lang="pug">
.login-page.layout-single-form
  .form.login-form(v-if="isDisplayLoginPage === true")
    .form__content(
      v-if="!isForceChangePassword"
      @keypress.enter="login"
    )
      .form__title {{ getWebTitle }}

      ValidationProvider.form__item(
        :rules="{ required: true, regex: /^[a-zA-Z]{1}[0-9a-zA-Z]*$/ }"
        v-slot="{ errors, classes, validate }"
        ref="userAccount"
      )
        input.input.login-form__input(
          id="iptAccountInLogin"
          type="text"
          v-model="current.userAccount"
          :placeholder="i18n.label.ACCOUNT"
          :class="classes"
        )

      ValidationProvider.form__item(
        :rules="{ required: true }"
        v-slot="{ errors, classes, validate }"
        ref="userPassword"
      )
        input.input.login-form__input(
          id="iptPasswordInLogin"
          type="password"
          v-model="current.userPassword"
          :placeholder="i18n.label.PASSWORD"
          :class="classes"
        )

      RecaptchaInput.form__item(
        @input="setRecaptchaInput"
        @changeRecaptcha="setRecaptchaCode"
        :placeholder="i18n.label.VERIFICATION_CODE"
        ref="recaptcha"
      )

      .form__button.primary-button.login-form__login-button(
        id="btnLogin"
        tabindex="0"
        @click="login"
      ) {{ i18n.label.LOGIN }}

      router-link.login-form__forget-password(
        id="btnForgetPwd"
        :to="{ name: 'ForgetPassword' }"
      ) {{ i18n.label.FORGET_PASSWORD }}

      .form__item
        LanguageSelect.login-form__select(domId="~xxx~")

  ForceResetPassword(
    v-if="isForceChangePassword"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import ForceResetPassword from "@/components/common/ForceResetPassword.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import { mapState, mapGetters } from "vuex"
import { validateLoginToken } from "@/api/User.js"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import RecaptchaInput from "@/components/inputs/BasicRecaptcha.vue"
import { userLogin } from "@/api/User.js"
import { ValidationProvider } from "vee-validate"
import LanguageSelect from "@/components/selects/Language.vue"

export default {
  components: { ForceResetPassword, RecaptchaInput, ValidationProvider, LoadingLock, LanguageSelect },
  mixins: [ErrorMessageMixin],
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.LOGIN}${this.getWebTitleWithSuffix}`
    }
  },
  data: () => ({
    current: {
      userAccount: undefined,
      userPassword: "",
      recaptchaInput: "",
      recaptchaCode: ""
    },
    isLoading: false,
    isForceChangePassword: false,
    isDisplayLoginPage: false
  }),
  computed: {
    ...mapGetters("project", ["getWebTitle", "getWebTitleWithSuffix"]),
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("member", ["loginToken", "id"])
  },
  async created() {
    const loginToken = this.loginToken

    if (typeof loginToken === "string" && loginToken.length > 10) {
      const payload = { userAccount: this.id }
      const { exitCode } = await validateLoginToken(loginToken, payload)

      // User already login
      exitCode === true ? this.$router.replace({ name: "index" }) : (this.isDisplayLoginPage = true)
    } else {
      this.isDisplayLoginPage = true
    }
  },
  methods: {
    setRecaptchaInput(payload) {
      this.current.recaptchaInput = payload
    },
    setRecaptchaCode(payload) {
      this.current.recaptchaCode = payload
    },
    async validateForm() {
      const result = await Promise.all([
        this.$refs["userAccount"].validate(),
        this.$refs["userPassword"].validate(),
        this.$refs["recaptcha"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    handleResetPasswordResponse(flag) {
      if (flag === true) {
        this.isForceChangePassword = true
      } else {
        this.$router.replace({ name: "index" })
      }
    },
    async login() {
      const validResult = await this.validateForm()
      if (validResult !== true) return

      this.isLoading = true

      try {
        const payload = {
          id: this.current.userAccount,
          pwd: this.current.userPassword,
          captchaValue: this.current.recaptchaInput,
          captchaToken: this.current.recaptchaCode
        }
        const res = await userLogin(payload)

        if (res.exitCode === true) {
          this.isDisplayLoginPage = false
          const { forceChangePassword, loginToken, nickname, id } = res.data
          this.$store.dispatch("member/setUserLoginData", { loginToken, nickname, id })
          this.handleResetPasswordResponse(forceChangePassword)
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
        this.$refs.recaptcha.requestRecaptcha()
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
$form-item-width = 70%

.login-form
  width 500px

  &__login-button
    margin-top 2rem
    width $form-item-width

  &__forget-password
    margin-top 0.3rem
    color #666666

  &__input, &__select
    width $form-item-width
</style>
