<template lang="pug">
.page-not-found
  .page-not-found__message {{ i18n.text.NOT_FOUND_MESSAGE }}
</template>

<script>
import { mapState, mapGetters } from "vuex"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.PAGE_NOT_FOUND}${this.getWebTitleWithSuffix}`
    }
  },
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapGetters("project", ["getWebTitleWithSuffix"])
  }
}
</script>

<style lang="stylus">
.page-not-found
  display flex
  justify-content center
  align-items center
  margin 0 auto
  height 100vh

  &__message
    font-weight bold
    font-size 1.5rem
</style>
