<template lang="pug">
.permission-manage
  Navbar(:prop_nav="navbarItems")
  .main
    .header__title(id="labCharPermissionTitle") {{ i18n.title.PERMISSION_MANAGEMENT }}

    .content(v-show="isDisplayMainPage === true")
      .action-bar
        .action-bar__button(
          id="btnAddChar"
          @click="displayAddPermissionRole"
        ) {{ i18n.label.ADD_ROLE }}

      .report-table(
        id="tabCharPermission"
        v-if="reportTableRows.length > 0"
      )
        .report-table__row.permission-manage__table-row.t_f
          .report-table__header-cell(
            v-for="x in reportTableHeaders"
            :class="x.QA_CSS"
          ) {{ x.label }}

        .report-table__row.permission-manage__table-row.t_d(v-for="row, index in reportTableRows")
          template(v-for="(value, key) in row")
            .report-table__cell(
              v-if="key === 'permissionRole'"
              :class="getCSSForQA(key, reportTableHeaders)"
            ) {{ value.name }}

            .report-table__cell(
              v-else-if="key === 'operates'"
              :class="getCSSForQA(key, reportTableHeaders)"
            )
              .action-bar__table-bar
                template(v-for="x in value")
                  .action-bar__table-button(
                    @click="actionHandler(x.name, index)"
                  ) {{ x.label }}

            .report-table__cell(
              v-else
              :class="getCSSForQA(key, reportTableHeaders)"
            ) {{ value }}

  AddPermissionRole(
    :isDisplay="isDisplayAddPermissionRole"
    @close="closeAddPermissionRole"
    @requestSuccess="fetchPermissionRoleList"
  )

  DeletePermissionRole(
    :isDisplay="isDisplayDeletePermissionRole"
    :targetData="current"
    @close="closeDeletePermissionRole"
    @requestSuccess="fetchPermissionRoleList"
  )

  EditPermissionRole(
    :isDisplay="isDisplayEditPermissionRole"
    :targetData="current"
    @close="closeEditPermissionRole"
    @requestSuccess="fetchPermissionRoleList"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import Navbar from "@/components/basic/nav.vue"
import { mapState, mapGetters } from "vuex"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import ReportPageMixin from "@/mixins/ReportPage.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import { getPermissionRoleList } from "@/api/Permission.js"

import AddPermissionRole from "@/components/common/PermissionManage/AddPermissionRole.vue"
import DeletePermissionRole from "@/components/common/PermissionManage/DeletePermissionRole.vue"
import EditPermissionRole from "@/components/common/PermissionManage/EditPermissionRole.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.PERMISSION_MANAGEMENT}${this.getWebTitleWithSuffix}`
    }
  },
  components: {
    Navbar,
    AddPermissionRole,
    EditPermissionRole,
    DeletePermissionRole,
    LoadingLock
  },
  mixins: [ErrorMessageMixin, ReportPageMixin],
  data: () => ({
    isDisplayAddPermissionRole: false,
    isDisplayEditPermissionRole: false,
    isDisplayDeletePermissionRole: false,
    isLoading: false,
    resultRows: [],
    current: {
      permissionRoleUid: "",
      permissionRoleName: ""
    }
  }),
  async mounted() {
    await this.fetchPermissionRoleList()
  },
  computed: {
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("i18n", { i18n: state => state.data.Main, i18nSite: state => state.data.Site }),
    ...mapState("member", ["loginToken", "agentGroupUid"]),
    isDisplayMainPage() {
      if (this.isDisplayAddPermissionRole === false && this.isDisplayEditPermissionRole === false) {
        return true
      } else {
        return false
      }
    },
    navbarItems() {
      if (this.isDisplayAddPermissionRole === true) {
        return [
          { title: this.i18nSite.label.ACCOUNT_MANAGEMENT, islink: false, path: "" },
          { title: this.i18n.title.PERMISSION_MANAGEMENT, islink: true, path: this.$route.path },
          { title: this.i18n.label.ADD_ROLE, islink: false, path: "" }
        ]
      } else if (this.isDisplayEditPermissionRole === true) {
        return [
          { title: this.i18nSite.label.ACCOUNT_MANAGEMENT, islink: false, path: "" },
          { title: this.i18n.title.PERMISSION_MANAGEMENT, islink: true, path: this.$route.path },
          { title: this.i18n.label.EDIT_ROLE, islink: false, path: "" }
        ]
      } else {
        return [
          { title: this.i18nSite.label.ACCOUNT_MANAGEMENT, islink: false, path: "" },
          { title: this.i18n.title.PERMISSION_MANAGEMENT, islink: true, path: this.$route.path }
        ]
      }
    },
    tableActionItems() {
      return [
        { name: "EDIT_ACCOUNT", label: this.i18n.label.EDIT },
        { name: "DELETE_ACCOUNT", label: this.i18n.label.DELETE }
      ]
    },
    reportTableHeaders() {
      return [
        { label: this.i18n.label.ROLE, name: "permissionRole", QA_CSS: "_role" },
        { label: this.i18n.label.COMMENT, name: "comment", QA_CSS: "_remarks" },
        { label: this.i18n.label.ACTIONS, name: "operates", QA_CSS: "_operate" }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          return {
            permissionRole: { name: x.name, endpoint: x.entrance, list: x.menu, uid: x.permissionRoleUid },
            comment: x.remark,
            operates: this.tableActionItems
          }
        })
      } else {
        return []
      }
    }
  },
  methods: {
    async fetchPermissionRoleList() {
      try {
        const payload = { topAgentGroupUid: this.agentGroupUid }
        const res = await getPermissionRoleList(this.loginToken, payload)
        if (res.exitCode === true) {
          this.resultRows = res.data
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.showErrorMessage(err)
      }
    },
    displayAddPermissionRole() {
      this.isDisplayAddPermissionRole = true
    },
    closeAddPermissionRole() {
      this.isDisplayAddPermissionRole = false
      this.resetCurrentData()
    },
    displayEditPermissionRole() {
      this.isDisplayEditPermissionRole = true
    },
    closeEditPermissionRole() {
      this.isDisplayEditPermissionRole = false
      this.resetCurrentData()
    },
    displayDeletePermissionRole() {
      this.isDisplayDeletePermissionRole = true
    },
    closeDeletePermissionRole() {
      this.isDisplayDeletePermissionRole = false
      this.resetCurrentData()
    },
    resetCurrentData() {
      this.current.permissionRoleUid = ""
      this.current.permissionRoleName = ""
    },
    actionHandler(key, index) {
      switch (key) {
        case "EDIT_ACCOUNT":
          this.editAccount(index)
          break
        case "DELETE_ACCOUNT":
          this.deleteAccount(index)
          break
      }
    },
    async editAccount(index) {
      const target = this.reportTableRows[index]
      this.current.permissionRoleUid = target.permissionRole.uid
      this.displayEditPermissionRole(index)
    },
    async deleteAccount(index) {
      const target = this.reportTableRows[index]
      this.current.permissionRoleUid = target.permissionRole.uid
      this.current.permissionRoleName = target.permissionRole.name
      this.displayDeletePermissionRole()
    }
  }
}
</script>

<style lang="stylus">
.permission-manage
  &__table-row
    grid-template-columns repeat(3, 200px)

  &__frame-row
    grid-template-columns repeat(4, 1fr)

  &__permission-list
    padding 0.5rem
    grid-column span 3
</style>
