<template lang="pug">
.reset-password
  .reset-password__invalid-page(v-if="resetPasswordToken.hasError === true")
    .reset-password__invalid-message {{ i18n.label.LINK_EXPIRED }}

  ResetPasswordByToken(v-else)
</template>

<script>
import ResetPasswordByToken from "@/components/common/ResetPasswordByToken.vue"
import { mapState, mapGetters } from "vuex"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.CHANGE_PASSWORD}${this.getWebTitleWithSuffix}`
    }
  },
  components: { ResetPasswordByToken },
  computed: {
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("error", ["resetPasswordToken"])
  }
}
</script>

<style lang="stylus">
.reset-password
  height 100vh

  &__invalid-page
    display flex
    justify-content center
    align-items center
    margin 0 auto
    height 100vh

  &__invalid-message
    font-weight bold
    font-size 1.5rem
</style>>
