<template lang="pug">
.sub-account-manage
  Navbar(:prop_nav="navbarItems")
  .main
    .header__title(id="labTitleInSubAccount") {{ i18n.title.SUB_ACCOUNT_MANAGEMENT }}

    .content
      .action-bar
        .action-bar__button(
          id="btnAddInSubAccount"
          @click="openAddSubAccountModal"
        ) {{ i18n.label.ADD_ACCOUNT }}

      .report-table(
        id="tabAccountListInSubAccount"
        v-if="reportTableRows.length > 0"
      )
        .report-table__row.sub-account-manage__table-row
          .report-table__header-cell(
            v-for="x in reportTableHeaders"
            :class="x.QA_CSS"
          ) {{ x.label }}

        .report-table__row.sub-account-manage__table-row(v-for="(r, rowIndex) in reportTableRows")
          .report-table__cell(:class="reportTableHeaders[0].QA_CSS") {{ `${r.subAccount} (${r.nickname})` }}

          .report-table__cell(:class="reportTableHeaders[1].QA_CSS") {{ r.permissionRoles.flatMap(pr=> pr.label).join(" , ") }}

          .report-table__cell(:class="reportTableHeaders[2].QA_CSS") {{ r.email }}

          .report-table__cell(
            :class="[ reportTableHeaders[3].QA_CSS, r.isAccountLocked === true || r.isAccountDisabled === true ? 'is-danger' : 'is-ok']"
          ) {{ getSubAccountStateText( r.isAccountLocked, r.isAccountDisabled ) }}

          .report-table__cell(:class="reportTableHeaders[4].QA_CSS")
            .action-bar__table-bar
              template(v-for="x in tableActionItems")
                .action-bar__table-alt-button(
                  v-if="r.isAccountLocked === true && x.name === 'DISABLE_ACCOUNT' "
                  @click="actionHandler('UNLOCK_ACCOUNT', rowIndex)"
                ) {{ i18n.label.UNLOCK }}

                .action-bar__table-alt-button(
                  v-else-if="r.isAccountDisabled === true && x.name === 'DISABLE_ACCOUNT'"
                  @click="actionHandler('ENABLE_ACCOUNT', rowIndex)"
                ) {{ i18n.label.ENABLE }}

                .action-bar__table-button(
                  v-else
                  @click="actionHandler(x.name, rowIndex)"
                ) {{ x.label }}

  AddSubAccount(
    :isDisplay="isOpenAddSubAccountModal"
    @close="onAddSubAccountClose"
    @requestSuccess="fetchSubAccountList"
  )

  EditSubAccount(
    :isDisplay="isOpenEditSubAccountModal"
    :targetData="current"
    @close="onEditSubAccountClose"
    @requestSuccess="fetchSubAccountList"
  )

  DeleteSubAccount(
    :isDisplay="isOpenDeleteSubAccountModal"
    :targetData="current"
    @close="onDeleteSubAccountClose"
    @requestSuccess="fetchSubAccountList"
  )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import Navbar from "@/components/basic/nav.vue"
import AddSubAccount from "@/components/common/SubAccountManage/AddSubAccount.vue"
import EditSubAccount from "@/components/common/SubAccountManage/EditSubAccount.vue"
import DeleteSubAccount from "@/components/common/SubAccountManage/DeleteSubAccount.vue"
import { getSubAccountList, unlockSubAccount, disableSubAccount, enableSubAccount } from "@/api/Agent.js"
import { mapState, mapGetters } from "vuex"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import LoadingLock from "@/components/basic/LoadingLock.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.SUB_ACCOUNT_MANAGEMENT}${this.getWebTitleWithSuffix}`
    }
  },
  components: {
    Navbar,
    AddSubAccount,
    EditSubAccount,
    DeleteSubAccount,
    LoadingLock
  },
  mixins: [ErrorMessageMixin],
  async mounted() {
    await this.fetchSubAccountList()
  },
  data: () => ({
    isOpenAddSubAccountModal: false,
    isOpenEditSubAccountModal: false,
    isOpenDeleteSubAccountModal: false,
    isLoading: false,
    resultRows: [],
    current: {
      subAccount: "",
      nickname: "",
      email: "",
      subAccountUid: "",
      topAgentUid: "",
      permissionRoles: []
    }
  }),
  computed: {
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("i18n", { i18n: state => state.data.Main, i18nSite: state => state.data.Site }),
    ...mapState("member", ["loginToken", "accountClassId", "topAgentUid", "id"]),
    navbarItems() {
      return [
        { title: this.i18nSite.label.ACCOUNT_MANAGEMENT, islink: false, path: "" },
        { title: this.i18n.title.SUB_ACCOUNT_MANAGEMENT, islink: true, path: this.$route.path }
      ]
    },
    tableActionItems() {
      return [
        { name: "EDIT_ACCOUNT", label: this.i18n.label.EDIT },
        { name: "DISABLE_ACCOUNT", label: this.i18n.label.DISABLE },
        { name: "DELETE_ACCOUNT", label: this.i18n.label.DELETE }
      ]
    },
    reportTableHeaders() {
      return [
        { label: this.i18n.label.SUB_ACCOUNT, name: "subAccount", QA_CSS: "_account" },
        { label: this.i18n.label.ROLE, name: "character", QA_CSS: "_role" },
        { label: this.i18n.label.EMAIL, name: "email", QA_CSS: "_email" },
        { label: this.i18n.label.STATUS, name: "accountState", QA_CSS: "_status" },
        { label: this.i18n.label.ACTIONS, name: "actions", QA_CSS: "_operate" }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const permissionRoles = x.roles.flatMap(p => {
            return { label: p.name, uid: p.permissionRoleUid }
          })

          return {
            permissionRoles: permissionRoles,
            subAccount: x.account,
            nickname: x.nickname,
            subAccountUid: x.uid,
            email: x.email,
            topAgentUid: this.topAgentUid,
            isAccountLocked: x.lockTime !== null,
            isAccountDisabled: x.disableTime !== null
          }
        })
      } else {
        return []
      }
    }
  },
  methods: {
    async fetchSubAccountList() {
      const payload = { topAgentUid: this.topAgentUid }
      const res = await getSubAccountList(this.loginToken, payload)
      if (res.exitCode === true) {
        if (res.data.length > 0) {
          // Remove current subaccount from list
          this.resultRows = res.data.filter(x => x.account !== this.id)
        } else {
          this.resultRows = res.data
        }
      } else {
        throw new Error(this.parseErrorMessage(res))
      }
    },
    getSubAccountStateText(isLocked, isDisabled) {
      if (isLocked === true) {
        return this.i18n.label.LOCK
      } else if (isDisabled === true) {
        return this.i18n.label.DISABLE
      } else {
        return this.i18n.label.ENABLE
      }
    },
    openAddSubAccountModal() {
      this.isOpenAddSubAccountModal = true
    },
    closeAddSubAccountModal() {
      this.isOpenAddSubAccountModal = false
      this.resetCurrentData()
    },
    onAddSubAccountClose() {
      this.closeAddSubAccountModal()
    },
    openEditSubAccountModal() {
      this.isOpenEditSubAccountModal = true
    },
    closeEditSubAccountModal() {
      this.isOpenEditSubAccountModal = false
      this.resetCurrentData()
    },
    onEditSubAccountClose() {
      this.closeEditSubAccountModal()
    },
    openDeleteSubAccountModal() {
      this.isOpenDeleteSubAccountModal = true
    },
    closeDeleteSubAccountModal() {
      this.isOpenDeleteSubAccountModal = false
      this.resetCurrentData()
    },
    onDeleteSubAccountClose() {
      this.closeDeleteSubAccountModal()
    },
    resetCurrentData() {
      this.current.subAccount = ""
      this.current.nickname = ""
      this.current.email = ""
      this.current.subAccountUid = ""
      this.current.topAgentUid = ""
      this.current.permissionRoles = []
    },
    actionHandler(key, index) {
      switch (key) {
        case "EDIT_ACCOUNT":
          this.editAccount(index)
          break
        case "DELETE_ACCOUNT":
          this.deleteAccount(index)
          break
        case "UNLOCK_ACCOUNT":
          this.unlockAccount(index)
          break
        case "ENABLE_ACCOUNT":
          this.enableAccount(index)
          break
        case "DISABLE_ACCOUNT":
          this.disableAccount(index)
          break
      }
    },
    editAccount(index) {
      const target = this.reportTableRows[index]
      this.current.subAccount = target.subAccount
      this.current.nickname = target.nickname
      this.current.email = target.email
      this.current.subAccountUid = target.subAccountUid
      this.current.topAgentUid = target.topAgentUid

      this.current.permissionRoles = target.permissionRoles.length > 0 ? target.permissionRoles : []

      this.openEditSubAccountModal()
    },
    async disableAccount(index) {
      const target = this.reportTableRows[index]
      this.current.subAccountUid = target.subAccountUid
      this.current.topAgentUid = target.topAgentUid

      try {
        this.isLoading = true

        const payload = {
          loginToken: this.loginToken,
          subAccountUid: this.current.subAccountUid,
          topAgentUid: this.current.topAgentUid
        }

        const res = await disableSubAccount(this.loginToken, payload)

        if (res.exitCode === true) {
          await this.fetchSubAccountList()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.isLoading = false
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    deleteAccount(index) {
      const target = this.reportTableRows[index]
      this.current.subAccount = target.subAccount
      this.current.nickname = target.nickname
      this.current.subAccountUid = target.subAccountUid
      this.current.topAgentUid = target.topAgentUid
      this.openDeleteSubAccountModal()
    },
    async unlockAccount(index) {
      const target = this.reportTableRows[index]
      this.current.subAccountUid = target.subAccountUid
      this.current.topAgentUid = target.topAgentUid

      try {
        this.isLoading = true

        const payload = {
          loginToken: this.loginToken,
          subAccountUid: this.current.subAccountUid,
          topAgentUid: this.current.topAgentUid
        }

        const res = await unlockSubAccount(this.loginToken, payload)

        if (res.exitCode === true) {
          await this.fetchSubAccountList()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.isLoading = false
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    async enableAccount(index) {
      const target = this.reportTableRows[index]
      this.current.subAccountUid = target.subAccountUid
      this.current.topAgentUid = target.topAgentUid

      try {
        this.isLoading = true

        const payload = {
          loginToken: this.loginToken,
          subAccountUid: this.current.subAccountUid,
          topAgentUid: this.current.topAgentUid
        }

        const res = await enableSubAccount(this.loginToken, payload)

        if (res.exitCode === true) {
          await this.fetchSubAccountList()
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.isLoading = false
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.sub-account-manage
  &__table-row
    grid-template-columns 200px 150px 200px 90px 250px

  &__modal-row
    grid-template-columns repeat(4, 1fr)

  &__notice
    padding 0 0.5rem
    color #2e7d32
    grid-column 3 / span 2

  &__permission-role
    grid-column 2 / span 3
    grid-template-columns 1fr 1fr 1fr
</style>
