<template lang="pug">
.transfer-records
  Navbar(:prop_nav="navbarItems")
  .main
    .header
      h1.header__title(id="labTitleInTransferRecord") {{ i18n.title.TRANSFER_HISTORY }}

    HeaderDateSearchNotice(
      :maxRange="maxSearchDayRange"
      :dateRange="searchRangeDays"
    )

    .search-bar
      .filter-types
        .filter-types__button(
          v-for="{ code, label, domId } in filterTypeList"
          :key="code"
          :class="[current.filterTypeCode === code ? 'filter-types__button--active' : '']"
          @click="switchFilterTypes(code)"
          :id="domId"
        ) {{ label }}

      .filter-contents

        .filter-controllers(v-if="current.filterTypeCode === 'TIME_RANGE' ")
          .filter-controllers__group
            DateRangeSwitch(
              :domIdMap="dateRangeSwitchDomIdList"
              :timeMenu="dateRangeSwitchMenu"
              @changeDateRangeOfStartDay="changeDateRangeOfStartDay"
              @changeDateRangeOfEndDay="changeDateRangeOfEndDay"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.START_TIME }}
            DatePicker2(
              domId="btnStartTimeInTransferRecord"
              :isOnlyHoursOfTime="false"
              :defaultDate="startTimeOfToday"
              :enabledRange="startDateEnabledRange"
              @select="setStartDate"
              ref="startDate"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.END_TIME }}
            DatePicker2(
              domId="btnEndTimeInTransferRecord"
              :class="[isSearchTimeDatesError === true ? 'is-invalid' : '']"
              :defaultDate="endTimeOfTodayOnlySelectHours"
              :isOnlyHoursOfTime="false"
              @select="setEndDate"
              ref="endDate"
            )

          template(v-if="isOverlord === true")
            .filter-controllers__group
              label.filter-controllers__label--top {{ i18n.label.CURRENCY }}
              AgentCurrencySelect(
                domId="AgentCurrencySelect"
                @select="setCurrencyAgentGroupId"
              )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.MEMBER_ACCOUNT }}
            AdvancedInput(
              domId="iptMemberAcctInTransferRecord"
              :isRequired="false"
              :minlength="4"
              :maxlength="20"
              :regex="/^[0-9a-zA-Z_-]{4,20}$/"
              @input="setPlayerAccount"
              ref="playerAccountInput"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.TRANSACTION_TYPE }}
            TransactionTypeSelect(
              domId="selTransactionTypeInTransferRecord"
              @select="setTransactionType"
              ref="transactionTypeSelect"
            )

          template(v-if="isOverlord === true")
            .search-bar__button(@click="requestDownloadCSV") CSV

        .filter-controllers(v-if="current.filterTypeCode === 'TRANSACTION_SN' ")
          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ i18n.label.TRANSACTION_ORDER_NUMBER }}*
            template(v-if="isOverlord === true")
              AdvancedInput.transfer-records__transaction-number-input(
                domId="iptOrderNoInTransferRecord"
                :parentClasses="['transfer-records__transaction-number-input']"
                :maxlength="31"
                :size="30"
                :regex="/^[a-zA-Z0-9_-]{4,30}$/"
                @input="setOrderTransactionNumber"
                ref="TRANSACTION_SN"
              )

            template(v-else)
              AdvancedInput(
                domId="iptOrderNoInTransferRecord"
                :parentClasses="['transfer-records__transaction-number-input']"
                :maxlength="24"
                :size="25"
                :regex="/^.{1,24}$/"
                @input="setOrderTransactionNumber"
                ref="TRANSACTION_SN"
              )

        .search-bar__button(
          id="btnSearchInTransferRecord"
          @click="submitSearch"
        ) {{ i18n.label.SEARCH }}

    .search-bar-notice(v-if="isSearchTimeDatesError === true") {{ i18n.label.TIME_RANGE_SELECT_ERROR }}

    .search-result
      template(v-if="reportTableRows.length === 0")
        .search-result__default-content(
          id="divNoResult"
          v-if="isSearchResultEmpty === true"
        ) {{ i18n.label.DATA_EMPTY }}

        .search-result__default-content(v-else) {{ i18n.label.SEARCH_CONDTIONS_REQUIRED }}

      template(v-else)
        .report-table(id="tabTransferRecordInTransferRecord")

          .report-table__row.transfer-records__table-row
            .report-table__header-cell(
              v-for="h in reportTableHeaders"
              :class="h.QA_CSS"
            ) {{ h.label }}

          .report-table__row.transfer-records__table-row(v-for="row, index in reportTableRows")
            template(v-for="(value, key) in row")
              .report-table__cell(
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ value }}

        Pagination(
          v-if="current.totalPagings > 1"
          :domIdList="paginations.domId"
          :totalPagings="current.totalPagings"
          :pagingIndex="current.pagingIndex"
          @change="searchWithPagingIndex"
        )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState, mapGetters } from "vuex"
import Navbar from "@/components/basic/nav.vue"
import Pagination from "@/components/basic/Paginations.vue"
import DateRangeSwitch from "@/components/switches/DateRange.vue"
import TransactionTypeSelect from "@/components/selects/TransactionType.vue"
import AdvancedInput from "@/components/inputs/Advanced.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import { getLocalTimeString, formatToUTCTimeString } from "@/libs/time.js"
import { getTransferRecordsByTimeRange, getTransferRecordsByTransactionNumber } from "@/api/Report.js"
import { computed as ReportPageMixinComputed, methods as ReportPageMixinMethods } from "@/mixins/ReportPage.js"
import { methods as I18nMethodsMixin } from "@/mixins/I18n.js"
import DatePicker2 from "@/components/selects/DatePicker2.vue"
import AgentCurrencySelect from "@/components/selects/AgentCurrency.vue"
import Storage from "@/libs/storage.js"
import HeaderDateSearchNotice from "@/components/common/HeaderDateSearchNotice.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.TRANSFER_HISTORY}${this.getWebTitleWithSuffix}`
    }
  },
  mixins: [ReportPageMixinComputed, ReportPageMixinMethods, I18nMethodsMixin],
  components: {
    Navbar,
    Pagination,
    TransactionTypeSelect,
    DateRangeSwitch,
    LoadingLock,
    DatePicker2,
    AgentCurrencySelect,
    AdvancedInput,
    HeaderDateSearchNotice
  },
  created() {
    // Set search type to time range
    this.current.filterTypeCode = this.filterTypeList[0].code
  },
  watch: {
    dateRangeDays: function() {
      this.validSearchTimeSelects()
    }
  },
  data: () => ({
    current: {
      filterTypeCode: "",
      playerAccount: "",
      startDate: undefined,
      endDate: undefined,
      orderTransactionNumber: "",
      transactionType: "",
      itemsPerPage: 20,
      pagingIndex: 0,
      totalPagings: -1,
      agentGroupUid: undefined
    },
    isLoading: false,
    isSearchResultEmpty: false,
    resultRows: [],
    searchRangeDays: 7,
    maxSearchDayRange: 90,
    isSearchTimeDatesError: false
  }),
  computed: {
    ...mapState("member", ["loginToken"]),
    ...mapGetters("member", ["isOverlord"]),
    ...mapState("timezone", ["currentTimezoneCode"]),
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("i18n", { i18n: state => state.data.Main, i18nSite: state => state.data.Site }),
    ...mapState("cache", {
      transferRecordsListSearchConditions: state => {
        return state.searchConditions.transferRecords.list
      }
    }),
    isCacheSearchConditionsExist() {
      if (Object.keys(this.transferRecordsListSearchConditions).length > 0) {
        return true
      } else {
        return false
      }
    },
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInTransferRecord",
          previousPage: "btnPrevPageInTransferRecord",
          inputPage: "iptPageInTransferRecord",
          actionButton: "btnSearchPageInTransferRecord",
          nextPage: "btnNextPageInTransferRecord",
          lastPage: "btnLastPageInTransferRecord"
        }
      }
    },
    reportTableHeaders() {
      return [
        { label: this.i18n.label.MEMBER_ACCOUNT, name: "playerAccount", QA_CSS: "_account" },
        {
          label: this.i18n.label.TRANSACTION_ORDER_NUMBER,
          name: "orderTransactionNumber",
          QA_CSS: "_transferId"
        },
        { label: this.i18n.label.TRANSACTION_TYPE, name: "transactionType", QA_CSS: "_transferType" },
        {
          label: this.i18n.label.CREDITS_BEFORE_TRANSACTION,
          name: "beforeTransactionCredit",
          QA_CSS: "_beforeRealCredit"
        },
        { label: this.i18n.label.TRANSACTION_AMOUNT, name: "transactionCredit", QA_CSS: "_transCredit" },
        {
          label: this.i18n.label.CREDITS_AFTER_TRANSACTION,
          name: "afterTransactionCredit",
          QA_CSS: "_afterRealCredit"
        },
        { label: this.i18n.label.TRANSACTION_TIME, name: "createDate", QA_CSS: "_createDate" }
      ]
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          const transferTypeId = parseInt(x.transferType)
          const transferType = this.transferTypeNameMapping(transferTypeId)

          return {
            playerAccount: x.account,
            orderTransactionNumber: x.transferId,
            transactionType: transferType,
            beforeTransactionCredit: parseFloat(x.beforeRealCredit).toFixed(2),
            transactionCredit: Math.abs(parseFloat(x.transCredit)).toFixed(2),
            afterTransactionCredit: parseFloat(x.afterRealCredit).toFixed(2),
            createDate: getLocalTimeString(formatToUTCTimeString(x.createDate))
          }
        })
      } else {
        return []
      }
    },
    navbarItems() {
      return [
        { title: this.i18nSite.label.REPORT_PAGES, islink: false, path: "" },
        { title: this.i18n.title.TRANSFER_HISTORY, islink: true, path: this.$route.path }
      ]
    },
    dateRangeSwitchMenu() {
      return [
        { code: "TODAY", label: this.i18n.label.TODAY },
        { code: "YESTERDAY", label: this.i18n.label.YESTERDAY },
        { code: "THIS_WEEK", label: this.i18n.label.THIS_WEEK },
        { code: "LAST_WEEK", label: this.i18n.label.LAST_WEEK }
      ]
    },
    dateRangeSwitchDomIdList() {
      return {
        TODAY: "btnTodayInTransferRecord",
        YESTERDAY: "btnYesterdayInTransferRecord",
        THIS_WEEK: "btnThisWeekInTransferRecord",
        LAST_WEEK: "btnLastWeekInTransferRecord"
      }
    },
    filterTypeList() {
      return [
        { code: "TIME_RANGE", label: this.i18n.label.TIME, domId: "btnTimeInTransferRecord" },
        {
          code: "TRANSACTION_SN",
          label: this.i18n.label.TRANSACTION_ORDER_NUMBER,
          domId: "btnOrderNoInTransferRecord"
        }
      ]
    }
  },
  methods: {
    setCurrencyAgentGroupId(data) {
      this.current.agentGroupUid = data
    },
    async searchWithPagingIndex(index) {
      const pagingIndex = parseInt(index)
      this.current.pagingIndex = pagingIndex

      if (this.isCacheSearchConditionsExist === true) {
        const cacheData = this.transferRecordsListSearchConditions

        const payload = Object.assign({}, { ...cacheData }, { pagingIndex: pagingIndex })

        this.saveCacheSearchConditions(payload)
      }

      await this.fetchSearchResult({ isSearchWithCacheConditions: true })
    },
    changeDateRangeOfStartDay(date) {
      this.$refs.startDate.setDate(date)
    },
    changeDateRangeOfEndDay(date) {
      this.$refs.endDate.setDate(date)
    },
    setOrderTransactionNumber(payload) {
      this.current.orderTransactionNumber = payload
    },
    setPlayerAccount(payload) {
      this.current.playerAccount = payload
    },
    setTransactionType(payload) {
      this.current.transactionType = payload
    },
    setPaginations(payload) {
      this.current.totalPagings = payload.pageCount
      this.current.pagingIndex = payload.pageIndex
    },
    resetPaginations() {
      const defaultValue = 0
      this.current.totalPagings = defaultValue
      this.current.pagingIndex = defaultValue
    },
    saveCacheSearchConditions(payload) {
      this.$store.dispatch("cache/setTransferRecordsListSearchConditions", payload)
    },
    clearCacheSearchConditions() {
      this.$store.dispatch("cache/removeTransferRecordsListSearchConditions")
    },
    switchFilterTypes(filterTypeCode) {
      const list = this.filterTypeList.map(x => x.code)

      if (list.includes(filterTypeCode)) {
        this.current.filterTypeCode = filterTypeCode
        this.isSearchResultEmpty = false
      }
    },
    async validFilterOrderTransaction() {
      const result = await this.$refs["TRANSACTION_SN"].validate()
      return result.valid === true
    },
    async validFilterTimeRange() {
      const result = await Promise.all([
        this.$refs["playerAccountInput"].validate(),
        this.$refs["startDate"].validate(),
        this.$refs["endDate"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid && this.isSearchTimeDatesError === false
    },
    async checkPayloadValidByFilterTypes(code) {
      switch (code) {
        case "TIME_RANGE":
          return await this.validFilterTimeRange()
        case "TRANSACTION_SN":
          return await this.validFilterOrderTransaction()
      }
    },
    resetSearchResult() {
      //reset to default view
      this.resultRows = []
      this.resetPaginations()
    },
    async requestByFilterTypes(code, payload) {
      const loginToken = this.loginToken

      switch (code) {
        case "TIME_RANGE":
          return await getTransferRecordsByTimeRange(loginToken, payload)
        case "TRANSACTION_SN":
          return await getTransferRecordsByTransactionNumber(loginToken, payload)
      }
    },
    async submitSearch() {
      const code = this.current.filterTypeCode
      // validate all require inputs by filter-types
      const validResult = await this.checkPayloadValidByFilterTypes(code)

      if (validResult === true) {
        await this.fetchSearchResult()
      }
    },
    getFetchListPayload({ isFromCacheConditions = false } = {}) {
      if (isFromCacheConditions === true && this.isCacheSearchConditionsExist === true) {
        return {
          ...this.transferRecordsListSearchConditions
        }
      } else {
        return {
          ...this.current
        }
      }
    },
    async requestDownloadCSV() {
      if (this.isSearchTimeDatesError === true) return

      this.isLoading = true

      try {
        const hash = new Date().getTime()
        const key = "getTransferRecordsByTimeRangeCSV"
        const filename = `${this.i18n.title.TRANSFER_HISTORY}.csv`

        const payload = {
          hash,
          key,
          filename,
          ...this.current,
          timezoneCode: this.currentTimezoneCode
        }

        Storage.setItem("download", payload)

        window.open("/download", "download " + hash).focus()
      } catch (err) {
        console.log(err)
      } finally {
        this.isLoading = false
      }
    },
    async fetchSearchResult({ isSearchWithCacheConditions = false } = {}) {
      this.isLoading = true

      try {
        this.resetSearchResult()

        const payloadConfig = { isFromCacheConditions: isSearchWithCacheConditions }
        const payload = this.getFetchListPayload(payloadConfig)

        const { exitCode, data } = await this.requestByFilterTypes(payload.filterTypeCode, payload)

        if (exitCode === true && data.rows.length > 0) {
          this.isSearchResultEmpty = false

          this.resultRows = data.rows
          this.setPaginations(data.pagination)

          if (isSearchWithCacheConditions === false) {
            this.saveCacheSearchConditions(payload)
          }
        } else {
          throw new Error("No return data")
        }
      } catch (err) {
        this.resetSearchResult()
        this.clearCacheSearchConditions()
        this.isSearchResultEmpty = true
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.transfer-records
  &__table-row
    grid-template-columns repeat(7, 150px)

  &__transaction-number-input
    width 250px
</style>
