<template lang="pug">
.permission-manage-add(v-if="isDisplay === true")
  .frame.frame--general
    .frame__title(id="labCreatInAddChar") {{ i18n.label.ADD_ROLE }}

    .frame__row.permission-manage__frame-row
      .frame__label.is-required(id="labCharInAddChar") {{ `${i18n.label.ROLE}* : ` }}

      UserNicknameInput(
        domId="iptCharInAddChar"
        @input="setPermissionRoleName"
        :isRequired="true"
        ref="permissionRoleNameInput"
      )

    .frame__row.permission-manage__frame-row
      .frame__label(id="labPSInAddChar") {{ `${i18n.label.COMMENT} : ` }}
      input.input(
        id="iptPSInAddChar"
        v-model="current.comment"
      )

    .frame__row.permission-manage__frame-row
      .frame__label(id="labPermissionInAddChar") {{ `${i18n.label.PERMISSIONS}* : ` }}
      PermissionTable.permission-manage__permission-list(
        :domIdList="permissionTableList.domId"
        :class="[isPermissionTableValid?'':'is-invalid']"
        @change="setPermissionList"
        ref="permissionTable"
      )

    .frame__row.permission-manage__frame-row
      .frame__action-bar
        .action-bar__alt-button(
          id="btnCancelInAddChar"
          @click="onClose"
        ) {{ i18n.label.CANCEL }}

        .action-bar__button(
          id="btnOKInAddChar"
          @click="submit"
        ) {{ i18n.label.COMFIRM }}

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import LoadingLock from "@/components/basic/LoadingLock.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { mapState } from "vuex"
import PermissionTable from "@/components/common/PermissionTable.vue"
import UserNicknameInput from "@/components/inputs/UserNickname.vue"
import { addPermissionRole } from "@/api/Permission.js"

export default {
  props: { isDisplay: { type: Boolean, default: false } },
  components: { LoadingLock, PermissionTable, UserNicknameInput },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: { permissionRoleName: "", comment: "", permissions: [] },
    isPermissionTableValid: true,
    isLoading: false
  }),
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("member", ["loginToken", "agentGroupUid"]),
    permissionTableList() {
      return {
        domId: {
          clearAll: "btnClearAllInAddChar",
          selectAll: "btnChooseAllInAddUser",
          table: "tabPermissionInAddChar"
        }
      }
    }
  },
  methods: {
    setPermissionList(payload) {
      this.current.permissions = payload

      this.isPermissionTableValid = true
    },
    setPermissionRoleName(payload) {
      this.current.permissionRoleName = payload
    },
    resetToDefault() {
      this.current.permissionRoleName = ""
      this.current.comment = ""
      this.current.permissions = []
      this.$refs.permissionTable.resetToDefault()
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    validatePermissionTable() {
      if (this.current.permissions.length > 0) {
        this.isPermissionTableValid = true
        return true
      } else {
        this.isPermissionTableValid = false
        return false
      }
    },
    async validateInputs() {
      const result = await this.$refs["permissionRoleNameInput"].validate()
      const permissionTableResult = this.validatePermissionTable()
      return result.valid === true && permissionTableResult === true
    },
    async submit() {
      const validResult = await this.validateInputs()

      if (validResult === true) {
        try {
          const payload = {
            permissionRoleName: this.current.permissionRoleName,
            comment: this.current.comment,
            permissions: this.current.permissions,
            topAgentGroupUid: this.agentGroupUid
          }
          const res = await addPermissionRole(this.loginToken, payload)

          if (res.exitCode === true) {
            this.onClose()
            this.$emit("requestSuccess")
          } else {
            throw new Error(this.parseErrorMessage(res))
          }
        } catch (err) {
          this.showErrorMessage(err)
        }
      }
    }
  }
}
</script>
