<template lang="pug">
el-dialog(
  :visible="isDisplay"
  width="450px"
  custom-class="general-modal"
  :close-on-click-modal="true"
  :show-close="false"
  :before-close="onClose"
  :destroy-on-close="true"
  center
)
  .permission-manage-delete__delete-sub-account(id="divDeleteChar")
    .modal__list
      .modal__text
        .modal__word {{ i18n.text.ACTION_WARNING_1 }}
        .modal__word.is-danger {{ i18n.text.ACTION_WARNING_2 }}
        .modal__word.is-ok {{ i18n.text.ACTION_WARNING_3 }}
        .modal__word.is-ok {{ displayAccountLabel }}

    .modal__list
      .modal__text {{ i18n.text.ACTION_WARNING_4 }}

    .modal__list
      ValidationProvider(
        :rules="{ required: true }"
        v-slot="{ errors, classes, validate }"
        ref="userPasswordInput"
      )
        input.modal__input(
          id="iptPwdInDeletChar"
          type="password"
          :placeholder="i18n.label.PLEASE_ENTER_PASSWORD"
          v-model="current.userPassword"
          :class="classes"
          @blur="validate"
        )

    .modal__action-bar
      .secondary-button.modal__item(
        id="btnCancelInDelectAcc"
        @click="onClose"
      ) {{ i18n.label.CANCEL }}

      .primary-button.modal__item(
        id="btnOKInDelectAcc"
        @click="submitRequest"
      ) {{ i18n.label.COMFIRM }}

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import LoadingLock from "../../basic/LoadingLock.vue"
import { ValidationProvider } from "vee-validate"
import { mapState } from "vuex"
import { deletePermissionRole } from "@/api/Permission.js"

export default {
  props: { isDisplay: { type: Boolean, default: false }, targetData: { type: Object, required: true } },
  data: () => ({
    current: { userPassword: "" },
    isLoading: false
  }),
  components: { LoadingLock, ValidationProvider },
  mixins: [ErrorMessageMixin],
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("member", ["loginToken", "agentGroupUid"]),
    displayAccountLabel() {
      return this.targetData.permissionRoleName
    }
  },
  methods: {
    async validate() {
      return await this.$refs["userPasswordInput"].validate()
    },
    onClose() {
      this.current.userPassword = ""
      this.$emit("close", true)
    },
    async submitRequest() {
      const { valid: isValid } = await this.validate()

      if (isValid !== true) return

      try {
        this.isLoading = true

        const payload = {
          userPassword: this.current.userPassword,
          permissionRoleUid: this.targetData.permissionRoleUid,
          topAgentGroupUid: this.agentGroupUid
        }

        const res = await deletePermissionRole(this.loginToken, payload)

        if (res.exitCode === true) {
          this.$emit("requestSuccess")
        } else {
          throw new Error(this.parseErrorMessage(res))
        }
      } catch (err) {
        this.isLoading = false
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
        this.onClose()
      }
    }
  }
}
</script>
