<template lang="pug">
.permission-manage-add(v-if="isDisplay === true")
  .frame.frame--general
    .frame__title(id="labCreatInEditChar") {{ i18n.label.EDIT_ROLE }}

    .frame__row.permission-manage__frame-row
      .frame__label.is-required(id="labCharInEditChar") {{ `${i18n.label.ROLE}* : ` }}

      UserNicknameInput(
        domId="iptCharInEditChar"
        @input="setPermissionRoleName"
        :isRequired="true"
        ref="permissionRoleNameInput"
      )

    .frame__row.permission-manage__frame-row
      .frame__label(id="labPSInEditChar") {{ `${i18n.label.COMMENT} : ` }}
      input.input(
        id="iptPSInEditChar"
        v-model="current.comment"
        ref="commentInput"
      )

    .frame__row.permission-manage__frame-row
      .frame__label(id="labPermissionInEditChar") {{ `${i18n.label.PERMISSIONS}* : ` }}
      PermissionTable.permission-manage__permission-list(
        :domIdList="permissionTableList.domId"
        :class="[isPermissionTableValid?'':'is-invalid']"
        @change="setPermissionList"
        ref="permissionTable"
      )

    .frame__row.permission-manage__frame-row
      .frame__action-bar
        .action-bar__alt-button(
          id="btnCancelInEditChar"
          @click="onClose"
        ) {{ i18n.label.CANCEL }}

        .action-bar__button(
          id="btnSaveInEditChar"
          @click="submit"
        ) {{ i18n.label.COMFIRM }}

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import LoadingLock from "@/components/basic/LoadingLock.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { mapState } from "vuex"
import PermissionTable from "@/components/common/PermissionTable.vue"
import UserNicknameInput from "@/components/inputs/UserNickname.vue"
import { getPermissionRoleDetail, editPermissionRole } from "@/api/Permission.js"

export default {
  props: { isDisplay: { type: Boolean, default: false }, targetData: { type: Object, required: true } },
  components: { LoadingLock, PermissionTable, UserNicknameInput },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: { permissionRoleName: "", permissionRoleUid: "", comment: "", permissions: [] },
    isPermissionTableValid: true,
    isLoading: false
  }),
  watch: {
    isDisplay: function(value) {
      if (value === true) {
        this.$nextTick(async () => {
          await this.fetchPermissionRoleDetail()

          this.assignDefaultValues(this.current)
        })
      }
    }
  },
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("member", ["loginToken", "agentGroupUid"]),
    permissionTableList() {
      return {
        domId: {
          clearAll: "btnClearAllInEditChar",
          selectAll: "btnChooseAllInEditChar",
          table: "tabPermissionInEditChar"
        }
      }
    }
  },
  methods: {
    async fetchPermissionRoleDetail() {
      this.isLoading = true

      try {
        const payload = {
          permissionRoleUid: this.targetData.permissionRoleUid,
          topAgentGroupUid: this.agentGroupUid
        }

        const { exitCode, data } = await getPermissionRoleDetail(this.loginToken, payload)

        if (exitCode === true) {
          this.current.permissionRoleName = data.name
          this.current.permissionRoleUid = data.permissionRoleUid
          this.current.comment = data.remark
          this.current.permissions = data.menu
        } else {
          throw new Error(this.parseErrorMessage({ error: data }))
        }
      } catch (err) {
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    },
    assignDefaultValues(data) {
      this.$refs["permissionRoleNameInput"].setValue(data.permissionRoleName)
      this.current.permissionRoleUid = data.permissionRoleUid
      this.current.comment = data.comment
      this.$refs["permissionTable"].setPermissions(data.permissions)
      this.current.permissions = data.permissions
    },
    setPermissionList(payload) {
      this.current.permissions = payload

      this.isPermissionTableValid = true
    },
    setPermissionRoleName(payload) {
      this.current.permissionRoleName = payload
    },
    resetToDefault() {
      this.current.permissionRoleName = ""
      this.current.permissionRoleUid = ""
      this.current.comment = ""
      this.current.permissions = []
      this.$refs["permissionTable"].resetToDefault()
    },
    onClose() {
      this.resetToDefault()
      this.$emit("close", true)
    },
    validatePermissionTable() {
      if (this.current.permissions.length > 0) {
        this.isPermissionTableValid = true
        return true
      } else {
        this.isPermissionTableValid = false
        return false
      }
    },
    async validateInputs() {
      const result = await this.$refs["permissionRoleNameInput"].validate()
      const permissionTableResult = this.validatePermissionTable()
      return result.valid === true && permissionTableResult === true
    },
    async submit() {
      const validResult = await this.validateInputs()

      if (validResult === true) {
        try {
          const payload = {
            permissionRoleName: this.current.permissionRoleName,
            permissionRoleUid: this.current.permissionRoleUid,
            comment: this.current.comment,
            permissions: this.current.permissions,
            topAgentGroupUid: this.agentGroupUid
          }

          const res = await editPermissionRole(this.loginToken, payload)
          if (res.exitCode === true) {
            this.onClose()
            this.$emit("requestSuccess")
          } else {
            throw new Error(this.parseErrorMessage(res))
          }
        } catch (err) {
          this.showErrorMessage(err)
        }
      }
    }
  }
}
</script>
