@import "../mixin/button.styl"

.filter-types
  display flex
  align-items center
  margin-right 0.6rem

  &__button
    button()
    padding 0 0.5rem
    border-radius 0
    font-size 0.8rem

    &:nth-child(n)
      border-right none

    &:last-child
      border-right 1px solid #cccccc

    &--active
      background #666666
      color #ffffff

.filter-contents
  display flex
  align-items flex-end

.filter-controllers
  display flex
  align-items flex-end

  &__group
    display flex
    flex-direction column
    justify-content flex-end
    margin-right 0.6rem

  &__label
    &--top
      margin-bottom 0.2rem
