@import "../variables/global.styl"
@import "../mixin/button.styl"
@import "../mixin/input.styl"

.search-bar
  display flex
  align-items flex-end
  margin 0 0 1rem 0

  &__select
    box-sizing border-box
    padding 0 0.4rem
    min-width 7rem
    height $search-bar-height

  &__date-picker
    min-width 7rem
    max-width 9rem
    height $search-bar-height

  &__datetime-picker
    min-width 7rem
    max-width 12rem
    height $search-bar-height

  &__input
    input()
    height $search-bar-height

  &__button
    button()
    width 4rem
    border 1px solid #000000
    border-radius 0.2rem
    background-color #666666
    color #ffffff
    margin-right 0.5rem
