.icon
  &__search
    position absolute
    top 10px
    right -40px
    width 14px
    height 14px
    background-image url("img/search.png")
    cursor pointer

  &__delete
    position relative
    width 12px
    height 12px
    margin-right  5px
    top 2px
    background-image url("img/del.png")
    cursor pointer