sorting-icon()
  display flex
  box-sizing border-box
  margin 0px 0.5rem
  width 2rem
  height 2rem
  border 1px solid #cccccc
  background-image url("img/u3262.png")
  background-position center
  background-repeat no-repeat
  cursor pointer

.sorting-icon
  &__up
    sorting-icon()

  &__down
    sorting-icon()
    background-position center 5px
    transform rotate(180deg)

  &--disabled
    background-image url("img/u3259.png")
    opacity 0.7
    cursor not-allowed
