<template lang="pug">
.search-result-status
  .search-result-status__title {{ i18n.label.TOTAL }}
  .search-result-status__label {{ `${i18n.label.BETS} : ` }}
  .search-result-status__item(:id="domIdList.totalBets") {{ getLocaleNumberFormat(totalBets) }}
  .search-result-status__label {{ `${i18n.label.VALID_BETS_AMOUNT} : ` }}
  .search-result-status__item(:id="domIdList.validBets")  {{ getLocaleNumberFormat(validBets) }}

  .search-result-status__label {{ `${i18n.label.PAYOUT} : ` }}
  .search-result-status__item(
    :id="domIdList.payout"
    :class="getPayoutColorClass(payout)"
  ) {{ getPayoutFormatString(payout) }}

  .search-result-status__label {{ `${i18n.label.WIN_LOSS} : ` }}
  .search-result-status__item(
     id="domIdList.winLossAmount"
    :class="getPayoutColorClass(winLossAmount)"
  ) {{ getPayoutFormatString(winLossAmount) }}

  template(v-if="isActiveProfit === true")
    .search-result-status__label {{ `${i18n.label.PROFIT} : ` }}
    .search-result-status__item(
      :class="getPayoutColorClass(profit)"
    ) {{ getPayoutFormatString(profit) }}    

  .search-result-status__bar(v-if="isTotalOfPage === true")
    .search-result-status__title {{ i18n.label.SUBTOTAL_IN_THIS_PAGE }}
    .search-result-status__label {{ `${i18n.label.BETS} : ` }}
    .search-result-status__item(:id="domIdList.totalBetsOfPage") {{ getLocaleNumberFormat(totalBetsOfPage) }}
    .search-result-status__label {{ `${i18n.label.VALID_BETS_AMOUNT} : ` }}
    .search-result-status__item(:id="domIdList.validBetsOfPage")  {{ getLocaleNumberFormat(validBetsOfPage) }}

    .search-result-status__label {{ `${i18n.label.PAYOUT} : ` }}
    .search-result-status__item(
      :class="getPayoutColorClass(payoutOfPage)"
      :id="domIdList.payoutOfPage"
    ) {{ getPayoutFormatString(payoutOfPage) }}

    .search-result-status__label {{ `${i18n.label.WIN_LOSS} : ` }}
    .search-result-status__item(
      :class="getPayoutColorClass(winLossAmountOfPage)"
      id="domIdList.payoutOfPage"
    ) {{ getPayoutFormatString(winLossAmountOfPage) }}

    template(v-if="isActiveProfit === true")
      .search-result-status__label {{ `${i18n.label.PROFIT} : ` }}
      .search-result-status__item(
        :class="getPayoutColorClass(profitOfPage)"
      ) {{ getPayoutFormatString(profitOfPage) }}    
</template>

<script>
import { methods as ReportPageMixinMethods } from "@/mixins/ReportPage.js"
import { mapState, mapGetters } from "vuex"

export default {
  mixins: [ReportPageMixinMethods],
  props: {
    isTotalOfPage: { type: Boolean, default: false },
    isActiveProfit: { type: Boolean, default: true },
    totalBetsOfPage: { type: [Number, String], default: 0 },
    validBetsOfPage: { type: [Number, String], default: 0 },
    payoutOfPage: { type: [Number, String], default: 0 },
    winLossAmountOfPage: { type: [Number, String], default: 0 },
    profitOfPage: { type: [Number, String], default: 0 },
    totalBets: { type: [Number, String], default: 0 },
    validBets: { type: [Number, String], default: 0 },
    payout: { type: [Number, String], default: 0 },
    winLossAmount: { type: [Number, String], default: 0 },
    profit: { type: [Number, String], default: 0 },
    domIdList: { type: Object, required: true }
  },
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapGetters("member", ["isOverlord"])
  }
}
</script>
