<template lang="pug">
.force-reset-password.layout-single-form
  .form.force-reset-password__form
    .form__content(@keypress.enter="resetUserPassword")
      .form__title {{ getWebTitle }}

      UserPasswordInput.form__item(
        domId="iptNewPwdInRestPwd"
        :placeholder="i18n.label.NEW_PASSWORD_LIMIT"
        :parentClasses="['form__input']"
        :isRequired="true"
        ref="password"
        @input="setNewPassword"
      )

      UserPasswordInput.form__item(
        domId="iptConfirmNewPwdInRestPwd"
        :placeholder="i18n.label.NEW_PASSWORD_AGAIN"
        :isRequired="true"
        :parentClasses="['form__input']"
        :recheckPassword="inputNewPassword"
        ref="passwordConfirm"
      )

      .form__button.primary-button.force-reset-password__submit(
        id="btnLoginInResetPwd"
        @click="resetUserPassword"
      ) {{ i18n.label.LOGIN }}

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { forceResetPassword } from "@/api/User.js"
import { mapState, mapGetters } from "vuex"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import UserPasswordInput from "@/components/inputs/UserPassword.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.CHANGE_PASSWORD}${this.getWebTitleWithSuffix}`
    }
  },
  components: {
    UserPasswordInput,
    LoadingLock
  },
  data: () => ({
    inputNewPassword: "",
    isLoading: true
  }),
  mixins: [ErrorMessageMixin],
  computed: {
    ...mapGetters("project", ["getWebTitleWithSuffix", "getWebTitle"]),
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("member", ["loginToken", "nickname", "id"])
  },
  methods: {
    setNewPassword(data) {
      this.inputNewPassword = data
    },
    successWithLogin(data) {
      const userData = {
        nickname: data.nickname,
        loginToken: data.loginToken,
        forceChangePassword: data.forceChangePassword,
        id: data.id
      }

      this.$store.dispatch("member/setUserLoginData", userData)
      this.$router.replace({ name: "index" })
    },
    async validatePassword() {
      const result = await Promise.all([this.$refs["password"].validate(), this.$refs["passwordConfirm"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async resetUserPassword() {
      const validResult = await this.validatePassword()

      if (validResult !== true) return

      try {
        this.isLoading = true
        let result = undefined
        let loginData = undefined

        const payload = {
          newPassword: this.inputNewPassword,
          loginToken: this.loginToken
        }

        result = await forceResetPassword(payload)
        loginData = { nickname: this.nickname, loginToken: this.loginToken, forceChangePassword: false, id: this.id }

        if (result.exitCode === true) {
          this.successWithLogin(loginData)
        } else {
          throw new Error(this.parseErrorMessage(result))
        }
      } catch (err) {
        this.$store.dispatch("error/setForceResetPasswordError", err)
        this.showErrorMessage(err)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.force-reset-password
  &__submit
    margin-top 2rem
</style>
