<template lang="pug">
.permission-role-list(:id="domId")
  .permission-role-list__checkbox(
    v-for="x in permissionRoleList"
  )
    input.permission-role-list__input(
      type="checkbox"
      :value="x.uid"
      v-model="current.permissionRoleUidList"
      @change="onChange"
    )

    span {{ x.label }}
</template>

<script>
import { getPermissionRoleList } from "@/api/Permission.js"
import { mapState } from "vuex"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"

export default {
  props: {
    domId: {
      type: String,
      required: true
    }
  },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: { permissionRoleUidList: [] },
    resultRows: []
  }),
  async mounted() {
    await this.fetchPermissionRoleList()
  },
  computed: {
    ...mapState("member", ["loginToken", "agentGroupUid"]),
    permissionRoleList() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          return {
            label: x.name,
            uid: x.permissionRoleUid
          }
        })
      } else {
        return []
      }
    }
  },
  methods: {
    async fetchPermissionRoleList() {
      try {
        this.resetToDefault()

        const payload = {
          topAgentGroupUid: this.agentGroupUid
        }

        const { exitCode, data } = await getPermissionRoleList(this.loginToken, payload)

        if (exitCode === true) {
          this.resultRows = data
        } else {
          throw new Error(this.parseErrorMessage({ error: data }))
        }
      } catch (err) {
        this.showErrorMessage(err)
        this.resetToDefault()
      } finally {
        this.isLoading = false
      }
    },
    resetToDefault() {
      this.current.permissionRoleUidList = []
      this.resultRows = []
    },
    onChange() {
      this.$emit("change", this.current.permissionRoleUidList)
    },
    setPermissionRoles(permissionRoles) {
      if (permissionRoles && permissionRoles.length > 0) {
        this.current.permissionRoleUidList = permissionRoles.flatMap(x => x.uid)
        this.onChange()
      }
    }
  }
}
</script>
<style lang="stylus">
.permission-role-list
  display grid
  justify-content space-around
  min-height 2rem
  word-break break-all
  grid-gap 0.5rem
  grid-template-columns 1fr 1fr 1fr

  &__checkbox
    display flex
    align-items flex-start

  &__input
    margin-right 0.5rem
</style>
