<template lang="pug">
.permission-list-table__wrapper
  .permission-list-table__action-bar
      .secondary-button(
        :id="domIdList.clearAll"
        v-if="isSelectAllOptions === true"
        @click="trogleAllPermissionMenuOptions"
      ) {{ i18n.label.CLEAR }}

      .secondary-button(
        :id="domIdList.selectAll"
        v-else
        @click="trogleAllPermissionMenuOptions"
      ) {{ i18n.label.SELECT_ALL }}

  .permission-list-table(:id="domIdList.table")
    .permission-list-table__row
      .permission-list-table__header-cell._mainItem {{ i18n.label.MAIN_ITEM }}
      .permission-list-table__header-cell._subItem {{ i18n.label.SUB_ITEM }}

    .permission-list-table__row(v-for="m, index in permissionMenuList")

      .permission-list-table__cell._mainItem
        .permission-list-table__label
          input.permission-list-table__checkbox(
            type="checkbox"
            v-model="current.permissionGroups"
            :value="m.key"
            :id="index"
            @change="troglePermissionGroupOptions(m.key)"
          )
          label(:for="index") {{ i18nSite.label[m.key] }}

      .permission-list-table__cell._subItem
        .permission-list-table__option-list
          template(v-for="x in m.subMenu")
            .permission-list-table__option
              input.permission-list-table__checkbox(
                type="checkbox"
                v-model="current.permissions"
                :value="x.apiName"
                :id="x.apiName"
                @change="swtichPermissionOptions(x.apiName)"
              )
              label(:for="x.apiName") {{ i18nSite.label[x.key] }}
</template>

<script>
import LoadingLock from "@/components/basic/LoadingLock.vue"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import { mapState, mapGetters } from "vuex"

export default {
  props: { domIdList: { type: Object, required: true } },
  components: { LoadingLock },
  mixins: [ErrorMessageMixin],
  data: () => ({
    current: { permissions: [], permissionGroups: [] },
    permissionMenuList: [],
    isLoading: false
  }),
  mounted() {
    this.initialPermissionMenuList()
    this.updatePermissionMenuList()
  },
  computed: {
    ...mapState("member", ["loginToken", "walletTypeId"]),
    ...mapState("i18n", { i18n: state => state.data.Main, i18nSite: state => state.data.Site }),
    ...mapState("menu", ["topAgentExclusivePermissions"]),
    ...mapGetters("menu", ["getMenuList", "getExcludedPermissions"]),
    allPermissions() {
      const result = this.permissionMenuList.flatMap(m => m.subMenu.map(x => x.apiName))

      return result
    },
    allPermissionGroups() {
      const result = this.permissionMenuList.flatMap(m => m.key)

      return result
    },
    isSelectAllOptions() {
      return this.allPermissions.length === this.current.permissions.length
    }
  },
  methods: {
    setPermissions(list) {
      this.current.permissions = list
      this.updatePermissionMenuList()

      const targets = this.permissionMenuList.filter(m => {
        const isAllSelected = this.checkMenuListIsAllSelected(m.subMenu)
        return isAllSelected
      })

      const permissionGroups = targets.map(x => x.key)
      this.current.permissionGroups = permissionGroups
      this.onChange()
    },
    initialPermissionMenuList() {
      const list = [...this.topAgentExclusivePermissions, ...this.getExcludedPermissions]
      const subAgentPermissions = this.getMenuList.flatMap(x => {
        const subResult = x.subMenu.filter(s => {
          return !list.includes(s.apiName)
        })

        if (subResult.length > 0) {
          return {
            key: x.key,
            subMenu: subResult
          }
        } else {
          return []
        }
      })

      this.permissionMenuList = subAgentPermissions
    },
    onChange() {
      this.$emit("change", this.current.permissions)
    },
    checkMenuListIsAllSelected(menuList) {
      return menuList.every(x => x.isSelected)
    },
    rebuildSubMenu(menuList) {
      return menuList.map(sub => {
        const isSelected = this.current.permissions.includes(sub.apiName)
        return { apiName: sub.apiName, key: sub.key, isSelected }
      })
    },
    updatePermissionMenuList() {
      const result = this.permissionMenuList.map(rootMenu => {
        const subMenu = this.rebuildSubMenu(rootMenu.subMenu)

        const isAllSelected = this.checkMenuListIsAllSelected(subMenu)

        return { key: rootMenu.key, subMenu: subMenu, isSelected: isAllSelected }
      })

      this.permissionMenuList = result
    },
    trogleAllPermissionMenuOptions() {
      const result = this.permissionMenuList.every(m => m.subMenu.every(x => x.isSelected))

      if (result === true) {
        // not select all options
        this.current.permissions = []
        this.current.permissionGroups = []
      } else {
        // select all options
        this.current.permissions = this.allPermissions
        this.current.permissionGroups = this.allPermissionGroups
      }

      this.updatePermissionMenuList()
      this.onChange()
    },
    troglePermissionGroupOptions(key) {
      const [target] = this.permissionMenuList.filter(x => x.key === key)

      const result = target.subMenu.every(x => x.isSelected === true)
      const subMenuList = target.subMenu.map(x => x.apiName)

      if (result === true) {
        // not select all options in group
        this.current.permissions = this.current.permissions.filter(x => !subMenuList.includes(x))
      } else {
        // select all options in group
        this.current.permissions = [...this.current.permissions, ...subMenuList]
      }

      this.updatePermissionMenuList()
      this.onChange()
    },
    swtichPermissionOptions(apiName) {
      this.updatePermissionMenuList()

      const [targetGroup] = this.permissionMenuList.filter(m => m.subMenu.some(x => x.apiName === apiName))
      const result = this.checkMenuListIsAllSelected(targetGroup.subMenu)

      if (result === true) {
        // permission Group checked
        this.current.permissionGroups = [...this.current.permissionGroups, targetGroup.key]
      } else {
        // permission Group not checked
        this.current.permissionGroups = this.current.permissionGroups.filter(x => x !== targetGroup.key)
      }
      this.onChange()
    },
    resetToDefault() {
      this.current.permissions = []
      this.current.permissionGroups = []
      this.initialPermissionMenuList()
    }
  }
}
</script>
