<template lang="pug">
.force-reset-password.layout-single-form
  .form.force-reset-password__form(v-if="isDisplayContent === true")
    .form__content(@keypress.enter="resetUserPassword")
      .form__title {{ getWebTitle }}

      UserPasswordInput.form__item(
        domId="iptNewPwdInRestPwd"
        :placeholder="i18n.label.NEW_PASSWORD_LIMIT"
        :parentClasses="['form__input']"
        :isRequired="true"
        ref="password"
        @input="setNewPassword"
      )

      UserPasswordInput.form__item(
        domId="iptConfirmNewPwdInRestPwd"
        :placeholder="i18n.label.NEW_PASSWORD_AGAIN"
        :isRequired="true"
        :parentClasses="['form__input']"
        :recheckPassword="inputNewPassword"
        ref="passwordConfirm"
      )

      .form__button.primary-button.force-reset-password__submit(
        id="btnLoginInResetPwd"
        @click="resetUserPassword"
      ) {{ i18n.label.LOGIN }}

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { verifyResetPasswordToken, resetPasswordByToken } from "@/api/User.js"
import { mapState, mapGetters } from "vuex"
import ErrorMessageMixin from "@/mixins/ErrorMessage.js"
import UserPasswordInput from "@/components/inputs/UserPassword.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"

export default {
  components: {
    UserPasswordInput,
    LoadingLock
  },
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.CHANGE_PASSWORD}${this.getWebTitleWithSuffix}`
    }
  },
  data: () => ({
    inputNewPassword: "",
    isVerifyingToken: undefined,
    isLoading: true
  }),
  mixins: [ErrorMessageMixin],
  computed: {
    ...mapGetters("project", ["getWebTitle", "getWebTitleWithSuffix"]),
    ...mapState("i18n", { i18n: state => state.data.Main }),
    ...mapState("member", ["loginToken", "nickname", "id"]),
    ...mapState("error", ["resetPasswordToken"]),
    isDisplayContent() {
      return this.resetPasswordToken.hasError === false && this.isVerifyingToken === false
    }
  },
  methods: {
    setNewPassword(data) {
      this.inputNewPassword = data
    },
    successWithLogin(data) {
      const userData = {
        nickname: data.nickname,
        loginToken: data.loginToken,
        forceChangePassword: data.forceChangePassword,
        id: data.id
      }

      this.$store.dispatch("member/setUserLoginData", userData)
      this.$router.replace({ name: "index" })
    },
    async validatePassword() {
      const result = await Promise.all([this.$refs["password"].validate(), this.$refs["passwordConfirm"].validate()])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async resetUserPassword() {
      const validResult = await this.validatePassword()

      if (validResult !== true) return

      try {
        this.isLoading = true
        let result = undefined
        let loginData = undefined

        const payload = {
          newPassword: this.inputNewPassword,
          resetPasswordToken: this.$route.query.verificationCode
        }

        result = await resetPasswordByToken(payload)
        loginData = { ...result.data }

        if (result.exitCode === true) {
          this.successWithLogin(loginData)
        } else {
          throw new Error(this.parseErrorMessage(result))
        }
      } catch (err) {
        this.$store.dispatch("error/setForceResetPasswordError", err)
        const notifyUserMessage = new Error("請重新寄送驗證連結")

        const redirectPageCallback = () => {
          this.showErrorMessage(notifyUserMessage, () => {
            this.$router.push({ name: "ForgetPassword" })
          })
        }

        this.showErrorMessage(err, redirectPageCallback)
      } finally {
        this.isLoading = false
      }
    },
    async verifyResetPasswordToken() {
      try {
        this.isLoading = true
        const resetPasswordToken = this.$route.query.verificationCode || undefined
        const result = await verifyResetPasswordToken(resetPasswordToken)
        if (result.exitCode !== true) throw new Error(this.parseErrorMessage(result))
      } catch (err) {
        // Not display Error
        console.log(err)
        this.$store.dispatch("error/setResetPasswordTokenError", err)
      } finally {
        this.isLoading = false
        this.isVerifyingToken = false
      }
    }
  },
  async created() {
    await this.verifyResetPasswordToken()
  }
}
</script>

<style lang="stylus">
.force-reset-password
  &__submit
    margin-top 2rem
</style>
