<template lang="pug">
GameRecordsReport(
  :reportTableHeaders="reportTableHeaders"
)
</template>

<script>
import GameRecordsReport from "@/components/common/GameRecords/AgentReport.vue"
import { mapState } from "vuex"

export default {
  components: {
    GameRecordsReport
  },
  computed: {
    ...mapState("i18n", { i18n: state => state.data.Main }),
    reportTableHeaders() {
      return [
        { label: this.i18n.label.HALL, name: "gameHall", QA_CSS: "_Room" },
        { label: this.i18n.label.GAME_TYPES, name: "gameType", QA_CSS: "_gameType" },
        { label: this.i18n.label.GAME_TABLE_TYPES, name: "gameTable", QA_CSS: "_tableType" },
        { label: this.i18n.label.TABLE_NUMBER, name: "gameTableCode", QA_CSS: "_tableId" },
        { label: this.i18n.label.BOOT_NUMBER, name: "gameShoeNumber", QA_CSS: "_shoeNo" },
        { label: this.i18n.label.ROUND_NUMBER, name: "gameRoundNumber", QA_CSS: "_roundNo" },
        { label: this.i18n.label.GAME_ROUND_END_TIME, name: "gameRoundStartTime", QA_CSS: "_gameRoundStartTime" },
        { label: this.i18n.label.OPEN_CARD, name: "gameResult", QA_CSS: "_gameResult" },
        { label: this.i18n.label.STATUS, name: "gameStateText", QA_CSS: "_status" }
      ]
    }
  }
}
</script>

<style lang="stylus">
.game-records
  &__row
    grid-template-columns repeat(3, 140px) repeat(3, 110px) repeat(2, 165px) 100px
</style>
