<template lang="pug">
.member-bet-records
  Navbar(:prop_nav="navbarItems")
  .main
    .header
      h1.header__title(id="labTitleInBetOrder") {{ i18n.title.MEMBER_BET_RECORDS }}

    HeaderDateSearchNotice(
      :maxRange="maxSearchDayRange"
      :dateRange="searchRangeDays"
    )

    .search-bar
      .filter-types
        .filter-types__button(
          v-for="{ code, label, domId } in filterTypeList"
          :key="code"
          :class="[current.filterTypeCode === code ? 'filter-types__button--active' : '']"
          @click="switchFilterTypes(code)"
          :id="domId"
        ) {{ label }}

      .filter-contents
        .filter-controllers(v-if="current.filterTypeCode === 'ORDER_SN' ")
          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ i18n.label.ORDER_NUMBER }}*
            GameOrderNumberInput(
              domId="iptBetOrderNoInBetOrder"
              @input="setGameOrderNumber"
              ref="ORDER_SN"
            )

        .filter-controllers(v-if="current.filterTypeCode === 'TIME_RANGE' ")
          .filter-controllers__group
            DateRangeSwitch(
              :domIdMap="dateRangeSwitchDomIdList"
              :timeMenu="dateRangeSwitchMenu"
              @changeDateRangeOfStartDay="changeDateRangeOfStartDay"
              @changeDateRangeOfEndDay="changeDateRangeOfEndDay"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.START_TIME }}
            DatePicker2(
              domId="btnStartTimeInBetOrder"
              :isOnlyHoursOfTime="false"
              :defaultDate="startTimeOfToday"
              :enabledRange="startDateEnabledRange"
              @select="setStartDate"
              ref="startDate"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.END_TIME }}
            DatePicker2(
              domId="btnEndTimeInBetOrder"
              :class="[isSearchTimeDatesError === true ? 'is-invalid' : '']"
              :isOnlyHoursOfTime="false"
              :defaultDate="endTimeOfTodayOnlySelectHours"
              @select="setEndDate"
              ref="endDate"
            )

          template(v-if="isOverlord === true")
            .filter-controllers__group
              label.filter-controllers__label--top {{ i18n.label.CURRENCY }}
              AgentCurrencySelect(
                domId="AgentCurrencySelect"
                @select="setCurrencyAgentGroupId"
              )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.HALL }}
            GameHallSelect(
              domId="selRoomInBetOrder"
              @select="setGameHall"
              @getGameHallList="setGameHallList"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.GAME_TYPES }}
            GameTypeSelect(
              domId="selGameSetsInBetOrder"
              @select="setGameType"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ i18n.label.MEMBER_ACCOUNT }}*
            AdvancedInput(
              domId="iptMemberAcctInBetOrder"
              :minlength="4"
              :maxlength="20"
              :regex="/^[0-9a-zA-Z_-]{4,20}$/"
              @input="setPlayerAccount"
              ref="playerAccountInput"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.ORDER_STATUS }}
            GameOrderStateSelect(
              domId="selBetOrderStatusInBetOrder"
              @select="setGameOrderState"
              ref="gameResultState"
              :isDefaultSelectedAll="isSelectAllGameOrderStatesOnStart"
            )

          template(v-if="isOverlord === true")
            .search-bar__button(@click="requestDownloadCSV") CSV

        .filter-controllers(v-if="current.filterTypeCode === 'GAME_ROUND' ")

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.HALL }}
            GameHallSelect(
              domId="selRoomInGameNoInBetOrder"
              @select="setGameHall"
              @getGameHallList="setGameHallList"
              ref="gameHallSelect"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ `${i18n.label.TABLE_NUMBER}*` }}
            GameDeskCodeInput(
              domId="iptTableNoInBetOrder"
              @input="setGameDeskCode"
              ref="gameDeskCode"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ `${i18n.label.BOOT_NUMBER}*` }}
            GameShoesNumberInput(
              domId="iptBootNoInBetOrder"
              @input="setGameShoesNumber"
              ref="gameShoesNumber"
            )

          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ `${i18n.label.ROUND_NUMBER}*`  }}
            GameRoundNumberInput(
              domId="iptGameNoInBetOrder"
              @input="setGameRoundNumber"
              ref="gameRoundNumber"
            )

          .filter-controllers__group
            label.filter-controllers__label--top {{ i18n.label.MEMBER_ACCOUNT }}*
            AdvancedInput(
              domId="iptMemberAcctInGameNoInBetOrder"
              :minlength="4"
              :maxlength="20"
              :regex="/^[0-9a-zA-Z_-]{4,20}$/"
              @input="setPlayerAccount"
              ref="playerAccountInput"
            )

        .filter-controllers(v-if="current.filterTypeCode === 'TRANSACTION_SN' ")
          .filter-controllers__group
            label.filter-controllers__label--top.is-required {{ i18n.label.TRANSACTION_NUMBER }}*
            OrderTransactionNumberInput(
              domId="iptTransitNoInBetOrder"
              @input="setOrderTransactionNumber"
              ref="TRANSACTION_SN"
            )

        .search-bar__button(
          id="btnSearchInBetOrder"
          @click="submitSearch"
        ) {{ i18n.label.SEARCH }}

    .search-bar-notice(v-if="isSearchTimeDatesError === true") {{ i18n.label.TIME_RANGE_SELECT_ERROR }}

    BetStatisticBar(
      :totalBets="betStatisticData.totalBets"
      :validBets="betStatisticData.validBets"
      :payout="betStatisticData.payout"
      :winLossAmount="betStatisticData.winLossAmount"
      :totalBetsOfPage="betStatisticData.totalBetsOfPage"
      :validBetsOfPage="betStatisticData.validBetsOfPage"
      :winLossAmountOfPage="betStatisticData.winLossAmountOfPage"
      :payoutOfPage="betStatisticData.payoutOfPage"
      :domIdList="betStatisticBar.domId"
      :isActiveProfit="false"
      :isTotalOfPage="true"
    )

    .search-result
      template(v-if="reportTableRows.length === 0")
        .search-result__default-content(
          id="divNoResult"
          v-if="isSearchResultEmpty === true"
        ) {{ i18n.label.DATA_EMPTY }}

        .search-result__default-content(v-else) {{ i18n.label.SEARCH_CONDTIONS_REQUIRED }}

      template(v-else)
        .report-table(id="tabBetOrderListInBetOrder")

          .report-table__row.member-bet-records__row
            .report-table__header-cell(
              v-for="h in reportTableHeaders"
              :class="h.QA_CSS"
            ) {{ h.label }}

          .report-table__row.member-bet-records__row(v-for="row, index in reportTableRows")
            template(v-for="(value, key) in row")
              .report-table__cell(
                v-if="noticeColorColumns.includes(key) === true"
                :class="getCSSForQA(key, reportTableHeaders)"
              )
                span(:class="getPayoutColorClass(value)")
                  | {{ value }}

              .report-table__cell(
                v-else-if="key === 'gameResult'"
                :class="getCSSForQA(key, reportTableHeaders)"
              )
                span.no-game-result(v-if="value.state === 2") -

                span.member-bet-records__column-result.is-clickable(
                  v-else
                  @click="showFancyResult(index)"
                ) {{ value.label }}

                  FancyGameResultTableColumn(
                    :gameType="value.type"
                    :gameData="value.componentProps"
                    :domIdList="gameFancyResult.domId"
                    :isDisplay="fancyResultIndex === index"
                  )

              .report-table__cell.member-bet-records__column-video-link(
                v-else-if="key === 'streamUrl'"
                :class="getCSSForQA(key, reportTableHeaders)"
              )
                span(@click="openStreamUrl(index)") {{ value.label }}
                  el-dialog(
                    :visible="streamUrlIndex === index"
                    width="850px"
                    custom-class="member-bet-records__video-modal"
                    :close-on-click-modal="true"
                    :show-close="true"
                    center
                  )
                    // Load stream url and auto play
                    video(
                      controls
                      width="750"
                      :autoplay="true"
                    )
                      source(
                        src="/media/dummy.mp4"
                        type="video/mp4"
                      )

              .report-table__cell.member-bet-records__column-transaction-id(
                v-else-if="key === 'transaction'"
                :class="getCSSForQA(key, reportTableHeaders)"
              )
                el-popover(
                  v-show="value.walletId === 1"
                  placement="bottom-end"
                  trigger="hover"
                  :open-delay="200"
                )
                  .popover_transactions
                    div.popover__transactions-list(v-for="x in transactionDetailList") {{ x }}

                  template(slot="reference")
                    span(
                      @mouseover="searchTransactionDetail(value.id, 200)"
                    ) {{ value.label }}


              .report-table__cell(
                v-else
                :class="getCSSForQA(key, reportTableHeaders)"
              ) {{ value }}

        Pagination(
          v-if="current.totalPagings > 1"
          :domIdList="paginations.domId"
          :totalPagings="current.totalPagings"
          :pagingIndex="current.pagingIndex"
          @change="searchWithPagingIndex"
        )

  LoadingLock(:isStartLoadingLock="isLoading")
</template>

<script>
import { mapState, mapGetters } from "vuex"
import Navbar from "@/components/basic/nav.vue"
import Pagination from "@/components/basic/Paginations.vue"
import DateRangeSwitch from "@/components/switches/DateRange.vue"
import GameHallSelect from "@/components/selects/GameHall.vue"
import GameTypeSelect from "@/components/selects/GameType.vue"
import GameOrderStateSelect from "@/components/selects/GameOrderState.vue"
import AdvancedInput from "@/components/inputs/Advanced.vue"
import GameOrderNumberInput from "@/components/inputs/GameOrderNumber.vue"
import OrderTransactionNumberInput from "@/components/inputs/OrderTransactionNumber.vue"
import GameShoesNumberInput from "@/components/inputs/GameShoesNumber.vue"
import GameRoundNumberInput from "@/components/inputs/GameRoundNumber.vue"
import GameDeskCodeInput from "@/components/inputs/GameDeskCode.vue"
import LoadingLock from "@/components/basic/LoadingLock.vue"
import FancyGameResultTableColumn from "@/components/common/FancyGameResult/TableColumn.vue"
import { getLocalTimeString, formatToUTCTimeString } from "@/libs/time.js"
import {
  getOrdersByTimeRange,
  getOrdersByOrderNumber,
  getOrdersByTransactionNumber,
  getOrdersByGameRound
} from "@/api/Report.js"
import { getGameOrderDetail, getGameHallList } from "@/api/Game.js"
import GameResultMixin from "@/mixins/GameResult.js"
import { computed as ReportPageMixinComputed, methods as ReportPageMixinMethods } from "@/mixins/ReportPage.js"
import { methods as I18nMethodsMixin } from "@/mixins/I18n.js"
import { parseAPIString } from "@/libs/string.js"
import DatePicker2 from "@/components/selects/DatePicker2.vue"
import AgentCurrencySelect from "@/components/selects/AgentCurrency.vue"
import Storage from "@/libs/storage.js"
import HeaderDateSearchNotice from "@/components/common/HeaderDateSearchNotice.vue"
import BetStatisticBar from "@/components/common/BetStatisticBar.vue"

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.i18n.title.MEMBER_BET_RECORDS}${this.getWebTitleWithSuffix}`
    }
  },
  props: {
    reportTableHeaders: { type: Array, required: true },
    isActiveVideoColumn: { type: Boolean, default: false }
  },
  mixins: [GameResultMixin, ReportPageMixinComputed, ReportPageMixinMethods, I18nMethodsMixin],
  components: {
    Navbar,
    Pagination,
    GameHallSelect,
    GameTypeSelect,
    GameOrderStateSelect,
    DateRangeSwitch,
    AdvancedInput,
    GameOrderNumberInput,
    OrderTransactionNumberInput,
    GameShoesNumberInput,
    GameRoundNumberInput,
    GameDeskCodeInput,
    FancyGameResultTableColumn,
    LoadingLock,
    DatePicker2,
    AgentCurrencySelect,
    HeaderDateSearchNotice,
    BetStatisticBar
  },
  watch: {
    dateRangeDays: function() {
      this.validSearchTimeSelects()
    }
  },
  created() {
    this.current.filterTypeCode = this.filterTypeList[0].code
  },
  beforeDestroy() {
    this.clearCacheSearchConditions()
  },
  async mounted() {
    // Hotfixes
    const result = await getGameHallList(this.loginToken)

    if (result.data.themes.length > 0) {
      const mapping = result.data.themes.flatMap(x => {
        const label = this.gameHallNameMapping(x.title)
        return { uid: x.uid, label: label }
      })

      this.setGameHallList(mapping)
    } else {
      this.setGameHallList([])
    }

    if (this.isCacheSearchConditionsExist === true) {
      const { startDate, endDate, playerAccount, gameOrderStates } = this.memberBetRecordsListSearchConditions

      // mapping data
      this.changeDateRangeOfStartDay(startDate)
      this.changeDateRangeOfEndDay(endDate)
      this.$refs.playerAccountInput.setValue(playerAccount)

      // select game order states from cache store
      this.isSelectAllGameOrderStatesOnStart = false
      this.$refs.gameResultState.setValue(gameOrderStates)

      // fetch
      await this.fetchSearchResult({ isSearchWithCacheConditions: true })

      // reset select state
      this.isSelectCurrencyAndTopAgentOnStart = true
    } else {
      this.current.filterTypeCode = this.filterTypeList[0].code
    }
  },
  data: () => ({
    current: {
      filterTypeCode: "",
      gameHall: "",
      gameType: "",
      playerAccount: "",
      startDate: undefined,
      endDate: undefined,
      orderTransactionNumber: "",
      gameOrderNumber: "",
      gameShoesNumber: "",
      gameRoundNumber: "",
      gameDeskCode: "",
      gameOrderStates: "",
      itemsPerPage: 20,
      pagingIndex: 0,
      totalPagings: -1,
      agentGroupUid: undefined
    },
    gameHallList: [],
    fancyResultIndex: -1,
    streamUrlIndex: -1,
    transactionDetails: [],
    isLoading: false,
    isSearchResultEmpty: false,
    isSelectAllGameOrderStatesOnStart: true,
    resultRows: [],
    noticeColorColumns: ["winLossAmount", "payout"],
    searchRangeDays: 7,
    maxSearchDayRange: 90,
    isSearchTimeDatesError: false,
    betStatisticData: {
      totalBets: 0,
      validBets: 0,
      payout: 0,
      winLossAmount: 0,
      totalBetsOfPage: 0,
      validBetsOfPage: 0,
      payoutOfPage: 0,
      winLossAmountOfPage: 0
    }
  }),
  computed: {
    ...mapGetters("project", ["getWebTitleWithSuffix"]),
    ...mapState("i18n", { i18n: state => state.data.Main, i18nSite: state => state.data.Site }),
    ...mapState("member", ["loginToken", "agentGroupUid"]),
    ...mapState("timezone", ["currentTimezoneCode"]),
    ...mapGetters("member", ["isOverlord"]),
    ...mapState("cache", {
      memberBetRecordsListSearchConditions: state => {
        return state.searchConditions.memberBetRecords.list
      }
    }),
    isCacheSearchConditionsExist() {
      if (Object.keys(this.memberBetRecordsListSearchConditions).length > 0) {
        return true
      } else {
        return false
      }
    },
    gameFancyResult() {
      return {
        domId: {
          wrapper: "divGameResultInBetOrder",
          gameTitle: "labGameTypeInGameResultInBetOrder",
          gameHallTitle: "labRoomInGameResultInBetOrder",
          gameTableTitle: "labTableInGameResultInBetOrder",
          gameShoeTitle: "labShoeInGameResultInBetOrder",
          gameRoundTitle: "labRoundInGameResultInBetOrder"
        }
      }
    },
    paginations() {
      return {
        domId: {
          firstPage: "btnFirstPageInBetOrder",
          previousPage: "btnPrevPageInBetOrder",
          inputPage: "iptPageInBetOrder",
          actionButton: "btnSearchPageInBetOrder",
          nextPage: "btnNextPageInBetOrder",
          lastPage: "btnLastPageInBetOrder"
        }
      }
    },
    betStatisticBar() {
      return {
        domId: {
          totalBets: "labBetAmountInBetOrder",
          validBets: "labValueBetInBetOrder",
          payout: "labResultAmountInBetOrder",
          totalBetsOfPage: "labPageBetAmountInBetOrder",
          validBetsOfPage: "labPageValueBetInBetOrder",
          payoutOfPage: "labPageResultAmountInBetOrder"
        }
      }
    },
    transactionDetailList() {
      if (this.transactionDetails && this.transactionDetails.length > 0) {
        return this.transactionDetails.map(x => `${x.betAmount} , ${x.uid}`)
      } else {
        return []
      }
    },
    reportTableRows() {
      if (this.resultRows.length > 0) {
        return this.resultRows.map(x => {
          let videoData = {}

          if (this.isActiveVideoColumn === true) {
            videoData = { streamUrl: { url: x.streamUrl, label: this.i18n.label.VIDEO } }
          }

          const gameResult = parseAPIString(x.result)
          const [{ label: gameHall }] = this.gameHallList.filter(g => g.uid === x.themeUid)
          const gameType = this.gameTypeNameMapping(x.gameSetAlias)
          const orderStatusId = parseInt(x.state)
          const orderStatus = this.orderStatusNameMapping(orderStatusId)
          const betArea = this.betAreaNameMapping(x.betAreaAlias)

          const result = {
            playerAccount: x.playerAccount,
            transactionNumber: x.betNo,
            gameHall: gameHall,
            gameType: gameType ? gameType : x.gameSetTitle,
            gameTableCode: x.tableFrontId,
            gameShoeNumber: x.shoeNo,
            gameRoundNumber: x.roundNo,
            gameResult: {
              type: x.gameSetAlias,
              label: this.parseGameResult(gameResult, x.gameSetAlias),
              state: orderStatusId,
              componentProps: {
                gameType: gameType ? gameType : x.gameSetTitle,
                gameHall: gameHall,
                gameTableCode: x.tableFrontId,
                gameShoeNumber: x.shoeNo,
                gameRoundNumber: x.roundNo,
                gameResult: { value: gameResult }
              }
            },
            betArea: betArea,
            totalBets: this.getLocaleNumberFormat(x.betAmount),
            validBets: this.getLocaleNumberFormat(x.validBetAmount),
            payout: this.getPayoutFormatString(x.winAmount),
            winLossAmount: this.getPayoutFormatString(x.winLossAmount),
            gameBetTime: getLocalTimeString(formatToUTCTimeString(x.betTime)),
            gameStateText: orderStatus,
            ...videoData,
            transaction: {
              id: x.betNo,
              walletId: parseInt(x.walletId),
              label: this.i18n.label.DETAILS
            }
          }

          return result
        })
      } else {
        return []
      }
    },
    navbarItems() {
      return [
        { title: this.i18nSite.label.REPORT_PAGES, islink: false, path: "" },
        { title: this.i18n.title.MEMBER_BET_RECORDS, islink: true, path: this.$route.path }
      ]
    },
    dateRangeSwitchMenu() {
      return [
        { code: "TODAY", label: this.i18n.label.TODAY },
        { code: "YESTERDAY", label: this.i18n.label.YESTERDAY },
        { code: "THIS_WEEK", label: this.i18n.label.THIS_WEEK },
        { code: "LAST_WEEK", label: this.i18n.label.LAST_WEEK }
      ]
    },
    dateRangeSwitchDomIdList() {
      return {
        TODAY: "btnTodayInBetOrder",
        YESTERDAY: "btnYesterdayInBetOrder",
        THIS_WEEK: "btnThisWeekInBetOrder",
        LAST_WEEK: "btnLastWeekInBetOrder"
      }
    },
    filterTypeList() {
      return [
        { code: "ORDER_SN", label: this.i18n.label.ORDER_NUMBER, domId: "btnBetOrderNoInBetOrder" },
        { code: "TIME_RANGE", label: this.i18n.label.TIME, domId: "btnTimeInBetOrder" },
        { code: "GAME_ROUND", label: this.i18n.label.GAME_ROUND_NUMBER, domId: "btnGameNoInBetOrder" },
        { code: "TRANSACTION_SN", label: this.i18n.label.TRANSACTION_NUMBER, domId: "btnTransitNoInBetOrder" }
      ]
    }
  },
  methods: {
    setGameHallList(data) {
      this.gameHallList = [...data]
    },
    setCurrencyAgentGroupId(data) {
      this.current.agentGroupUid = data
    },
    openStreamUrl(index) {
      if (this.streamUrlIndex === index) {
        this.streamUrlIndex = -1
      } else {
        this.streamUrlIndex = index
      }
    },
    showFancyResult(index) {
      if (this.fancyResultIndex === index) {
        this.fancyResultIndex = -1
      } else {
        this.fancyResultIndex = index
      }
    },
    async searchWithPagingIndex(index) {
      const pagingIndex = parseInt(index)
      this.current.pagingIndex = pagingIndex

      if (this.isCacheSearchConditionsExist === true) {
        const cacheData = this.memberBetRecordsListSearchConditions

        const payload = Object.assign({}, { ...cacheData }, { pagingIndex: pagingIndex })

        this.saveCacheSearchConditions(payload)
      }

      await this.fetchSearchResult({ isSearchWithCacheConditions: true })
    },
    async searchTransactionDetail(orderNumber, delay = 200) {
      // Clear old result
      this.transactionDetails = []

      // Debounce this function to prevent
      if (this.timeout) clearTimeout(this.timeout)
      this.timeout = setTimeout(async () => {
        // your action
        try {
          const payload = { orderNumber }
          const result = await getGameOrderDetail(this.loginToken, payload)

          this.transactionDetails = result.data
        } catch (err) {
          this.transactionDetails = []
        }
      }, delay)
    },
    changeDateRangeOfStartDay(date) {
      this.$refs.startDate.setDate(date)
    },
    changeDateRangeOfEndDay(date) {
      this.$refs.endDate.setDate(date)
    },
    setGameOrderState(payload) {
      this.current.gameOrderStates = payload
    },
    setGameRoundNumber(payload) {
      this.current.gameRoundNumber = payload
    },
    setGameDeskCode(payload) {
      this.current.gameDeskCode = payload
    },
    setGameShoesNumber(payload) {
      this.current.gameShoesNumber = payload
    },
    setOrderTransactionNumber(payload) {
      this.current.orderTransactionNumber = payload
    },
    setGameOrderNumber(payload) {
      this.current.gameOrderNumber = payload
    },
    setPlayerAccount(payload) {
      this.current.playerAccount = payload
    },
    setGameType(payload) {
      this.current.gameType = payload
    },
    setGameHall(payload) {
      this.current.gameHall = payload
    },
    setBetStatisticData(payload) {
      this.betStatisticData.totalBets = payload.betAmount
      this.betStatisticData.validBets = payload.validBetAmount
      this.betStatisticData.payout = payload.winAmount
      this.betStatisticData.winLossAmount = payload.winLossAmount
    },
    setBetStatisticDataOfPage(payload) {
      payload.forEach(x => {
        this.betStatisticData.totalBetsOfPage += Number(x.betAmount)
        this.betStatisticData.validBetsOfPage += Number(x.validBetAmount)
        this.betStatisticData.payoutOfPage += Number(x.winAmount)
        this.betStatisticData.winLossAmountOfPage += Number(x.winLossAmount)
      })
    },
    resetBetStatisticData() {
      const defaultValue = 0
      this.betStatisticData.totalBets = defaultValue
      this.betStatisticData.validBets = defaultValue
      this.betStatisticData.payout = defaultValue
      this.betStatisticData.winLossAmount = defaultValue
      this.betStatisticData.totalBetsOfPage = defaultValue
      this.betStatisticData.validBetsOfPage = defaultValue
      this.betStatisticData.payoutOfPage = defaultValue
      this.betStatisticData.winLossAmountOfPage = defaultValue
    },
    setPaginations(payload) {
      this.current.totalPagings = payload.pageCount
      this.current.pagingIndex = payload.pageIndex
    },
    resetPaginations() {
      const defaultValue = 0
      this.current.totalPagings = defaultValue
      this.current.pagingIndex = defaultValue
    },
    saveCacheSearchConditions(payload) {
      this.$store.dispatch("cache/setMemberBetRecordsListSearchConditions", payload)
    },
    clearCacheSearchConditions() {
      this.$store.dispatch("cache/removeMemberBetRecordsListSearchConditions")
    },
    switchFilterTypes(filterTypeCode) {
      const list = this.filterTypeList.map(x => x.code)

      if (list.includes(filterTypeCode)) {
        this.current.filterTypeCode = filterTypeCode
        this.isSearchResultEmpty = false
      }
    },
    async validFilterOrderNumber() {
      const result = await this.$refs["ORDER_SN"].validate()
      return result.valid === true
    },
    async validFilterOrderTransaction() {
      const result = await this.$refs["TRANSACTION_SN"].validate()
      return result.valid === true
    },
    async validFilterGameRound() {
      const result = await Promise.all([
        this.$refs["playerAccountInput"].validate(),
        this.$refs["gameRoundNumber"].validate(),
        this.$refs["gameShoesNumber"].validate(),
        this.$refs["gameDeskCode"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid
    },
    async validFilterTimeRange() {
      const result = await Promise.all([
        this.$refs["playerAccountInput"].validate(),
        this.$refs["startDate"].validate(),
        this.$refs["endDate"].validate()
      ])
      const isAllValid = result.every(x => x.valid === true)
      return isAllValid && this.isSearchTimeDatesError === false
    },
    async checkPayloadValidByFilterTypes(code) {
      switch (code) {
        case "ORDER_SN":
          return await this.validFilterOrderNumber()
        case "TIME_RANGE":
          return await this.validFilterTimeRange()
        case "GAME_ROUND":
          return await this.validFilterGameRound()
        case "TRANSACTION_SN":
          return await this.validFilterOrderTransaction()
      }
    },
    resetSearchResult() {
      //reset to default view
      this.resultRows = []
      this.resetPaginations()
      this.resetBetStatisticData()
    },
    async requestByFilterTypes(code, payload) {
      const loginToken = this.loginToken

      switch (code) {
        case "ORDER_SN":
          return await getOrdersByOrderNumber(loginToken, payload)
        case "TIME_RANGE":
          return await getOrdersByTimeRange(loginToken, payload)
        case "GAME_ROUND":
          return await getOrdersByGameRound(loginToken, payload)
        case "TRANSACTION_SN":
          return await getOrdersByTransactionNumber(loginToken, payload)
      }
    },
    async submitSearch() {
      const code = this.current.filterTypeCode
      // validate all require inputs by filter-types
      const validResult = await this.checkPayloadValidByFilterTypes(code)

      if (validResult === true) {
        if (this.isOverlord === false) {
          this.current.agentGroupUid = this.agentGroupUid
        }

        await this.fetchSearchResult()
      }
    },
    getFetchListPayload({ isFromCacheConditions = false } = {}) {
      if (isFromCacheConditions === true && this.isCacheSearchConditionsExist === true) {
        return {
          ...this.memberBetRecordsListSearchConditions
        }
      } else {
        return {
          ...this.current
        }
      }
    },
    async requestDownloadCSV() {
      const code = this.current.filterTypeCode
      const validResult = await this.checkPayloadValidByFilterTypes(code)

      if (validResult === false) return

      this.isLoading = true

      try {
        const hash = new Date().getTime()
        const key = "getMemberBetRecordsByTimeRangeCSV"
        const filename = `${this.i18n.title.MEMBER_BET_RECORDS}.csv`

        const payload = {
          hash,
          key,
          filename,
          ...this.current,
          timezoneCode: this.currentTimezoneCode
        }

        Storage.setItem("download", payload)

        window.open("/download", "download " + hash).focus()
      } catch (err) {
        console.log(err)
      } finally {
        this.isLoading = false
      }
    },
    async fetchSearchResult({ isSearchWithCacheConditions = false } = {}) {
      this.isLoading = true

      try {
        this.resetSearchResult()

        const payloadConfig = { isFromCacheConditions: isSearchWithCacheConditions }
        const payload = this.getFetchListPayload(payloadConfig)

        const { exitCode, data } = await this.requestByFilterTypes(payload.filterTypeCode, payload)

        if (exitCode === true && data.rows.length > 0) {
          this.isSearchResultEmpty = false

          this.resultRows = data.rows
          this.setPaginations(data.pagination)
          this.setBetStatisticData(data.extra)
          this.setBetStatisticDataOfPage(data.rows)

          if (isSearchWithCacheConditions === false) {
            this.saveCacheSearchConditions(payload)
          }
        } else {
          throw new Error("No return data")
        }
      } catch (err) {
        this.resetSearchResult()
        this.clearCacheSearchConditions()
        this.isSearchResultEmpty = true
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>

<style lang="stylus">
.member-bet-records
  &__column-transaction-id, &__column-result, &__column-video-link
    color #303f9f
    text-decoration underline
    font-weight bold

  &__column-transaction-id
    cursor text

  &__column-result, &__column-video-link
    cursor pointer

  &__video-modal
    display flex
    justify-content center
    align-items center
    background #cccccc
</style>
