<template lang="pug">
.time-switch-menu
  .button.time-switch-menu__item(
    v-for="{ code, label } in timeMenu"
    :key="code"
    :class="[current.timeCode === code ? 'time-switch-menu__item--active' : '']"
    @click="switchTimeMenu(code)"
    :id="domIdMap[code]"
  ) {{ label }}
</template>

<script>
import { mapState } from "vuex"
import {
  getFirstDateOfThisWeek,
  getFirstDateOfThisMonth,
  getFirstDateOfLastMonth,
  getLastDateOfLastMonth,
  getFirstDateOfLastWeek,
  getLastDateOfLastWeek,
  getDateWithStartTime,
  getDateWithEndTime
} from "@/libs/time.js"

export default {
  mounted() {
    const code = this.timeMenu[0].code
    this.current.timeCode = code
    this.switchTimeMenu(code)
  },
  props: {
    domIdMap: { type: Object, required: true },
    isDisableToday: { type: Boolean, default: false },
    timeMenu: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    current: { timeCode: "" }
  }),
  computed: {
    ...mapState("i18n", { i18n: state => state.data.DateRangeSwitch }),
    ...mapState("timezone", ["currentTimezoneCode"])
  },
  methods: {
    switchTimeMenu(timeCode) {
      const list = this.timeMenu.map(x => x.code)

      if (list.includes(timeCode)) {
        this.current.timeCode = timeCode
        const config = { isDisableToday: this.isDisableToday }

        switch (timeCode) {
          case "TODAY":
            this.setDateRangeToday()
            break
          case "YESTERDAY":
            this.setDateRangeYesterday()
            break
          case "THIS_WEEK":
            this.setDateRangeThisWeek(config)
            break
          case "LAST_WEEK":
            this.setDateRangeLastWeek()
            break
          case "THIS_MONTH":
            this.setDateRangeThisMonth(config)
            break
          case "LAST_MONTH":
            this.setDateRangeLastMonth()
            break
        }
      }
    },
    changeDateRange(startDate, endDate) {
      this.$emit("changeDateRangeOfStartDay", startDate)
      this.$emit("changeDateRangeOfEndDay", endDate)
    },
    switchTimeCode(switchCode) {
      this.$emit("menuSwitch", switchCode)
      this.current.timeCode = switchCode
    },
    setDateRangeToday() {
      const todayStart = getDateWithStartTime()
      const todayEnd = getDateWithEndTime()
      this.changeDateRange(todayStart, todayEnd)
    },
    setDateRangeYesterday() {
      const date = getDateWithStartTime()
      date.setDate(date.getDate() - 1)
      const today = getDateWithStartTime()

      this.changeDateRange(date, today.setTime(today.getTime() - 1))
    },
    setDateRangeThisWeek({ isDisableToday = false } = {}) {
      if (isDisableToday === true) {
        const date = new Date()
        const dayOfWeek = date.getDay()

        if (dayOfWeek === 0) {
          this.setDateRangeYesterday()

          const switchCode = "YESTERDAY"
          this.switchTimeCode(switchCode)
        } else {
          date.setDate(date.getDate() - 1)
          const startDate = getFirstDateOfThisWeek(date)
          const endDate = date
          this.changeDateRange(getDateWithStartTime(startDate), endDate)
        }
      } else {
        const startDate = getFirstDateOfThisWeek()
        const endDate = getDateWithEndTime()
        startDate.setHours(0, 0, 0, 0)
        this.changeDateRange(startDate, endDate)
      }
    },
    setDateRangeLastWeek() {
      const startDate = getFirstDateOfLastWeek()
      const endDate = getLastDateOfLastWeek()
      startDate.setHours(0, 0, 0, 0)
      endDate.setHours(23, 59, 59, 999)
      this.changeDateRange(startDate, endDate)
    },
    setDateRangeThisMonth({ isDisableToday = false } = {}) {
      if (isDisableToday === true) {
        const date = new Date()
        const dayOfMonth = date.getDate()
        if (dayOfMonth === 1) {
          this.setDateRangeYesterday()

          const switchCode = "YESTERDAY"
          this.switchTimeCode(switchCode)
        } else {
          date.setDate(date.getDate() - 1)
          const startDate = getFirstDateOfThisMonth(date)
          const endDate = date
          this.changeDateRange(getDateWithStartTime(startDate), getDateWithEndTime(endDate))
        }
      } else {
        const startDate = getFirstDateOfThisMonth()
        const endDate = getDateWithEndTime()
        startDate.setHours(0, 0, 0, 0)
        this.changeDateRange(startDate, endDate)
      }
    },
    setDateRangeLastMonth() {
      const startDate = getFirstDateOfLastMonth()
      const endDate = getLastDateOfLastMonth()
      startDate.setHours(0, 0, 0, 0)
      endDate.setHours(23, 59, 59, 999)
      this.changeDateRange(startDate, endDate)
    }
  }
}
</script>

<style lang="stylus">
.time-switch-menu
  display flex
  justify-content center

  &__item
    padding 0
    padding 0 0.5rem
    border-radius 0

    &--active
      background #666666
      color #ffffff

    &:nth-child(n)
      border-right none

    &:last-child
      border-right 1px solid #cccccc
</style>
